body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
		margin:0;
		padding:0;
	}
	table {
		border-collapse:collapse;
		border-spacing:0;
	}
	fieldset,img { 
		border:0;
	}
	address,caption,cite,code,dfn,em,strong,th,var {
		font-style:normal;
		font-weight:normal;
	}
	ol,ul {
		list-style:none;
	}
	caption,th {
		text-align:left;
	}
	h1,h2,h3,h4,h5,h6 {
		font-size:100%;
		font-weight:normal;
	}
	q:before,q:after {
		content:'';
	}
	abbr,acronym { 
		border:0;
	}
 	

	body {
		font-family : Arial;
		font-size: 12px;
		color : #222222;
	}
		
	a:link {
   margin-top: 1em;
	color: #00649d;
	text-decoration: none;
}
	a:visited {
		color: #00649d;
	}
	a:hover {
		color: #00649d;
		text-decoration: underline;
	}
   a:active {
		color: #00649d;
	}

	
	.kc_welcome {
		width: 724px;
      display: inline-block;
		margin: 15px;
	}
	
	.kc_welcome h1 {
		font-family: Georgia;
		font-style: italic;
		color: #00649d;
		font-size: 21px;
		margin-bottom: 7px;
	}
	
	.kc_welcome_header {
		border: 1px solid #e5e5e5;
		background-image: url('background_pattern.png');
		background-repeat: repeat;
		margin-bottom: 7px;
		padding: 18px 30px;
	}
	
	.kc_welcome_box {
		width: 181px;
		float: left;
	}

	
	.kc_welcome_box p {
		line-height: 12px;
		margin-bottom: 12px;
	}
	
	.kc_welcome_box h2 {
		color: #00649D;
		font-weight: bold;
		font-style: italic;
		margin-top: 13px;
		margin-bottom: 10px;
		padding-left: 5px;
		padding-right: 15px;
	}
		
	strong.kc_welcome_category_head {
		color: #00649D;
		font-weight: bold;
		font-style: italic;
		margin-top: 13px;
		margin-bottom: 10px;
		padding-left: 0px;
		padding-right: 15px;
	}
	
	.kc_welcome_box h3 {
		color: #00649D;
		font-weight: bold;
		font-style: italic;
		margin-top: 13px;
		margin-bottom: 10px;
		padding-left: 5px;
		padding-right: 15px;
	}
	
	.kc_welcome_box_inner {
		border-left: 1px solid #e1e4e8;
		padding-left: 5px;
		padding-right: 15px;
	   margin-left: 0em;
	   margin-bottom: 0em;
	}
	
	.kc_welcome_link {
	   margin-left: 0em;
	   margin-top: 1em;
	}
	