<?xml version="1.0" encoding="UTF-8"?>
<!--
# Copyright (c) 2012-2021 Contributors to the Eclipse Foundation
# 
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
# 
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0
# 
# SPDX-License-Identifier: EPL-2.0
#
-->
<web-app id="ISMWebUI" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1">
	<display-name>${IMA_PRODUCTNAME_FULL} Web UI</display-name>
	<welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
	<security-role>
    	<role-name>SystemAdministrator</role-name>
	</security-role>
	<security-role>
    	<role-name>MessagingAdministrator</role-name>
 	</security-role>
  	<security-role>
    	<role-name>User</role-name>
  	</security-role>
  	<security-role>
    	<role-name>DenyAll</role-name>
  	</security-role>
  	<security-constraint>
        <web-resource-collection>
            <!-- don't restrict access to the login api -->
            <web-resource-name>restLogin</web-resource-name>
            <url-pattern>/rest/login</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
    </security-constraint>
  	<security-constraint>
    	<web-resource-collection>
      		<web-resource-name>restrict</web-resource-name>
      		<url-pattern>/*</url-pattern>
    	</web-resource-collection>
    	<auth-constraint>
      		<role-name>SystemAdministrator</role-name>
      		<role-name>MessagingAdministrator</role-name>
      		<role-name>User</role-name>
    	</auth-constraint>
    	<user-data-constraint>
      		<transport-guarantee>CONFIDENTIAL</transport-guarantee>
    	</user-data-constraint>    	
  	</security-constraint>
 	<security-constraint>
    	<web-resource-collection>
      		<web-resource-name>allow</web-resource-name>
      		<url-pattern>/__PATH_LABEL__/js/*</url-pattern>
      		<url-pattern>/__PATH_LABEL__/css/*</url-pattern>
      		<url-pattern>/css/*</url-pattern>
            <url-pattern>/favicon.ico</url-pattern>
            <url-pattern>/errorPage.html</url-pattern>
            <url-pattern>/runTests.html</url-pattern>      		
    	</web-resource-collection>
  	</security-constraint>
  	<security-constraint>
    	<web-resource-collection>
      		<web-resource-name>deny</web-resource-name>
      		<url-pattern>/Licenses/*</url-pattern>
    	</web-resource-collection>
    	<auth-constraint>
      		<role-name>DenyAll</role-name>
    	</auth-constraint>
  	</security-constraint>
  	<login-config>
    	<auth-method>FORM</auth-method>
    	<form-login-config>
      		<form-login-page>/login.jsp</form-login-page>
      		<form-error-page>/login.jsp?error</form-error-page>
    	</form-login-config>
  	</login-config>
  	
    <error-page>
  		<error-code>404</error-code>
  		<location>/errorPage.html</location>
    </error-page>

</web-app>
