apiVersion: v1
kind: Service
metadata:
  name: "{{ pair_name }}-{{ node_index}}-admin"
  namespace: "{{ _amlen_namespace }}"
spec:
  selector:
    statefulset.kubernetes.io/pod-name: "{{ pair_name }}-{{ node_index }}"
  ports:
{% for key, value in amlen_service_ports.items() %}
  - port: {{value}}
    type: NodePort
    name: "{{key}}"
{% endfor %}
