kind: Service
apiVersion: v1
metadata:
  name: "{{ name }}"
  namespace: "{{ _amlen_namespace }}"
  labels:
    app: "{{ name }}"
spec:
  clusterIP: None
  selector:
    app: "{{ name }}"
  publishNotReadyAddresses: True
