kind: Service
apiVersion: v1
metadata:
  name: ldap-service
  namespace: "{{ _amlen_namespace }}"
  labels:
    app: ldap
spec:
  clusterIP: None
  ports:
  - port: 1389
    name: ldap
  - port: 1636
    name: ldaps
  selector:
    app: ldap

