apiVersion: v1
kind: Service
metadata:
  name: "{{ pair_name }}-mqtt"
  namespace: "{{ _amlen_namespace }}"
spec:
  type: LoadBalancer
  externalTrafficPolicy: Cluster
  selector:
    app: "{{ pair_name }}"
  ports:
  - port: 8883
    name: mqtt-port 
    
