apiVersion: v1
kind: Service
metadata:
  name: "{{pair_name}}-mqtt"
  namespace: "{{ _amlen_namespace }}"
  labels:
    app: amlen-mqtt-external
spec:
  type: ClusterIP
  selector:
    app: "{{ app_name }}"
  ports:
{% for key, value in amlen_messaging_ports.items() %}
    - port: {{ value.external if value.__class__.__name__ == "dict" else value }}
      protocol: TCP
      name: "{{key }}"
      targetPort: {{ value.internal if value.__class__.__name__ == "dict" else value }}
{% endfor %}
