apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  labels:
    app: "{{ pair_name }}"
  name: "{{ pair_name }}"
  namespace: "{{ _amlen_namespace }}"
spec:
  egress:
  - {}
  ingress:
  - from:
    - podSelector:
        matchLabels:
          app: "{{ pair_name }}"
  - from:
    - podSelector:
        matchLabels:
          amlen-user: "true"
    ports:
{% for key, value in amlen_messaging_ports.items() %}
    - port: {{value}}
      protocol: TCP
{% endfor %}
  - from:
    - podSelector:
        matchLabels:
          app: amlen-operator
    - podSelector:
        matchLabels:
          app: "{{ pair_name }}"
    ports:
{% for key, value in amlen_service_ports.items() %}
    - port: {{value}}
      protocol: TCP
{% endfor %}
  - from:
    - podSelector:
        matchLabels:
          app: "{{ pair_name }}"
    ports:
{% for key, value in amlen_ha_ports.items() %}
    - port: {{value}}
      protocol: TCP
{% endfor %}
  podSelector:
    matchLabels:
      app: "{{pair_name}}"
  policyTypes:
  - Ingress
  - Egress
