h2 {
	margin-bottom: 10px;
	padding-left: 10px;
}

.center {
	text-align: center;
}

.top {
	margin-top: 0px;
}

.control {
	line-height: 30px;
}

.label {
	font-weight: bold;
	float: left;
	width: 200px;
}
.field {
	overflow: hidden;
}

.red {
	background-color: red;
}
.green {
	background-color: green;
}

.demoSLSidebarContainer {
	width: 330px;
}
.demoSLMainContainer {
	width: 530px;
}
