html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #ccc;
	box-shadow: inset 0 20px 20px -20px black;
	padding-top: 5px;
	overflow-y: hidden;
	overflow-x: hidden;
}

#outerContainer {
	margin: 0 auto;
	padding-bottom: 20px;
	/*height: 400px;*/
	display: table;
	height: 100%;
}
#innerContainer {
	display: table-cell;
	vertical-align: middle;
	width: 300px;
}
.container > hr {
	margin: 30px 0;
}
.accordion-group {
	background-color: white;
	border-color: black;
}
.accordion-toggle {
	font-size: 1.2em;
	line-height: 30px;
	font-weight: bold;
}
.requiresDisconnect {
	width: 100px;
}
#statusContainer{
	position: absolute; 
	left: 30px;
	top: 285px; 
	width: 240px; 
}
#controlTopicContainer {
	position: absolute; 
	border-radius: 5px; 
	left: 13px; 
	top: 305px; 
	width: 270px; 
	height:80px;
	border: solid 2px #aaaaaa;
	background-color: #fafafa;
	box-shadow: 0 0 5px #888 inset;
}

.shadowBox {
	height: 400px;
	position: relative;
	background-color: white;
	border: solid 1px #aaa;
	border-radius: 5px;
}

.buttonRow {
	display: table;
	line-height: 40px;
}

.buttonCell {
	width: 120px;
	display: table-cell;
}

.topbar {
	background-color: #333;
	background-image: -webkit-linear-gradient(#3E3E3E, #131313);
	height: 35px;
	color: white;
	padding-top: 14px;
	font-size: 1.4em;
}

.buttonContainer {
	padding-top: 45px;
}

.shadowBox:before, .shadowBox:after 
{
	z-index: -1; 
	position: absolute; 
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%; 
	top: 80%;
	max-width:300px;
	background: rgba(0, 0, 0, 0.7); 
	-webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);   
	box-shadow: 0 20px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform: rotate(-3deg);    
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.shadowBox:after 
{
	-webkit-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	right: 10px;
	left: auto;
}
#carImage {
	position: absolute;
	padding-left: 10px;
	left: 94px;
	top: 200px;
	z-index: 3;
}
.clientStatus {
	position: absolute;
	left: 0px;
	width: 300px;
	top: 55px;
	z-index: 4;
}
.clientConnected {
	display: none;
}
.clientConnectedNoCar {
	display: none;
}
.clientDisconnected {
	display: block;
}
#canvas {
	position: absolute;
	width: 300px;
	height: 260px;
	z-index: 4;
}

.leftFourth {
	float: left;
	width: 25%;
	text-align: left;
}
.middleFourth {
	float: left;
	width: 25%;
	text-align: middle;
}
.rightFourth {
	float: left;
	width: 25%;
	text-align: right;
}
.status {
	font-size: 0.8em;
	color: #444;
}

.modal.fade.in {
	top: 50%;
	left: 50%;
}
