.jazz5/
.metadata/
.jazzShed/
tags
ismrc.txt
messagegateway-build.log
**/*.o
**/*.u
**/*.a
**/*.so.map
server_ship
client_ship
build_log
**/test/cunit/*
server_*/bin/*
server_*/lib/*
server_*/debug/bin/*
server_*/debug/lib/*
client_*/bin/*
client_*/debug/bin/*
client_*/lib/*
client_*/debug/lib/*
server_snmp/mqtt/include/*
server_snmp/mqtt/lib/*
fvt_framwork/AF/travis-ci/nohup.out
Documentation/docs/*
bin/*
**/target/*
#server.py is copied from server_main/scripts as part of the build
operator/build/scripts/server.py