# Copyright (c) 2015-2021 Contributors to the Eclipse Foundation
# 
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
# 
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0
# 
# SPDX-License-Identifier: EPL-2.0
#


[Unit]
Description=${IMA_SVR_COMPONENT_NAME_FULL}
Documentation=http://www-01.ibm.com/support/knowledgecenter/SSCGGQ/welcome
AssertPathExists=${IMA_SVR_INSTALL_PATH}
AssertPathExists=${IMA_SVR_DATA_PATH}/data/config/server.cfg

[Service]
Environment='SYSTEMD_STARTED_IMASERVER=1'
ExecStartPre=${IMA_SVR_INSTALL_PATH}/bin/initServer.sh
ExecStart=${IMA_SVR_INSTALL_PATH}/bin/startServer.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target

