# Copyright (c) 2015-2021 Contributors to the Eclipse Foundation
# 
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
# 
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0
# 
# SPDX-License-Identifier: EPL-2.0
#

[Unit]
Description=${IMA_PRODUCTNAME_FULL} WebUI
Documentation=http://www-01.ibm.com/support/knowledgecenter/SSCGGQ/welcome
AssertPathExists=${IMA_WEBUI_INSTALL_PATH}

[Service]
Type=forking
Environment="SYSTEMD_STARTED_IMAWEBUI=1"
PIDFile=${IMA_WEBUI_DATA_PATH}/config/imawebui.pid
ExecStart=${IMA_WEBUI_INSTALL_PATH}/bin/startWebUI.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
