# Copyright (c) 2015-2021 Contributors to the Eclipse Foundation
# 
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
# 
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0
# 
# SPDX-License-Identifier: EPL-2.0
#

ProductMode = 0

# Directory locations
# On the appliance these locations can not be changed
ConfigDir              = ${IMA_SVR_DATA_PATH}/data/config
PolicyDir              = ${IMA_SVR_DATA_PATH}/data/policies
KeyStore               = ${IMA_SVR_DATA_PATH}/data/certificates/keystore
LDAPCertificateDir     = ${IMA_SVR_DATA_PATH}/data/certificates/LDAP
MQCertificateDir       = ${IMA_SVR_DATA_PATH}/data/certificates/MQC
TrustedCertificateDir  = ${IMA_SVR_DATA_PATH}/data/certificates/truststore
LTPAKeyStore           = ${IMA_SVR_DATA_PATH}/data/certificates/LTPAKeyStore
OAuthCertificateDir    = ${IMA_SVR_DATA_PATH}/data/certificates/OAuth
CRLDir                 = ${IMA_SVR_DATA_PATH}/data/certificates/CRL
PreSharedKeyDir        = ${IMA_SVR_DATA_PATH}/data/certificates/PSK
ExportDir              = ${IMA_SVR_DATA_PATH}/data/export
ImportDir              = ${IMA_SVR_DATA_PATH}/data/import
DiagDir                = ${IMA_SVR_DATA_PATH}/diag
HttpDir                = ${IMA_SVR_INSTALL_PATH}/http

# Configure store
Store.DiskRootPath = ${IMA_SVR_DATA_PATH}/store/com.ibm.ism

# Configure trace 
TraceFile           = ${IMA_SVR_DATA_PATH}/diag/logs/imatrace.log
TracePluginFile     = ${IMA_SVR_DATA_PATH}/diag/logs/imaplugintrace.log
TraceLevel          = 7
TraceMax            = 200MB
TraceOptions        = where,thread,append,time
TraceFlush          = 2000

# Configure SNMP agent
# SNMPPort       = 705

# MQConnectivity Endpoint
Endpoint.Name.!MQConnectivityEndpoint = !MQConnectivityEndpoint
Endpoint.Port.!MQConnectivityEndpoint = 9081
Endpoint.Interface.!MQConnectivityEndpoint = 127.0.0.1
Endpoint.Protocol.!MQConnectivityEndpoint = all,mq
Endpoint.MaxMessageSize.!MQConnectivityEndpoint = 256M
Endpoint.ConnectionPolicies.!MQConnectivityEndpoint = !MQConnectivityConnectionPolicy
Endpoint.TopicPolicies.!MQConnectivityEndpoint = !MQConnectivityTopicPolicy
Endpoint.QueuePolicies.!MQConnectivityEndpoint = !MQConnectivityQueuePolicy

#######################################################################################################################
# Throttle Configuration
#######################################################################################################################
Throttle.Enabled = true
#Frequency in seconds
Throttle.Frequency = 3600
Throttle.Threshold.Limit.1 = 5
#Delay value in milliseconds
Throttle.Threshold.Delay.1 = 500
Throttle.Threshold.Limit.2 = 10
Throttle.Threshold.Delay.2 = 1000
Throttle.Threshold.Limit.3 = 25
Throttle.Threshold.Delay.3 = 5000
Throttle.Threshold.Limit.4 = 50
Throttle.Threshold.Delay.4 = 10000
#Clean Up throttle table in minutes
DelayTableCleanUpInterval = 60
