# Remove USER from ORIGGROUP
dn: cn=ORIGGROUP,ou=groups,ou=MessageSight,o=IBM
changetype: modify
delete: member
member: uid=USER,ou=users,ou=MessageSight,o=IBM

# Add USER to NEWGROUP
dn: cn=NEWGROUP,ou=groups,ou=MessageSight,o=IBM
changetype: modify
add: member
member: uid=USER,ou=users,ou=MessageSight,o=IBM