.oneui .idxNavBar  {
	background: rgb(70,70,70); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(70,70,70,1) 0%, rgba(18,18,18,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(70,70,70,1)), color-stop(100%, rgba(18,18,18,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(70,70,70,1) 0%, rgba(18,18,18,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(left, rgba(70,70,70,1) 0%, rgba(18,18,18,1) 100%); /* IE10+ */
	background: linear-gradient(left, rgba(70,70,70,1) 0%, rgba(18,18,18,1) 100%); /* W3C */
    height: 100%;
    width: 38px;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 900;
    overflow:hidden;
    -webkit-transition: all 1s ease-in-out; 
	-moz-transition: all 1s ease-in-out; 
	-o-transition: all 1s ease-in-out; 
	-ms-transition: all 1s ease-in-out; 
	transition: all 1s ease-in-out;
}

.oneui .idxNavBarHover {
	/*width:200px;*/
}

.oneui .idxNavBar .idxNavBarTop{
	list-style: 0;
	margin: 0;
	padding: 5px 7px;
    position: absolute;
	top: 0;
    left: 0;
    width: 38px;
}
.oneui .idxNavBar .idxNavBarBottom{
	list-style: 0;
	margin: 0;
	padding: 5px 3px;
	background-color: rgba(0, 0, 0, 0.4);
    border-top: 1px solid #484848;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
}

.oneui .idxNavBar .idxNavBarItem {
	width:24px;
	height:24px;
	margin-bottom: 4px;
	display: inline-block;
	position: relative;
	text-align: left;
	display: block;
	color: #ffffff;
	cursor: pointer;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

.oneui .idxNavBar .idxNavBarItemHover{
	background-color: lightblue;
	border-top: 1px solid rgba( 255, 255, 255, .20);
	border-bottom: 1px solid rgba( 255, 255, 255, .20);
}
.oneui .idxNavBar .idxNavBarItemActive{
	background-color: blue;
	border-top: 1px solid rgba( 255, 255, 255, .20);
	border-bottom: 1px solid rgba( 255, 255, 255, .20);
}
.oneui .idxNavBar .idxNavBarItemSelected{
	background-color: blue;
}

.oneui .idxNavBar .idxNavBarItem .idxNavBarItemIcon{
	display: inline-block;
	width: 24px;
	height: 24px;
	opacity: .7;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.oneui .idxNavBar .idxNavBarItem .idxNavBarItemLabel {
	position: absolute;
	top: -50000px;
}

.oneui .idxNavBar .idxNavBarItem .idxNavBarItemIconSymbol {
	visibility: hidden;
	display: none;
}

.dijit_a11y.oneui .idxNavBar .idxNavBarItem .idxNavBarItemIconSymbol {
	visibility: visible;
	display: inline-block;
	font-size: 20px;
	border: 1px solid;
	width: 24px;
	height: 24px;
	text-align: center;
	vertical-align: middle;
	line-height: 24px;
}

.oneui .idxNavBar .idxNavBarItemHover .idxNavBarItemIcon{
	opacity: .9;
}
.oneui .idxNavBar .idxNavBarItemActive .idxNavBarItemIcon{
	opacity: 1;
}

.oneui .idxNavBar .idxNavBarItem .idxNavBarItemDesc{
	position:absolute;
	left: 45px;
	top: 5px;
	height: 24px;
	color: white;
	font-weight: bold;
	opacity: .7;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
