<server description="${IMA_PRODUCTNAME_FULL} Web UI">
    <!--
# Copyright (c) 2012-2021 Contributors to the Eclipse Foundation
# 
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
# 
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0
# 
# SPDX-License-Identifier: EPL-2.0
#
    -->

    <!-- Enable features -->
    <featureManager>
        <feature>servlet-4.0</feature>
        <feature>jaxrs-2.1</feature>
        <feature>ssl-1.0</feature>
        <feature>appSecurity-1.0</feature>
    	<feature>jsp-2.3</feature>
        <feature>json-1.0</feature>
	</featureManager>
    
     <!-- The properties.xml file contains the runtime settable variables used in server configuration -->
    <include optional="false" location="properties.xml"/>

     <!-- The staticProperties.xml file contains the static variables used in server configuration -->
    <include optional="false" location="staticProperties.xml"/>

    <httpEndpoint 
             id="defaultHttpEndpoint"
             host="${default_http_host}"
             httpPort="${default_http_port}"
             httpsPort="${default_https_port}" >
        <tcpOptions soReuseAddr="true" />
        <httpOptions readTimeout="${httpOptions_readTimeout}" removeServerHeader="true"/>
    </httpEndpoint>
    
    <!-- 227747 -->
    <ssl id="defaultSSLConfig"
         keyStoreRef="defaultKeyStore"
         sslProtocol="TLSv1.2" />
    
    <!-- This line is to address a XSS issue that occurs when the default behavior of echoing back the requested URL occurs. -->
    <httpDispatcher appOrContextRootMissingMessage="Context root not found." enableWelcomePage="false"/>
    
    <config onError="${config_onError}" updateTrigger="${config_updateTrigger}" monitorInterval="${config_monitorInterval}" />

    <!-- 227747 -->
    <keyStore 
            id="defaultKeyStore" 
            location="${keystore_location}" 
            type="${keystore_type}" 
            password="${keystore_password}" >
    </keyStore>
    
    <application id="ISMWebUI" location="ISMWebUI.war" name="${IMA_PRODUCTNAME_FULL} Web UI" type="war" context-root="/">
        <classloader apiTypeVisibility="spec, ibm-api, third-party" />
    </application>
    
    <applicationMonitor updateTrigger="disabled" dropinsEnabled="false"/>
    
    <logging 
        messageFileName="${logging_messageFileName}"
    	maxFiles="${logging_maxFiles}"
    	maxFileSize="${logging_maxFileSizeMB}"
    	traceFormat="${logging_traceFormat}"
    	consoleLogLevel="${logging_consoleLogLevel}"
    	logDirectory="${logging_logDirectory}"
    	traceSpecification="${logging_traceSpecification}" >
    </logging>

    <!-- The ldap.xml file contains the ldapRegistry properties -->
    <include optional="false" location="ldap.xml"/>
    
    <webAppSecurity logoutOnHttpSessionExpire="${webAppSecurity_logoutOnHttpSessionExpire}" singleSignonEnabled="true" 
        ssoRequiresSSL="true" postParamSaveMethod="None"/>
    
    <!-- Note, invalidateOnUnauthorizedSessionRequestException and securityIntegrationEnabled are overrides
         because we currently allow unauthenticated access to javascript and css files. -->
    <httpSession invalidationTimeout="${httpSession_invalidationTimeout}" cookieSecure="true" 
            invalidateOnUnauthorizedSessionRequestException="true" 
            securityIntegrationEnabled="false"/> 
    <ltpa expiration="${ltpa_expiration}" keysPassword="{xor}NicyKDo9KjZqaG1qGWZp"/>
    <authCache timeout="${authCache_timeout}" />
    <webContainer deferServletLoad="false" />
    <jspEngine prepareJSPs="0"/>

</server>
