<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>ISM Sample Template</title>
	<link rel="stylesheet" href="css/ismSamples.css" />

	<script type="text/javascript">
		// Set this URL to the sample help link
		var helpLoc = "http://www.google.com";

		function help() {
			document.location.href = helpLoc;
		}

	</script>
</head>
<body>
	<div class="demoHeader">
		<div class="demoHeaderPrimary">
			<div class="demoHeaderPrimaryInner">
				<span>
					<div class="demoHeaderPrimaryTitle">IBM Messaging Appliance</div>
				</span>
			</div>
			<span>
				<div class="demoHeaderLogoBox">
					<div class="demoHeaderIBMLogo" alt="IBM®"></div>
				</div>
				<div class="demoHeaderHelpLogo" id="help" alt="Help" onclick="help()"></div>
			</span>
		</div>
		<div class="demoBlueLip"></div>
	</div>
	<div class="demoTitleContainer">
		<span class="demoTitle">Demo Title</span>
	</div>
	<div class="demoGrayLip"></div>
	<div class="demoContentContainer">
	<!-- Container with a sidebar on the left -->
	<!--
		<div class="demoSLSidebarContainer" id="sidebar">
			Sidebar content goes here
		</div>
		<div class="demoSLMainContainer" id="mainContent">
			Main content goes here
		</div>
	-->
	<!-- Container with a sidebar on the right -->
	<!--
		<div class="demoSRMainContainer" id="mainContent">
			Main content goes here
		</div>
		<div class="demoSRSidebarContainer" id="sidebar">
			Sidebar content goes here
		</div>
	-->

	<!-- Container with no sidebar -->
		<div class="demoMainContainer" id="mainContent">
			Main content goes here
		</div>
	</div>
	<div class="demoFooter">
		<div class="demoBlueLip"></div>
		<div class="demoFooterContent">
			Copyright information goes here
		</div>
	</div>
</body>
</html>
