<h1>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsAppl.appliance.users.title}'" />
</h1>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsAppl.appliance.users.tagline}'"></span>
<br /><br />

<h2>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsAppl.appliance.users.usersSubTitle}'" />
</h2>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsAppl.appliance.users.webUiUsersTagline}'"></span>
<br /><br />

<div data-dojo-type="ism.controller.content.UsersGroups"
	data-dojo-props='id: "webuiusers",
						fixedgroups: true,
						itemName: "${nls.appliance.users.grid.userid}",
						validChars: "[A-Za-z0-9\.\+_-]*",
						tooltipContent: "${nls.appliance.users.dialog.applianceUserIdTooltip}",
						invalidMessage: "${nls.appliance.users.dialog.applianceInvalid}",
						instruction: "${nls.appliance.users.dialog.applianceUserInstruction}",
						restURI: "rest/config/userregistry/webui/users",
						passwdURI: "rest/config/userregistry/webui/password",
						specialuser: "admin",
						addDialogTitle: "${nls.appliance.users.addDialogTitle}",
						editDialogTitle: "${nls.appliance.users.editDialogTitle}",
						removeDialogTitle: "${nls.appliance.users.removeDialogTitle}"
					'>i</div>
