<h1>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsAppl.appliance.webUISecurity.title}'" />
</h1>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString"
	data-dojo-props="source: '${nlsAppl.appliance.webUISecurity.tagline}'"></span>
<br /><br />

<!-- IP Address and Port section -->
<div data-dojo-type="ism.controller.content.WebUIPort" data-dojo-props='width: "990px"'></div>

<!-- Certificates section -->
<div data-dojo-type="ism.controller.content.WebUICertificate"
	data-dojo-props='certificatesURI: "rest/config/webui/libertyCertificate", width: "990px"'></div>

<!-- Timeouts section -->
<div data-dojo-type="ism.controller.content.WebUITimeouts" data-dojo-props='width: "990px"'></div>

<!-- Authentication Cache Timeout section -->
<div data-dojo-type="ism.controller.content.WebUICacheAuth" data-dojo-props='width: "990px"'></div>

<!-- HTTP Read Timeout section -->
<div data-dojo-type="ism.controller.content.WebUIReadTimeout" data-dojo-props='width: "990px"'></div>

<!-- Service section -->
<div data-dojo-type="ism.controller.content.WebUIService" data-dojo-props='width: "990px"'></div>
