<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>TestProject</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>GetOAuthCode</display-name>
		<servlet-name>GetOAuthCode</servlet-name>
		<servlet-class>com.ibm.ima.oauth2.GetOAuthCode</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetOAuthCode</servlet-name>
		<url-pattern>/GetOAuthCode</url-pattern>
	</servlet-mapping>
	<error-page id="ErrorPage_1">
		<error-code>401</error-code>
		<location>/Error.jsp</location>
	</error-page>
	<security-constraint id="SecurityConstraint_1">
		<web-resource-collection id="WebResourceCollection_1">
			<web-resource-name>Home</web-resource-name>
			<description>Protection area for Home.</description>
			<url-pattern>/Home.jsp</url-pattern>
			<url-pattern>/UserInfo.jsp</url-pattern>
			<url-pattern>/GroupInfo.jsp</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint id="AuthConstraint_1">
			<description>Home Security:+:All Authenticated users for Snoop Servlet.</description>
			<role-name>All Role</role-name>
		</auth-constraint>
		<user-data-constraint id="UserDataConstraint_1">
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-role id="SecurityRole_1">
		<description>All Authenticated Users Role.</description>
		<role-name>All Role</role-name>
	</security-role>
</web-app>