.oneui .idxOneuiTriStateCheckBox, .oneui .idxOneuiTriStateCheckBoxIcon {
  background-image: url('images/checkboxRadioButtonStates.png');
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  margin: 0 5px 0 0;
  padding: 0;
}
.dj_ie6 .oneui .idxOneuiTriStateCheckBox, .dj_ie6 .oneui .idxOneuiTriStateCheckBoxIcon {
  background-image: url('images/checkboxRadioButtonStates8bit.png');
}
.oneui .idxOneuiTriStateCheckBoxWrap .idxLabel{
  padding: 0 4px 0 0;
}
.oneui .idxOneuiTriStateCheckBox{
  /* unchecked */
  background-position: -17px;
}
.oneui .idxOneuiTriStateCheckBoxChecked{
  /* checked */

  background-position: -1px;
}
.oneui .idxOneuiTriStateCheckBoxMixed {
  /* mixed */

  background-position: -33px;
}
.oneui .idxOneuiTriStateCheckBoxDisabled {
  /* disabled and unchecked */

  background-position: -65px;
}
.oneui .idxOneuiTriStateCheckBoxCheckedDisabled {
  /* disabled and checked */

  background-position: -49px;
}
.oneui .idxOneuiTriStateCheckBoxMixedDisabled {
  /* disabled and mixed */

  background-position: -81px;
}
.oneui .idxOneuiTriStateCheckBoxHover {
  /* hovering over and unchecked */

  background-position: -113px;
}
.oneui .idxOneuiTriStateCheckBoxCheckedHover {
  /* hovering over and checked */

  background-position: -97px;
}
.oneui .idxOneuiTriStateCheckBoxMixedHover {
  /* hovering over and mixed */

  background-position: -129px;
}

.oneui .idxOneuiTriStateCheckBoxActive {
  /* hovering over an unchecked enabled checkbox */

  background-position: -161px;
}

.oneui .idxOneuiTriStateCheckBoxCheckedActive {
  /* hovering over an unchecked enabled checkbox */

  background-position: -145px;
}

.oneui .idxOneuiTriStateCheckBoxMixedActive {
  /* hovering over an unchecked enabled checkbox */

  background-position: -129px;
}

.oneui .idxOneuiTriStateCheckBoxFocused{
	outline: 1px dotted #666666;
}

.dijit_a11y .idxOneuiTriStateCheckBoxHover .idxOneuiTriStateCheckBoxInner,
.dijit_a11y .idxOneuiTriStateCheckBoxFocused .idxOneuiTriStateCheckBoxInner{
	/* focused or hovering over */

	border: thin dotted;
}

.dijit_a11y .idxOneuiTriStateCheckBoxDisabled .idxOneuiTriStateCheckBoxInner{
	/* focused or hovering over */
	opacity: 0.5;
}

.dj_ie .dijit_a11y .idxOneuiTriStateCheckBoxDisabled .idxOneuiTriStateCheckBoxInner{
	/* disabled */
}


.oneui .idxOneuiTriStateCheckBoxInner{
  /* inner text */

  visibility: hidden;
  display: none;
  position: absolute;
  text-align: center;
}

.dijit_a11y .idxOneuiTriStateCheckBoxInner{
  /* inner text */
  visibility: visible;
  display: block;
}

.oneui .idxOneuiTriStateCheckBoxInput {
	/* place the actual input on top, but all-but-invisible */
	opacity: 0.01;
	padding: 0;
	margin: 0;
	border: 0;
	width: 14px;
	height: 14px;
	background-position:center center;
	background-repeat:no-repeat;
}

.dj_ie .oneui .idxOneuiTriStateCheckBoxInput {
	filter: alpha(opacity=0);
}

.oneui .idxOneuiTriStateCheckBoxWrap .idxLabel{
	margin-top: 2px;
} 
.oneui .idxOneuiTriStateCheckBoxWrap .dijitValidationContainer{
    height: 15px;
    margin: 2px 0;
}
.oneui .idxOneuiTriStateCheckBoxWrap .dijitValidationContainer .dijitValidationIcon{
    margin: 0;
}

