.dijitRtl .oneui .idxOneuiTriStateCheckBoxWrapRtl .idxLabel{
	margin-top: 2px;
	padding: 0 0 0 4px;
}

.dijitRtl .oneui .idxOneuiTriStateCheckBoxWrapRtl .idxOneuiTriStateCheckBoxRtl{
	margin: 0 0 0 5px;
}
