<div>
	<div id="${dialogId}_dialog" style='width: 650px;' data-dojo-type='ism.widgets.Dialog' data-dojo-attach-point='dialog'
		data-dojo-props='title: "${dialogTitle}", 
			instruction: "${dialogInstruction}",
			autofocus: true,
            onEnter: function() {
				if(!dijit.byId("${dialogId}_saveButton").get("disabled")) {
					dojo.publish("${dialogId}_saveButton", ""); 
				} 
			},  
            closeButtonLabel: "${nls.messaging.dialog.cancelButton}",
            buttons: [ new dijit.form.Button({ 
                label: "${nls.messaging.dialog.saveButton}",
                id: "${dialogId}_saveButton",
                onClick: function() { dojo.publish("${dialogId}_saveButton", ""); }
            }) ]'>

		<form id="${dialogId}_DialogForm" data-dojo-type="dijit.form.Form">
			<div id="${dialogId}_policies"
				style='padding: 5px 0px 10px 12px;'
				data-dojo-type='ism.controller.content.ReferencedObjectGrid'
				data-dojo-attach-point='policies'
				data-dojo-props='                    
                       idPrefix: "${dialogId}_policies_",
                       appliedLabel: "${nls.messaging.endpoints.form.add}",                       
                       nameLabel: "${policyNameLabel}"'>
			</div>
		</form>
	</div>
</div>
