<div>
    <!-- Configuration Section -->
    <h2 id="${id}_configurationTitle">${nls.superUserTitle}                       
    </h2>
    <span id="${id}_superUserTagline" data-dojo-attach-point="superUserTagline" class="tagline">${nls.superUserTagline}</span>
    <br /><br />
    <div>      
        <table role="presentation" class="configTable" id="${id}_superUserConfigTable"> 
            <tr id="${id}_superUserIDRow">
                <td nowrap >
                    <span id="${id}_adminUserIDLabel" class="configLabel">${nls.adminUserIDLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_adminUserID" data-dojo-attach-point="AdminUserID" class="configValue"></span>
                    <a class="actionLink" id="${id}_editAdminUserIDLink" href="javascript:;" data-dojo-attach-point="editAdminUserIDLink"
                        data-dojo-attach-event="onclick:editAdminUserID">${nls.changeAdminUserIDLink}</a>
                    <a class="actionLink" id="${id}_editAdminUserPasswordLink" href="javascript:;" data-dojo-attach-point="editAdminUserPasswordLink"
                        data-dojo-attach-event="onclick:editAdminUserPassword">${nls.changeAdminUserPasswordLink}</a>
                </td>
            </tr>
        </table>
    </div>

</div>