<div>
	<div id="${dialogId}_dialog" style='width: 700px;' data-dojo-type='ism.widgets.Dialog' data-dojo-attach-point='dialog'
		data-dojo-props='title: "${dialogTitle}", 
			instruction: "${dialogInstruction}",
			autofocus: false,
            onEnter: function() {
				if(!dijit.byId("${dialogId}_saveButton").get("disabled")) {
					dojo.publish("${dialogId}_saveButton", ""); 
				} 
			},  
            closeButtonLabel: "${nls.cancelButton}",
            buttons: [ new dijit.form.Button({ 
                label: "${nls.saveButton}",
                id: "${dialogId}_saveButton",
                onClick: function() { dojo.publish("${dialogId}_saveButton", ""); }
            }) ]'>

		<form id="${dialogId}_DialogForm" data-dojo-type="dijit.form.Form" data-dojo-attach-point="form">
			<div style='float: left; display: inline-block;' id='${dialogId}_leftGroup'>
                <div class='dialogField'>
                   <div id='${dialogId}_interface' data-dojo-type='ism.widgets.TextBox' data-dojo-attach-point='field_Interface'
                        data-dojo-props='
                        inputWidth: "12em",
                        label: "${interfaceLabel}", 
                        required: true,
                        tooltipContent: "${interfaceTooltip}",                       
                        pattern: "([\\.\*:a-fA-F0-9]+)|(${all})",
                        labelAlignment: "horizontal", 
                        labelWidth: "150"'></div>
                </div>
                <div class='dialogField'>
                    <div id='${dialogId}_port' data-dojo-type='ism.widgets.TextBox' data-dojo-attach-point='field_Port'
                        data-dojo-props='
                        inputWidth: "6em",
                        label: "${portLabel}", 
                        required: true,
                        tooltipContent: "${portTooltip}",                       
                        pattern: "[\\d]+",
                        labelAlignment: "horizontal", 
                        labelWidth: "150"'></div>
                </div>
                <div class='dialogField'>
                    <select id="${dialogId}_securityProfile" data-dojo-type='ism.widgets.Select' data-dojo-attach-point='field_SecurityProfile'
                        data-dojo-props='
                        label: "${securityProfileLabel}",
                        alignWithRequired: true, 
                        store: new dojo.data.ItemFileWriteStore({
                            data: {
                                label: "label",
                                identifier: "name",
                                items: []
                            }
                        }),
                        tooltipContent: "${securityProfileTooltip}",
                        labelAlignment: "horizontal", 
                        labelWidth: "150"'>
                    </select>                
                </div>
                <div class='dialogField'>
                        <div id="${dialogId}_configurationPolicies" style='padding: 0px 0px 0px 12px;'
                            data-dojo-type='ism.controller.content.OrderedReferencedObjectGrid'
                            data-dojo-attach-point='field_ConfigurationPolicies'
                            data-dojo-props='                    
                            idPrefix: "${dialogId}_CfgP_",
                            title: "${configurationPoliciesLabel}", 
                            tooltipContent: "${configurationPoliciesTooltip}",
                            nameLabel: "${configurationPolicyLabel}", 
                            required: false'>
                        </div>
                </div>
			</div> <!-- end left section -->
			<div style='clear: both;'/>
		</form>
	</div>
</div>
