<div>
    <!-- Configuration Section -->
    <h2 id="${id}_configurationTitle">${nls.configurationTitle}
        <a class="actionLink" id="${id}_editLink" href="javascript:;" data-dojo-attach-point="editLink"
            data-dojo-attach-event="onclick:editConfig">${nls.editLink}</a>                
    </h2>
    <span id="${id}_configurationTagline" data-dojo-attach-point="configurationTagline" class="tagline"></span>
    <br /><br />
    <div>      
        <table role="presentation" class="configTable" id="${id}_adminEndpointConfigTable"> 
            <tr id="${id}_interfaceRow">
                <td nowrap >
                    <span id="${id}_interfaceLabel" class="configLabel">${nls.interfaceLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_interface" data-dojo-attach-point="Interface" class="configValue">${nls.none}</span>
                </td>
            </tr>
            <tr id="${id}_portRow">
                <td nowrap >
                    <span id="${id}_portLabel" class="configLabel">${nls.portLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_port" data-dojo-attach-point="Port" class="configValue">${nls.none}</span>
                </td>
            </tr>            
            <tr id="${id}_securityProfileRow">
                <td nowrap >
                    <span id="${id}_securityProfileLabel" class="configLabel">${nls.securityProfileLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_securityProfile" data-dojo-attach-point="SecurityProfile" class="configValue">${nls.none}</span>
                </td>
            </tr>
             <tr id="${id}_configurationPoliciesRow">
                <td nowrap >
                    <span id="${id}_configurationPoliciesLabel" class="configLabel configLabelIndent">${nls.configurationPoliciesLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_configurationPolicies" data-dojo-attach-point="ConfigurationPolicies" class="configValue">${nls.none}</span>
                </td>
            </tr>
        </table>
    </div>

</div>