<div>    
    <div style='display: inline-block;'>       
        <table role="presentation" >
            <tr>
                <td nowrap width="120px">
                    <span id="${id}_hostnameLabel" class="dashboardLabel">${nls.appliance.systemControl.appliance.hostname}:</span>
                </td> 
                <td nowrap>
                    <span id="${id}_hostname" class="dashboardValue"></span>
                    <a class="actionLink" id="${id}_nodeNameEdit" href="javascript:;" data-dojo-attach-event="onclick:editHostname">${nls.appliance.systemControl.appliance.editLink}</a> 
                </td>
            </tr>
            <tr>
                <td nowrap>
                    <span id="${id}_firmwareLabel" class="dashboardLabel">${nls.appliance.systemControl.appliance.firmware}:</span>
                </td> 
                <td nowrap>
                    <span id="${id}_firmware" class="dashboardValue"></span>
                </td>
            </tr>
            <tr id="${id}_licensedUsageTableRow">
                <td nowrap>
                    <span id="${id}_licensedUsageLabel" class="dashboardLabel">${nls.appliance.systemControl.appliance.licensedUsageLabel}:</span>
                </td> 
                <td nowrap>
                    <span id="${id}_licensedUsage" class="dashboardValue"></span>
                    <a class="actionLink" id="${id}_editLicensedUsage" href="javascript:;" data-dojo-attach-event="onclick:editLicensedUsage" style="display:none">${nls.appliance.systemControl.appliance.editLink}</a> 
                    <a class="actionLink" id="${id}_viewLicense" href="${viewLicenseUri}" target="licensePage">${nls.appliance.systemControl.appliance.viewLink}</a> 
                </td>
            </tr>
            <tr>
                <td nowrap>
                    <span id="${id}_uptimeLabel" class="dashboardLabel">${nls.appliance.systemControl.appliance.uptime}:</span>
                </td> 
                <td nowrap>
                    <span id="${id}_uptime" class="dashboardValue"></span>
                </td>
            </tr>
            <tr id="${id}_locateLEDTableRow">
                <td nowrap>
                    <span id="${id}_locateLEDLabel"	class="dashboardLabel">${nls.appliance.systemControl.appliance.locateLED}:</span>
					<div style="display: inline-block; vertical-align: bottom; margin: 0 5px;">
						<div id="locateLED_Hover" href="#bogus1" role="tooltip" tabindex="0"
							class="hoverHelpIcon"
							onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div>
						<span id="locateLED_Tooltip"
							data-dojo-type="idx.widget.HoverHelpTooltip"
							data-dojo-props='connectId:["locateLED_Hover"], forceFocus: true, showLearnMore:false'>
							${nls.appliance.systemControl.appliance.locateLEDTooltip}</span>
					</div>
				</td> 
                <td nowrap>
                   <a class="actionLink" style="padding-left: 0;" id="${id}_locateOn" href="javascript:;" data-dojo-attach-event="onclick:locateLedOn">${nls.appliance.systemControl.appliance.locateOnLink}</a>
                   <a class="actionLink" id="${id}_locateOff" href="javascript:;" data-dojo-attach-event="onclick:locateLedOff">${nls.appliance.systemControl.appliance.locateOffLink}</a>                                      
                </td>
            </tr>
            <tr>
            	<td nowrap>
            		<span id="${id}_sshHostLabel" class="dashboardLabel">${nls.appliance.systemControl.appliance.sshHost}:</span>
            	</td>
            </tr>
            <tr> 
            	<td nowrap style='padding: 0px 0px 0px 10px;'>
                    <span id="${id}_sshHostSettingsLabel"	class="dashboardLabel">${nls.appliance.systemControl.appliance.sshHostSettings}:</span>
					<div style="display: inline-block; vertical-align: bottom; margin: 0 5px;">
						<div id="sshHostSettings_Hover" href="#bogus1" role="tooltip" tabindex="0"
							class="hoverHelpIcon"
							onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div>
						<span id="sshHostSettings_Tooltip"
							data-dojo-type="idx.widget.HoverHelpTooltip"
							data-dojo-props='connectId:["sshHostSettings_Hover"], forceFocus: true, showLearnMore:false'>
							${nls.appliance.systemControl.appliance.sshHostTooltip}</span>
					</div>
				</td> 
				<td nowrap>
				    <div style="display: inline-block; vertical-align: bottom;">
				    	<strong>
							<div id="sshHostSettingsValue" href="#bogus1" role="tooltip" tabindex="0"
								 onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div>
					    </strong>
						<span id="sshHostSettingsValue_Hover"
							data-dojo-type="idx.widget.HoverHelpTooltip"
							data-dojo-props='connectId:["sshHostSettingsValue"], forceFocus: true, showLearnMore:false'>
						</span>
					</div>
                    <a class="actionLink" id="${id}_editSSHHost" href="javascript:;" data-dojo-attach-event="onclick:editSSHHost">${nls.appliance.systemControl.appliance.editLink}</a> 
                </td>
            </tr>
            <tr> 
            	<td nowrap style='padding: 0px 0px 0px 10px;'>
                    <span id="${id}_sshHostStatusLabel"	class="dashboardLabel">${nls.appliance.systemControl.appliance.sshHostStatus}:</span>
					<div style="display: inline-block; vertical-align: bottom; margin: 0 5px;">
						<div id="sshHostStatus_Hover" href="#bogus1" role="tooltip" tabindex="0"
							class="hoverHelpIcon"
							onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div>
						<span id="sshHostStatus_Tooltip"
							data-dojo-type="idx.widget.HoverHelpTooltip"
							data-dojo-props='connectId:["sshHostStatus_Hover"], forceFocus: true, showLearnMore:false'>
							${nls.appliance.systemControl.appliance.sshHostStatusTooltip}</span>
					</div>
				</td> 
				<td nowrap>
				    <div style="display: inline-block; vertical-align: bottom;">
				    	<strong>
							<div id="sshHostStatusValue" href="#bogus1" role="tooltip" tabindex="0"
							     onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div>
						</strong>
						<span id="sshHostStatusValue_Hover"
							data-dojo-type="idx.widget.HoverHelpTooltip"
							data-dojo-props='connectId:["sshHostStatusValue"], forceFocus: true, showLearnMore:false'>
						</span>
					</div>
                </td>
            </tr>
        </table>        
    </div>
    <div class="actionLinks">
        <a class="actionLink" id="${id}_restart" href="javascript:;" data-dojo-attach-event="onclick:restart">${nls.appliance.systemControl.appliance.restartLink}</a>
        <a class="actionLink" id="${id}_shutdown" href="javascript:;" data-dojo-attach-event="onclick:shutdown">${nls.appliance.systemControl.appliance.shutdownLink}</a>            
    </div>

</div>
