<div style='padding: 10px 0px 10px 0px;'>
	<form data-dojo-type="dijit.form.Form" data-dojo-attach-point="cacheauth">
			<div style='padding: 1px 20px 5px 1px; display: inline;'>
				
			<div style='padding: 1px 1px 5px 1px; display: inline;'>
				<div id="${formId}_cacheauthField" data-dojo-type='ism.widgets.TextBox'
                    data-dojo-attach-point='cacheauthField'
                    data-dojo-props=' 
                        inputWidth: "10em",
                        label: "${cacheauthLabel}:",
                        unit:  "${unitLabel}", 
                        invalidMessage: "${invalidCacheauth}",
                        tooltipContent: "${cacheauthTooltip}",
                        required: true,
                        labelAlignment: "horizontal"'></div>
            </div>
            <div style='padding: 10px 5px 5px 1px; display: block;'>
				<button id="${formId}_saveButton" data-dojo-type="dijit.form.Button"
					data-dojo-attach-point="saveButton"
					data-dojo-attach-event="onClick:saveCacheauth">${nls.appliance.webUISecurity.cacheauth.save}</button>
				<div style="padding: 0px 5px 0px 5px; display: inline-block;" id="${formId}_changeCacheauthOutputText" 
				    data-dojo-attach-point="changeCacheauthOutputText"></div>
                <div style="display: inline-block;" id="${formId}_changeCacheauthOutputImage" 
                    data-dojo-attach-point="changeCacheauthOutputImage"></div>    				    	
			</div>
	</form>
</div>