<div>
	<div style='width: 625px;' data-dojo-type='ism.widgets.Dialog' data-dojo-attach-point='dialog'
		data-dojo-props='title: "${dialogTitle}", 
			autofocus: false,
            onEnter: function() {
				if(!dijit.byId("${dialogId}_saveButton").get("disabled")) {
					dojo.publish("${dialogId}_saveButton", ""); 
				} 
			},  
			closeButtonLabel: "${nls.appliance.users.dialog.cancelButton}",
			buttons: [ new dijit.form.Button({ 
				label: "${nls.appliance.users.dialog.saveButton}",
				id: "${dialogId}_saveButton",
				onClick: function() { dojo.publish("${dialogId}_saveButton", ""); }
			}) ]'>

		<form id="${dialogId}_form" data-dojo-type="dijit.form.Form" data-dojo-attach-point="form">

			<div data-dojo-type='ism.widgets.TextBox' id="${dialogId}_name" 
				data-dojo-attach-point='field_Name'
				data-dojo-props='fieldWidth: "210px",
				label: "${nameLabel}:",
				required: true,
				labelAlignment: "horizontal",
				tooltipContent: "${nameTooltip}",
				labelWidth: "150"'></div>

			<div data-dojo-type='ism.widgets.TextBox' id="${dialogId}_certificate" 
				data-dojo-attach-point='field_Certificate'
				data-dojo-props='fieldWidth: "210px", 
				label: "${certLabel}",
				required: true,
				readOnly: true,
				hint: "${browseHint}",
				hintPosition: "inside",
				labelAlignment: "horizontal",
				tooltipContent: "${certTooltip}",
				labelWidth: "150"'></div>

            <div style="vertical-align:top; display: inline-block;">                
				<input class="browseButton" type="file" id="${dialogId}_certUploader" style="display:none"
                    data-dojo-attach-point="certificateFile" data-dojo-attach-event="onChange:certificateChanged" />
                <button id="${dialogId}_certUploaderButton" data-dojo-type="dijit.form.Button" class="browseButton" tabindex="0"
                    data-dojo-attach-event="onClick:clickCertificateBrowseButton">${browseLabel}</button>
                
			</div>

			<div data-dojo-type='ism.widgets.TextBox' id="${dialogId}_CertFilePassword" type='password'
				data-dojo-attach-point='field_CertFilePassword'
				data-dojo-props='fieldWidth: "210px", 
				label: "${certpasswordLabel}",
				required: false,
				alignWithRequired: true,
				labelAlignment: "horizontal",
				labelWidth: "150"'></div>

			<div data-dojo-type='ism.widgets.TextBox' id="${dialogId}_key" 
				data-dojo-attach-point='field_Key'
				data-dojo-props='fieldWidth: "210px", 
				label: "${privkeyLabel}",
				required: true,
				readOnly: true,
				hint: "${browseHint}",
				hintPosition: "inside",
				labelAlignment: "horizontal",
				tooltipContent: "${privkeyTooltip}",
				labelWidth: "150"'></div>

            <div style="vertical-align:top; display: inline-block;">
				<input class="browseButton" type="file" id="${dialogId}_keyUploader" style="display:none"
                    data-dojo-attach-point="keyFile" data-dojo-attach-event="onChange:keyChanged" />
                <button id="${dialogId}_keyUploaderButton" data-dojo-type="dijit.form.Button" class="browseButton" tabindex="0"
                    data-dojo-attach-event="onClick:clickKeyBrowseButton">${browseLabel}</button>
			</div>

			<div data-dojo-type='ism.widgets.TextBox' id="${dialogId}_keyPassword" type='password'
				data-dojo-attach-point='field_KeyFilePassword'
				data-dojo-props='fieldWidth: "210px", 
				label: "${keypasswordLabel}",
				required: false,
				alignWithRequired: true,
				labelAlignment: "horizontal",
				labelWidth: "150"'></div>

<!--             <div style="padding: 1px 1px 5px 12px; width: 210px;"
                id="${dialogId}_overwrite"
                data-dojo-type='idx.form.CheckBox' aria-labelledby='allowOverwrite'
                data-dojo-attach-point='field_Overwrite' 
                data-dojo-props='label: "${overwriteLabel}",
                labelAlignment: "horizontal",
                labelWidth: "150px",
                width: "50px", 
                tooltipContent: "${overwriteTooltip}",
                checked: false'></div> -->

                <div style='padding: 1px 1px 5px 12px;' id='${dialogId}_overwrite'>
                    <div class='idxLabel dijitInline'
                        id='${dialogId}_overwiteLabel'
                        style='width: 136px; display: inline-block;'>
                        <span class="ismWidgetLabel">${overwriteLabel}:</span>
                        <div id="${dialogId}_overwrite_Hover"
                            href="#bogus1" role="tooltip"
                            style='display: inline-block; vertical-align: bottom;' tabindex="0"
                            class="ismWidgetHoverHelpIcon"
                            aria-labelledby="${dialogId}_overwriteTooltip"
                            onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div>
                        <span id="${dialogId}_overwriteTooltip"
                            data-dojo-type="idx.widget.HoverHelpTooltip"
                            data-dojo-props='connectId:["${dialogId}_overwrite_Hover"], forceFocus: true, showLearnMore:false'>${overwriteTooltip}</span>
                    </div>
                    <div data-dojo-type='idx.form.CheckBox'
                        id="${dialogId}_overwriteCheckbox"
                        aria-labelledby='${dialogId}_overwriteLabel'
                        data-dojo-attach-point='field_Overwrite'
                        data-dojo-props='checked: false'></div>
                </div>
		</form>
	</div>
</div>

