<div>

	<div style='padding: 10px 5px 5px 1px; display: block;'>
		<button id="${formId}_addButton" data-dojo-type="dijit.form.Button"
			data-dojo-attach-point="addButton"
			data-dojo-attach-event="onClick:addCertificate">${nls.appliance.webUISecurity.certificate.editButton}</button>

		<br /> <br />

		<table role="presentation">

			<tr>
				<td>${nls.appliance.webUISecurity.certificate.certificateLabel}</td>

				<td>
					<div style="display: inline-block; padding-left:10px;" id="${formId}_certificateName"
						data-dojo-attach-point="certificateNameText"></div>
				</td>
			</tr>

			<tr>
				<td>${nls.appliance.webUISecurity.certificate.keyLabel}</td>

				<td>
					<div style="display: inline-block; padding-left:10px;" id="${formId}_keyName"
						data-dojo-attach-point="keyNameText"></div>
				</td>
			</tr>

			<tr>
				<td>${nls.appliance.webUISecurity.certificate.expiryLabel}</td>

				<td>
					<div style="display: inline-block; padding-left:10px;" id="${formId}_expiryDate"
						data-dojo-attach-point="expiryDateText"></div>
				</td>
			</tr>

		</table>
	</div>

</div>

