<div>
	<div data-dojo-type='ism.widgets.Dialog' id="${dialogId}" data-dojo-attach-point='dialog'
		data-dojo-props='title: "${nls.changePassword.dialog.title}", 
			autofocus: false,
            onEnter: function() {
				if(!dijit.byId("${dialogId}_saveButton").get("disabled")) {
					dojo.publish("${dialogId}_saveButton", ""); 
				} 
			},  
			closeButtonLabel: "${nls.action.Cancel}",
			buttons: [ new dijit.form.Button({ 
				label: "${nls.action.Save}",
				id: "${dialogId}_saveButton",
				onClick: function() { dojo.publish("${dialogId}_saveButton", ""); }
			}) ]'>

		<form id="changepasswd_form" data-dojo-type="dijit.form.Form" data-dojo-attach-point="changepasswd_form">

			<div data-dojo-type='ism.widgets.TextBox' id="${dialogId}_currpasswd" type='password' data-dojo-attach-point='field_currpasswd'
				data-dojo-props='width: "150px", 
				label: "${nls.changePassword.dialog.currpasswd}",
				required: true,
				labelAlignment: "horizontal",
				labelWidth: ""'></div>
				
			<div data-dojo-type='ism.widgets.TextBox' id="${dialogId}_passwd1" type='password' data-dojo-attach-point='field_passwd1'
				data-dojo-props='width: "150px", 
				label: "${nls.changePassword.dialog.newpasswd}",
				required: true,
				labelAlignment: "horizontal",
				labelWidth: ""'></div>

			<div data-dojo-type='ism.widgets.TextBox' id="${dialogId}_passwd2" type='password' data-dojo-attach-point='field_passwd2'
				data-dojo-props='width: "150px", 
				label: "${nls.changePassword.dialog.password2}",
				required: true,
				labelAlignment: "horizontal",
				labelWidth: ""'></div>

		</form>
	</div>
</div>

