<div>
	<div style='width: 720px;' data-dojo-type='ism.widgets.Dialog' data-dojo-attach-point='dialog'
		data-dojo-props='title: "${title}",
		    autofocus: false,
		    instruction:  "${instruction}",
			closeButtonLabel: "${nls.appliance.securityProfiles.certsDialog.close}"'>
			
        <!-- Upload form -->
		<form id="${dialogId}_form" data-dojo-type="dijit.form.Form" data-dojo-attach-point="form">
				<div data-dojo-type='ism.widgets.TextBox' data-dojo-attach-point='field_Certificate'
					data-dojo-props='fieldWidth: "300px", 
					label: "${certLabel}",
					readOnly: true,
					hint: "${browseHint}",
					hintPosition: "inside",
					labelAlignment: "horizontal"'></div>
                    <div style="display: inline-block; vertical-align: top;">
                        <input multiple="multiple" type="file" id="${dialogId}_certUploader" style="display:none"
                            data-dojo-attach-point="certificateFile" data-dojo-attach-event="onChange:handleFileChangeEvent" />
                        <button id="${dialogId}_certUploaderButton" data-dojo-type="dijit.form.Button" class="browseButton" tabindex="0"
                            data-dojo-attach-event="onClick:clickCertificateBrowseButton">${browseLabel}</button>                            
						<button class="browseButton" id="${dialogId}_uploadButton" data-dojo-type="dijit.form.Button"
			                    data-dojo-attach-point="uploadButton"data-dojo-attach-event="onClick:upload">
			                    ${nls.appliance.securityProfiles.certsDialog.upload}</button>
		            </div>
		</form>
		<!--  certificates grid place holder -->
		<div data-dojo-attach-point='certificatesGridDiv' style="padding: 15px 1px"></div>
	</div>
</div>

