<div>
    <!-- Status Section -->
    <h2 id="${id}_statusTitle">${nls.statusTitle}</h2>
    <span id="${id}_statusTagline" data-dojo-attach-point="statusTagline" class="tagline">${nls.statusNotConfigured}</span>
    <br /><br />
    <div>
        <table role="presentation" class="clusterConfigTable"
            id="${id}_statusTable">
            <tr id="${id}_membershipRow">
                <td nowrap><span id="${id}_statusLabel" class="clusterLabel">${nls.clusterMembershipLabel}</span></td>
                <td nowrap>
                    <span id="${id}_statusValue" class="clusterValue" data-dojo-attach-point="statusValue">${nls.notConfigured}</span>
                    <a class="actionLink" id="${id}_joinLink" href="javascript:;" style="display:none" 
                        data-dojo-attach-point="joinLink" data-dojo-attach-event="onclick:join"></a>    
                    <a class="actionLink" id="${id}_leaveLink" href="javascript:;" style="display:none" 
                        data-dojo-attach-point="leaveLink" data-dojo-attach-event="onclick:leave">${nls.leaveLink}</a>                
                </td>            
            </tr>
            <tr id="${id}_stateRow">
                <td nowrap><span id="${id}_stateLabel" class="clusterLabel">${nls.clusterStateLabel}</span></td>
                <td nowrap><span id="${id}_stateValue" class="clusterValue" data-dojo-attach-point="stateValue"></span></td>
            </tr>        
        </table>
    </div>
    <br /><br />
    
    <!-- Configuration Section -->
    <h2 id="${id}_configurationTitle">${nls.configurationTitle}
        <a class="actionLink" id="${id}_editLink" href="javascript:;" data-dojo-attach-point="editLink"
            data-dojo-attach-event="onclick:editConfig">${nls.editLink}</a>
        <a class="actionLink" id="${id}_resetLink" href="javascript:;" data-dojo-attach-point="resetLink"
            data-dojo-attach-event="onclick:resetConfig">${nls.resetLink}</a>    
                
    </h2>
    <span id="${id}_configurationTagline" data-dojo-attach-point="configurationTagline" class="tagline">${nls.configurationTagline}</span>
    <br /><br />
    <div>      
        <table role="presentation" class="clusterConfigTable" id="${id}_clusterConfigTable"> 
            <tr id="${id}_clusterNameRow">
                <td nowrap >
                    <span id="${id}_clusterNameLabel" class="clusterLabel">${nls.clusterNameLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_clusterName" data-dojo-attach-point="ClusterName" class="clusterValue">${nls.notSet}</span>
                </td>
            </tr>          
            <tr id="${id}_useMulticastDiscoveryRow">
                <td nowrap >
                    <span id="${id}_useMulticastDiscoveryLabel" class="clusterLabel">${nls.useMulticastDiscoveryLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_useMulticastDiscovery" data-dojo-attach-point="UseMulticastDiscovery" class="clusterValue">${nls.yes}</span>
                </td>
            </tr>
             <tr id="${id}_discoveryPortRow">
                <td nowrap >
                    <span id="${id}_discoveryPortLabel" class="clusterLabel clusterLabelIndent">${nls.discoveryPortLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_discoveryPort" data-dojo-attach-point="DiscoveryPort" class="clusterValue">9104</span>
                </td>
            </tr>
            <tr id="${id}_multicastTTLRow">
                <td nowrap >
                    <span id="${id}_multicastTTLLabel" class="clusterLabel clusterLabelIndent">${nls.multicastTTLLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_multicastTTL" data-dojo-attach-point="MulticastDiscoveryTTL" class="clusterValue">1</span>
                </td>
            </tr>
            <tr id="${id}_withMembersRow">
                <td nowrap >
                    <span id="${id}_withMembersLabel" class="clusterLabel">${nls.withMembersLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_withMembers" data-dojo-attach-point="DiscoveryServerList" class="clusterValue">${nls.notSet}</span>
                </td>
            </tr>
            <tr id="${id}_discoveryTimeRow">
                <td nowrap >
                    <span id="${id}_discoveryTimeLabel" class="clusterLabel">${nls.discoveryTimeLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_discoveryTime" data-dojo-attach-point="DiscoveryTime" class="clusterValue">10</span>
                </td>
            </tr>
            <tr id="${id}_controlInterfaceSection">
                <td nowrap colspan="2">
                    <span id="${id}_controlInterfaceSectionTitle" class="clusterLabel">${nls.controlInterfaceSectionTitle}</span>
                </td> 
            </tr>
            <tr id="${id}_controlAddressRow">
                <td nowrap >
                    <span id="${id}_controlAddressLabel" class="clusterLabel clusterLabelIndent">${nls.addressLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_controlAddress" data-dojo-attach-point="ControlAddress" class="clusterValue">${nls.notSet}</span>
                </td>
            </tr>
            <tr id="${id}_controlPortRow">
                <td nowrap >
                    <span id="${id}_controlPortLabel" class="clusterLabel clusterLabelIndent">${nls.portLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_controlPort" data-dojo-attach-point="ControlPort" class="clusterValue">${defaultControlPort}</span>
                </td>
            </tr>
            <tr id="${id}_controlExternalAddressRow">
                <td nowrap >
                    <span id="${id}_controlExternalAddressLabel" class="clusterLabel clusterLabelIndent">${nls.externalAddressLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_controlExternalAddress" data-dojo-attach-point="ControlExternalAddress" class="clusterValue">${nls.notSet}</span>
                </td>
            </tr>
            <tr id="${id}_controlExternalPortRow">
                <td nowrap >
                    <span id="${id}_controlExternalPortLabel" class="clusterLabel clusterLabelIndent">${nls.externalPortLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_controlExternalPort" data-dojo-attach-point="ControlExternalPort" class="clusterValue">${nls.notSet}</span>
                </td>
            </tr>
            <tr id="${id}_messagingInterfaceSection">
                <td nowrap colspan="2">
                    <span id="${id}_messagingInterfaceSectionTitle" class="clusterLabel">${nls.messagingInterfaceSectionTitle}</span>
                </td> 
            </tr>
            <tr id="${id}_messagingAddressRow">
                <td nowrap >
                    <span id="${id}_messagingAddressLabel" class="clusterLabel clusterLabelIndent">${nls.addressLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_messagingAddress" data-dojo-attach-point="MessagingAddress" class="clusterValue">${nls.notSet}</span>
                </td>
            </tr>
            <tr id="${id}_messagingPortRow">
                <td nowrap >
                    <span id="${id}_messagingPortLabel" class="clusterLabel clusterLabelIndent">${nls.portLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_messagingPort" data-dojo-attach-point="MessagingPort" class="clusterValue">${defaultMessagingPort}</span>
                </td>
            </tr>
            <tr id="${id}_messagingExternalAddressRow">
                <td nowrap >
                    <span id="${id}_messagingExternalAddressLabel" class="clusterLabel clusterLabelIndent">${nls.externalAddressLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_messagingExternalAddress" data-dojo-attach-point="MessagingExternalAddress" class="clusterValue">${nls.notSet}</span>
                </td>
            </tr>
            <tr id="${id}_messagingExternalPortRow">
                <td nowrap >
                    <span id="${id}_messagingExternalPortLabel" class="clusterLabel clusterLabelIndent">${nls.externalPortLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_messagingExternalPort" data-dojo-attach-point="MessagingExternalPort" class="clusterValue">${nls.notSet}</span>
                </td>
            </tr>
            <tr id="${id}_messagingUseTLSRow">
                <td nowrap >
                    <span id="${id}_messagingUseTLSLabel" class="clusterLabel clusterLabelIndent">${nls.useTLSLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_messagingUseTLS" data-dojo-attach-point="MessagingUseTLS" class="clusterValue">${nls.no}</span>
                </td>
            </tr>
        </table>
    </div>

</div>