<div class="ClusterStatsGrid">
    <div id="clusterGridNode" title='${nls.gridTitle}'></div>
        <table role="presentation">
            <tr>

            </tr>       
        </table>

    <br /> <br />
    <div id='${id}_clusterStatsGridSection' data-dojo-type='ism.widgets.ToggleContainer' 
         class="toggleHeading" data-dojo-attach-point='clusterStatsGridSection' 
         data-dojo-props='title: "${nls.gridTitle}",
                          triggerid: "clusterStatsGrid",
                          noToggle: true'>
        <table role="presentation" class="configTable" id="${id}_localServerTable" style="margin-left: 25px" > 
            <tr id="${id}_serverConnectionRow">
                <td nowrap >
                    <span id="${id}_serverName" data-dojo-attach-point="ServerName" class="clusterValue">${nls.none}</span>
                </td>
                <td nowrap >
                    <span id="${id}_connStateLabel" class="configLabel">${nls.connStateLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_connState" data-dojo-attach-point="ConnState" class="ismIconUnknown" style="display: inline-block"></span>
                </td>
                <td style="width: 200px;" "colspan=4></td>
	            <td style="padding-right: 5px; padding-left: 10px;">
	                <button id="cg_resumeupdButton" data-dojo-type="dijit.form.Button"
	                    data-dojo-attach-point="resumeupdButton" data-dojo-attach-event="onClick:resumeUpdates">${nls.resumeUpdatesButton}</button>
	
	            </td>
            </tr>
            <tr id="${id}_haStatusRow">
                <td nowrap >
                </td>
                <td nowrap >
                    <span id="${id}_haStatusLabel" class="configLabel">${nls.haStatusLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_haStatus" data-dojo-attach-point="HAStatus" class="clusterValue">${nls.none}</span>
                </td>
                <td style="width: 200px;" "colspan=4></td>
                <td style="padding-left: 15px;" colspan=2>${nls.lastUpdated}<span style="padding-left: 5px;" id="cg_lastUpdateTime" data-dojo-attach-point="lastUpdateTime">${nls.notAvailable}</span><br />
                    <span id="cg_updateInterval" data-dojo-attach-point="updateInterval">${nls.none}</span></td>
                <td>
                    <div id="cg_refreshingLabel" style="display:none" ><img src='css/images/loading_wheel.gif' width='10' height='10' alt=''/>${nls.refreshingLabel}</div>
                </td>
            </tr>            
            <tr id="${id}_incomingMsgsRow">
                <td nowrap >
                </td>
                <td nowrap >
                    <span id="${id}_incomingMsgsLabel" class="configLabel">${nls.incomingMsgsLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_incomingMsgs" data-dojo-attach-point="IncomingMsgs" class="configValue">${nls.none}</span>
                </td>
            </tr>
            <tr id="${id}_outgoingMsgsRow">
                 <td nowrap >
                </td>
                <td nowrap >
                    <span id="${id}_outgoingMsgsLabel" class="configLabel">${nls.outgoingMsgsLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_outgoingMsgs" data-dojo-attach-point="OutgoingMsgs" class="configValue">${nls.none}</span>
                </td>
            </tr>
            <tr id="${id}_bufferedMsgsRow">
                <td nowrap >
                </td>
                <td nowrap >
                    <span id="${id}_bufferedMsgsLabel" class="configLabel">${nls.bufferedMsgsLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_bufferedMsgs" data-dojo-attach-point="BufferedMsgs" class="configValue">${nls.none}</span>
                </td>
            </tr>
            <tr id="${id}_discardedMsgsRow">
                <td nowrap >
                </td>
                <td nowrap >
                    <span id="${id}_discardedMsgsLabel" class="configLabel">${nls.discardedMsgsLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_discardedMsgs" data-dojo-attach-point="DiscardedMsgs" class="configValue">${nls.none}</span>
                </td>
            </tr>
        </table>
    </div>
    <div id='clusterStatsGridContent'></div>
</div>