<div>
	<div id="${dialogId}_dialog" style='width: 1050px;' data-dojo-type='ism.widgets.Dialog' data-dojo-attach-point='dialog'
		data-dojo-props='title: "${dialogTitle}", 
			instruction: "${dialogInstruction}",
			autofocus: false,
			onEnter: function() {
				if(!dijit.byId("${dialogId}_saveButton").get("disabled")) {
					dojo.publish("${dialogId}_saveButton", ""); 
				}
			},
            closeButtonLabel: "${closeButtonLabel}",
			buttons: [ new dijit.form.Button({ 
                label: "${nls.saveButton}",
				id: "${dialogId}_saveButton",
				onClick: function() { dojo.publish("${dialogId}_saveButton", ""); }
			}) ]'>

		<form id="${dialogId}_DialogForm" data-dojo-type="dijit.form.Form">
			<div style='float: left; display: inline-block; width: 430px;' id='${dialogId}_topLeftGroup'>
                <!-- left section -->
				<div style='padding: 1px; display: block; margin-right: 20px;'>
					<div id="${dialogId}_name" data-dojo-type='ism.widgets.TextBox' data-dojo-attach-point='field_Name'
						data-dojo-props=' 
						inputWidth: "15em",
						label: "${nameLabel}",
                        tooltipContent: "${nameTooltip}",
						required: true,
						labelAlignment: "horizontal", 
						labelWidth: "175"'></div>
				</div>
                <div style='padding: 1px; display: block; margin-right: 20px;'>
                    <select style='padding-left: -10px;' multiple="true" data-dojo-type='ism.widgets.CheckBoxList' 
                        data-dojo-attach-point='field_ActionList'
                        id="${dialogId}_action"
                        data-dojo-props='
                        label: "${authorityLabel}", 
                        tooltipContent: "${authorityTooltip}",
                        required: true,
                        instantValidate: false,
                        labelAlignment: "horizontal",
                        groupAlignment: "vertical",
                        labelWidth: "163px"'>
                        <option id="${dialogId}_action_Configure" value="Configure">${nls.configure}</option>
                        <option id="${dialogId}_action_View" value="View">${nls.view}</option>
                        <option id="${dialogId}_action_Monitor" value="Monitor">${nls.monitor}</option>
                        <option id="${dialogId}_action_Manage" value="Manage">${nls.manage}</option>
                    </select>
                </div>                 
                
			</div>
			<div style='float: left; display: inline-block; width: 430px;' id='${dialogId}_topRightGroup'>
                <!-- right section -->
            	<div style='padding: 1px; display: block;  margin-right: 20px;'>
                    <div data-dojo-type='ism.widgets.TextArea'
                           id="${dialogId}_description"
                  		   data-dojo-attach-point='field_Description'
                           data-dojo-props='label: "${descriptionLabel}", 
                        					alignWithRequired: false,
                        					labelAlignment: "horizontal", 
                        					labelWidth: "175"'>
                	</div>
                </div>
			</div>
			<div style='padding: 15px 1px 15px 1px; display: block; clear: both;'>
                <div id="${dialogId}_filterDescription" style='display: inline'><strong>${nls.dialogFilterInstruction}</strong></div>
                <div style="display: inline-block; vertical-align: top;">
                    <div id="${dialogId}_filterHover" href="#bogus1" role="tooltip"
                        tabindex="0" class="hoverHelpIcon" aria-labelledby="${dialogId}_filterTooltip"
                        onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div>
                    <span id="${dialogId}_filterTooltip"
                        data-dojo-type="idx.widget.HoverHelpTooltip"
                        data-dojo-props='connectId:["${dialogId}_filterHover"], forceFocus: true, showLearnMore:false'>${nls.dialogFilterTooltip}</span>
                </div>
            </div>
            <div style='float: left; display: inline-block; width: 430px;' id='${dialogId}_bottomLeftGroup'>
                <!-- left section -->
                <div style='padding: 1px 1px 5px 1px; display: block; margin-right: 20px;'>
                    <div style='display: inline;'
                        id="${dialogId}_checkbox_UserID"
                        aria-label="${userIdLabel}"  
				        aria-describedby="${dialogId}_filterDescription"
                        data-dojo-type='idx.form.CheckBox'
                        data-dojo-attach-point='checkbox_UserID'
                        data-dojo-props='checked: false'></div>             
                    <div style='display: inline; padding-left: -10px;'
                        id="${dialogId}_UserID" 
                        data-dojo-type='ism.widgets.TextBox'
                        data-dojo-attach-point='field_UserID'
                        data-dojo-props=' 
                        pattern: "[^\\*]*\\*?",
                        invalidMessage: "${invalidWildcard}",
                        intermediateChanges: true, 
                        disabled: true,
                        inputWidth: "15em",
                        label: "${userIdLabel}", 
                        labelAlignment: "horizontal", 
                        labelWidth: "143"'></div>
                </div>
                <div style='padding: 1px 1px 5px 1px; display: block; margin-right: 20px;'>
                    <div style='display: inline;'
                        id="${dialogId}_checkbox_GroupID"
                        aria-label="${groupIdLabel}"  
                        aria-describedby="${dialogId}_filterDescription"
                        data-dojo-type='idx.form.CheckBox'
                        data-dojo-attach-point='checkbox_GroupID'
                        data-dojo-props='checked: false'></div>             
                    <div style='display: inline; padding-left: -10px;' 
                        id="${dialogId}_GroupID"
                        data-dojo-type='ism.widgets.TextBox'
                        data-dojo-attach-point='field_GroupID'
                        data-dojo-props='
                            pattern: "[^\\*]*\\*?",
                            invalidMessage: "${invalidWildcard}",
                            intermediateChanges: true, 
                            disabled: true, 
                            inputWidth: "15em",
                            label: "${groupIdLabel}", 
                            labelAlignment: "horizontal", 
                            labelWidth: "143"'></div>
                </div>  
            </div>
			<div style='float: left; display: inline-block; width: 390px;' id='${dialogId}_bottomRightGroup'>
                <!-- right section -->
				<div style='float: left'>
                    <div style='padding: 1px 1px 5px 1px; display: block;'>
                        <div style='display: inline; vertical-align: top'
                            id="${dialogId}_checkbox_clientAddress"
                            aria-label="${clientIPLabel}"  
                            aria-describedby="${dialogId}_filterDescription"
                            data-dojo-type='idx.form.CheckBox'
                            data-dojo-attach-point='checkbox_ClientAddress'
                            data-dojo-props='checked: false'></div>             
                        <div style='display: inline; padding-left: -10px;'
                            id="${dialogId}_clientAddress"  
                            data-dojo-type='ism.widgets.TextBox'
                            data-dojo-attach-point='field_ClientAddress'
                            data-dojo-props=' 
                            pattern: "\\*|([a-fA-F0-9\\[\\]\\-\\.:,]+)", 
                            invalidMessage: "${invalidClientIP}",
                            intermediateChanges: true, 
                            disabled: true,
                            inputWidth: "15em",
                            label: "${clientIPLabel}", 
                            labelAlignment: "horizontal", 
                            labelWidth: "143"'></div>
                    </div>
                    <div style='padding: 1px 1px 5px 1px; display: block;'>
                        <div style='display: inline;'
                            id="${dialogId}_checkbox_commonNames"
                            aria-label="${commonNameLabel}"  
                            aria-describedby="${dialogId}_filterDescription"
                            data-dojo-type='idx.form.CheckBox'
                            data-dojo-attach-point='checkbox_CommonNames'
                            data-dojo-props='checked: false'></div>             
                        <div style='display: inline; padding-left: -10px;'
                            id="${dialogId}_commonNames" 
                            data-dojo-type='ism.widgets.TextBox'
                            data-dojo-attach-point='field_CommonNames'
                            data-dojo-props=' 
                            pattern: "[^\\*]*\\*?",
                            invalidMessage: "${invalidWildcard}",
                            intermediateChanges: true, 
                            disabled: true,
                            inputWidth: "15em",
                            label: "${commonNameLabel}", 
                            labelAlignment: "horizontal", 
                            labelWidth: "143"'></div>
                    </div>                    
			</div>
            <div style='clear: both;'></div>
        </form>
    </div>
</div>
