<div class="ConnectionChart">

	<span id="ConnectionChartWarnArea"></span>

	<div id="activeConnectionsChartNode" title='${nls.monitoring.connectionStats.charts.activeConnectionsTitle}'></div>

    <div id="newConnectionsChartNode" title='${nls.monitoring.connectionStats.charts.newConnectionsTitle}'></div>

    <div id="newConnectionsChartLegend" style="margin-left: 80px; padding-right: 20px; display: inline-block;"></div>

	<div id="chartControls" style="float: right;">
		<button id="pauseButton" data-dojo-type="dijit.form.Button" data-dojo-attach-point="pauseButton"
			data-dojo-attach-event="onClick:pauseUpdate">${nls.monitoring.pauseButton}</button>
	</div>

</div>
