<div>
	<div id="${dialogId}_dialog" style='width: 900px;' data-dojo-type='ism.widgets.Dialog' data-dojo-attach-point='dialog'
		data-dojo-props='title: "${dialogTitle}", 
			instruction: "${dialogInstruction}",
			autofocus: false,
            onEnter: function() {
				if(!dijit.byId("${dialogId}_saveButton").get("disabled")) {
					dojo.publish("${dialogId}_saveButton", ""); 
				} 
			},  
			closeButtonLabel: "${nls.messaging.dialog.cancelButton}",
			buttons: [ new dijit.form.Button({ 
				id: "${dialogId}_saveButton",
				label: "${nls.messaging.dialog.saveButton}", 
				onClick: function() { 
					console.debug("+++ Publishing on: ${dialogId}_saveButton");
					dojo.publish("${dialogId}_saveButton", ""); }
			}) ]'>

		<form id="${dialogId}_DialogForm" data-dojo-type="dijit.form.Form">
			<div style='float: left; display: inline-block; width: 415px;' id='${dialogId}_topLeftGroup'>
				<!-- left section -->
				<div style='padding: 1px 1px 5px 1px; display: block; margin-right: 20px;'>
					<div id="${dialogId}_name" data-dojo-type='ism.widgets.TextBox'
						data-dojo-attach-point='field_Name'
						data-dojo-props=' 
						inputWidth: "15em",
						label: "${nameLabel}:",
						tooltipContent: "${nameTooltip}",
						required: true,
						labelAlignment: "horizontal", 
						labelWidth: "175"'></div>
				</div>
			</div>
			<div style='float: left; display: inline-block; width: 415px;' id='${dialogId}_topRightGroup'>
				<!-- right section -->
				<div style='padding: 1px 1px 5px 1px; display: block; float: left'>
					<div id="${dialogId}_description" data-dojo-type='ism.widgets.TextArea'
						data-dojo-attach-point='field_Description'
						data-dojo-props='
                        inputWidth: "233px",
                        label: "${descriptionLabel}:", 
                        labelAlignment: "horizontal", 
                        labelWidth: "175"'></div>
				</div>
			</div>
			<div style='padding: 15px 1px 15px 1px; display: block; clear: both;'>
				<div id="${dialogId}_filterDescription" style='display: inline'><strong>${!nls.messaging.filterHeadingConnection}</strong></div>
				<div style="display: inline-block; vertical-align: top;">
					<div id="${dialogId}_filterHover" href="#bogus1" role="tooltip"
						tabindex="0" class="hoverHelpIcon"
						onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div>
					<span id="${dialogId}_filterTooltip"
						data-dojo-type="idx.widget.HoverHelpTooltip"
						data-dojo-props='connectId:["${dialogId}_filterHover"], forceFocus: true, showLearnMore:false'>${nls.messaging.connectionPolicies.dialog.tooltip.filter}</span>
				</div>
			</div>
			<div style='float: left; display: inline-block; width: 415px;' id='${dialogId}_bottomLeftGroup'>
				<!-- left section -->
				<div style='padding: 1px 1px 5px 1px; display: block; margin-right: 20px;'>
				    <div style='display: inline; vertical-align: top'
				        id="${dialogId}_checkbox_clientAddress"
				        aria-label="${clientIPLabel}"  
				        aria-describedby="${dialogId}_filterDescription"
				        data-dojo-type='idx.form.CheckBox'
				        data-dojo-attach-point='checkbox_ClientAddress'
                        data-dojo-props='checked: false'></div>				
					<div style='display: inline; padding-left: -10px;' 
                        id="${dialogId}_clientAddress" 
					    data-dojo-type='ism.widgets.TextBox'
						data-dojo-attach-point='field_ClientAddress'
						data-dojo-props='
						pattern: "\\*|([a-fA-F0-9\\[\\]\\-\\.:,]+)",
						invalidMessage: "${invalidClientIPMessage}",
						intermediateChanges: true, 
		                disabled: true,
                        inputWidth: "15em",
                        label: "${clientIPLabel}:", 
                        labelAlignment: "horizontal", 
                        labelWidth: "145"'></div>
				</div>
				<div style='padding: 1px 1px 5px 1px; display: block; margin-right: 20px;'>
                    <div style='display: inline;'
                        id="${dialogId}_checkbox_UserID" 
                      	aria-label="${IDLabel}"  
				        aria-describedby="${dialogId}_filterDescription"
                        data-dojo-type='idx.form.CheckBox'
                        data-dojo-attach-point='checkbox_UserID'
                        data-dojo-props='checked: false'></div>             
                    <div style='display: inline; padding-left: -10px;' 
                        id="${dialogId}_UserID" 
                        data-dojo-type='ism.widgets.TextBox'
						data-dojo-attach-point='field_UserID'
						data-dojo-props=' 
						pattern: "[^\\*]*\\*?",
						invalidMessage: "${invalidWildcard}",
                        intermediateChanges: true, 
						disabled: true,
                        inputWidth: "15em",
                        label: "${IDLabel}:", 
                        labelAlignment: "horizontal", 
                        labelWidth: "145"'></div>
				</div>
				<div style='padding: 1px 1px 5px 1px; display: block; margin-right: 20px;'>
                    <div style='display: inline;'
                        id="${dialogId}_checkbox_commonNames" 
                        aria-label="${commonNameLabel}"  
				        aria-describedby="${dialogId}_filterDescription"
                        data-dojo-type='idx.form.CheckBox'
                        data-dojo-attach-point='checkbox_CommonNames'
                        data-dojo-props='checked: false'></div>             
                    <div style='display: inline; padding-left: -10px;' 
                        id="${dialogId}_commonNames" 
                        data-dojo-type='ism.widgets.TextBox'
						data-dojo-attach-point='field_CommonNames'
						data-dojo-props=' 
                        pattern: "[^\\*]*\\*?",
                        invalidMessage: "${invalidWildcard}",
                        intermediateChanges: true, 
						disabled: true,
                        inputWidth: "15em",
                        label: "${commonNameLabel}:", 
                        labelAlignment: "horizontal", 
                        labelWidth: "145"'></div>
				</div>
			</div>
			<div style='float: left; display: inline-block; width: 400px;' id='${dialogId}_bottomRightGroup'>
				<!-- right section -->
				<div style='float: left'>
					<div style='padding: 1px 1px 5px 1px; display: block;'>
	                    <div style='display: inline;'
                            id="${dialogId}_checkbox_clientID" 
                            aria-label="${clientIDLabel}"  
				            aria-describedby="${dialogId}_filterDescription"
	                        data-dojo-type='idx.form.CheckBox'
	                        data-dojo-attach-point='checkbox_ClientID'
	                        data-dojo-props='checked: false'></div>             
	                    <div style='display: inline; padding-left: -10px;' 
                            id="${dialogId}_clientID" 
	                        data-dojo-type='ism.widgets.TextBox'
							data-dojo-attach-point='field_ClientID'
							data-dojo-props=' 
                                pattern: "[^\\*]*\\*?",
                                invalidMessage: "${invalidWildcard}",
                                intermediateChanges: true, 
							    disabled: true,
		                        inputWidth: "15em",
		                        label: "${clientIDLabel}:", 
		                        labelAlignment: "horizontal", 
		                        labelWidth: "145"'></div>
					</div>
					<div style='padding: 1px 1px 5px 1px; display: block;'>
	                    <div style='display: inline;'
                            id="${dialogId}_checkbox_GroupID" 
                            aria-label="${groupLabel}"  
				            aria-describedby="${dialogId}_filterDescription"
	                        data-dojo-type='idx.form.CheckBox'
	                        data-dojo-attach-point='checkbox_GroupID'
	                        data-dojo-props='checked: false'></div>             
	                    <div style='display: inline; padding-left: -10px;' 
                            id="${dialogId}_GroupID" 
	                        data-dojo-type='ism.widgets.TextBox'
							data-dojo-attach-point='field_GroupID'
							data-dojo-props='
                                pattern: "[^\\*]*\\*?",
                                invalidMessage: "${invalidWildcard}",
                                intermediateChanges: true, 
							    disabled: true, 
		                        inputWidth: "15em",
		                        label: "${groupLabel}:", 
		                        labelAlignment: "horizontal", 
		                        labelWidth: "145"'></div>
					</div>
                    <div style='padding: 1px 1px 5px 1px; display: block;'>
						<div style='display: inline;'
                            data-dojo-type='idx.form.CheckBox'
                        	style='display: inline;'
                            id="${dialogId}_checkbox_protocol"
                            aria-label="${protocolLabel}"  
				            aria-describedby="${dialogId}_filterDescription"
                            data-dojo-attach-point='checkbox_Protocol'
                            data-dojo-props='checked: false'></div>        
						<select id="${dialogId}_protocol" data-dojo-type="idx.form.CheckBoxSelect" 
                   		 		data-dojo-attach-point='field_Protocol' style='display: inline-block; padding-left: -10px;' multiple="true" 
								data-dojo-props='label:"${protocolLabel}:", 
   									labelWidth: "145px", 
   							 		fieldWidth: "15em",
   							 		instantValidate: false, 
                             		labelAlignment: "horizontal",
                             		invalidMessage: "${missingRequiredMessage}",  
                             		placeHolder: "${protocolPlaceholder}",
                             		required: false, 
                             		autoWidth: false, 
                             		readOnly: false, 
                             		disabled: true '> 
						</select>
					</div>
				</div>
			</div>
            <div style='padding: 15px 1px 15px 1px; display: block; clear: both;'>
                <div id="${dialogId}_settingsDescription" style='display: inline'><strong>${nls_cp.resourcesSection}</strong></div>
            </div>
            <div style='float: left; display: inline-block; width: 415px;' id='${dialogId}_mqttResourcesGroup'>
                <div style='padding: 1px;'>
                    <div class='idxLabel dijitInline'
                        id='${dialogId}_mp_label_allowDurable'
                        style='width: 252px; display: inline-block;'>
                        <span class="ismWidgetLabel">${nls_cp.allowDurable}:</span>
                        <div id="${dialogId}_allowDurable_Hover"
                            href="#bogus1" role="tooltip"
                            style='display: inline-block; vertical-align: bottom;' tabindex="0"
                            class="ismWidgetHoverHelpIcon"
                            aria-labelledby="${dialogId}_allowDurable_Tooltip"
                            onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div>
                        <span id="${dialogId}_allowDurable_Tooltip"
                            data-dojo-type="idx.widget.HoverHelpTooltip"
                            data-dojo-props='connectId:["${dialogId}_allowDurable_Hover"], forceFocus: true, showLearnMore:false'>${nls_cp.allowDurableHelp}</span>
                    </div>
                    <div data-dojo-type='idx.form.CheckBox'
                        id="${dialogId}_AllowDurable"
                        aria-labelledby='${dialogId}_mp_label_allowDurable'
                        data-dojo-attach-point='field_AllowDurable'
                        data-dojo-props='checked: true'></div>
                </div>
                <div style='padding: 1px;'>
                    <div class='idxLabel dijitInline'
                        id='${dialogId}_mp_label_allowPersistentMessages'
                        style='width: 252px; display: inline-block;'>
                        <span class="ismWidgetLabel">${nls_cp.allowPersistentMessages}:</span>
                        <div id="${dialogId}_allowPersistentMessages_Hover"
                            href="#bogus1" role="tooltip"
                            style='display: inline-block; vertical-align: bottom;' tabindex="0"
                            class="ismWidgetHoverHelpIcon"
                            aria-labelledby="${dialogId}_allowPersistentMessages_Tooltip"
                            onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div>
                        <span id="${dialogId}_allowPersistentMessages_Tooltip"
                            data-dojo-type="idx.widget.HoverHelpTooltip"
                            data-dojo-props='connectId:["${dialogId}_allowPersistentMessages_Hover"], forceFocus: true, showLearnMore:false'>${nls_cp.allowPersistentMessagesHelp}</span>
                    </div>
                    <div data-dojo-type='idx.form.CheckBox'
                        id="${dialogId}_AllowPersistentMessages"
                        aria-labelledby='${dialogId}_mp_label_allowPersistentMessages'
                        data-dojo-attach-point='field_AllowPersistentMessages'
                        data-dojo-props='checked: true'></div>
                </div>
                
            </div>            
			<div style='clear: both;'></div>
		</form>
	</div>
</div>
