<div class="ConnectionGrid">

	<table role="presentation">

		<tr>
			<td style="padding-right: 10px;">
				<div id="cg_listenerLabel">${nls.monitoring.grid.listenerLabel}</div>
			</td>
			<td><select id="cg_listenerCombo" aria-labelledby="cg_listenerLabel"
				data-dojo-type="ism.widgets.Select" data-dojo-attach-point="listenerCombo"
				data-dojo-attach-event="onChange:changeListener"
				data-dojo-props='name:"listenerCombo",
							fieldWidth: "200px",
							store: new dojo.data.ItemFileWriteStore({
								data: {
									label: "name",
									identifier: "id",
									items: []
								}
							})'>
			</select></td>
			<td style="padding-left: 20px; padding-right: 10px;">
				<div id="cg_datasetLabel">${nls.monitoring.grid.datasetLabel}</div>
			</td>
			<td><select id="cg_datasetCombo" aria-labelledby="cg_datasetLabel"
				data-dojo-type="ism.widgets.Select" data-dojo-attach-point="datasetCombo"
				data-dojo-attach-event="onChange:changeDataset"
				data-dojo-props='name:"datasetCombo",
							fieldWidth: "200px",
							store: new dojo.data.ItemFileWriteStore({
								data: {
									label: "name",
									identifier: "name",
									items: []
								}
							})'>
			</select></td>
			<td style="padding-left: 15px; padding-right: 5px;">
				<button id="cg_updateButton" data-dojo-type="dijit.form.Button"
					data-dojo-attach-point="updateButton" data-dojo-attach-event="onClick:updateGrid">${nls.monitoring.grid.refreshButton}</button>

			</td>
			<td>
				<div id="cg_refreshingLabel" style="display:none" ><img src='css/images/loading_wheel.gif' width='10' height='10' alt=''/>${nls.monitoring.grid.refreshingLabel}</div>
			</td>
		</tr>
		<tr>
			<td colspan=4></td>
			<td style="padding-left: 20px; vertical-align: top;" colspan=2>${nls.monitoring.lastUpdated}<span style="padding-left: 5px;" id="cg_lastUpdateTime" data-dojo-attach-point="lastUpdateTime">${nls.monitoring.notAvailable}</span><br />
                ${nls.monitoring.cacheInterval}</td>
        </tr>       
	</table>

	<br />

	<div id='connectionGridContent'></div>

</div>
