
<div>
    <p id='dateTimeDescription'>${nls.appliance.serverLocale.dateTime.dateTimeDesc}</p>
    <br />
    <form id="dateTimeForm" data-dojo-type="dijit.form.Form" data-dojo-attach-point="dateTimeForm">
	<table role="presentation">
		<tr>
			<td class="firstcol"><label for="dateCombo">${nls.appliance.serverLocale.dateTime.dateLabel}</label></td>
			<td><select id="dateCombo"
				data-dojo-type="idx.form.DateTextBox"
				data-dojo-attach-event="onChange: clearTimeDateOutput"
				data-dojo-attach-point="dateCombo"
				data-dojo-props='name:"dateCombo", required: true, fieldWidth: "220px", constraints: {datePattern: ism.user.localeInfo.dateFormatString}'>
			</select></td>
		</tr>
		<tr>
			<td class="firstcol"><label for="timeCombo">${nls.appliance.serverLocale.dateTime.timeLabel}</label></td>
			<td><select id="timeCombo"
				data-dojo-type="idx.form.TimeTextBox"
                data-dojo-attach-event="onChange: clearTimeDateOutput"				
				data-dojo-attach-point="timeCombo"
				data-dojo-props='name:"timeCombo", required: true, fieldWidth: "120px", constraints: {timePattern: ism.user.localeInfo.timeFormatString}'>
			</select></td>
		</tr>
		<tr>
		<td colspan="3">
		<button id="saveTimeDateButton"
				data-dojo-type="dijit.form.Button"
		        data-dojo-attach-point="saveTimeDateButton" 
		        data-dojo-attach-event="onClick:updateTime">${nls.appliance.serverLocale.saveButton}</button>
        <span style="padding: 0px 5px 0px 5px;" id="changeTimeDateText" data-dojo-attach-point="changeTimeDateOutputText"></span>
        <span id="changeTimeDateOutputImage" data-dojo-attach-point="changeTimeDateOutputImage"></span]>                           
		        
		</td>
		</tr>
	</table>
	</form>
</div>
