<div class="DestinationMappingRuleMonitorGrid">
   <form id="dmrg_form" data-dojo-type="dijit.form.Form" data-dojo-attach-point="dmrg_form">

	<table role="presentation">
		<tr>
			<td style="padding-right: 10px; valign:top">
			 <div class="dijitRequired dijitInline dijitReset idxComposite">
			    <div class="idxLabel">
			        <span class="idxRequiredIcon">*</span>
			        <span id="dmrg_ruleNameLabel">${nls.monitoring.grid.ruleNameLabel}</span>
			    </div>
			 </div>				
			</td>
			<td style="valign:top">
				<select id="dmrg_ruleName" aria-labelledby="dmrg_ruleName"
					    data-dojo-type="ism.widgets.TextBox" data-dojo-attach-point="ruleName"
				        data-dojo-props='name:"ruleName",
						         fieldWidth: "150px",
			                     required: true,
			                     missingMessage: "${nls.monitoring.ruleNameMissingMessage}",
							     value: "*"'>
			</select>
			</td>
			<td style="padding-left: 20px; padding-right: 10px; valign:top">
				<div id="dmrg_ruleTypeLabel">${nls.monitoring.grid.ruleTypeLabel}</div>
			</td>
			<td>
				<select id="dmrg_ruleCombo" aria-labelledby="dmrg_ruleTypeLabel"
					    data-dojo-type="ism.widgets.Select" data-dojo-attach-point="ruleCombo"
					    data-dojo-props='name:"ruleCombo",
										 fieldWidth: "280px",
										 store: new dojo.data.ItemFileWriteStore({
										 	data: {
												label: "label",
												identifier: "name",
												items: []
											}
										 })'>
				</select>
			</td>
			<td style="padding-left: 15px; padding-right: 5px;">
				<button id="dmrg_updateButton" data-dojo-type="dijit.form.Button"
					    data-dojo-attach-point="updateButton" data-dojo-attach-event="onClick:updateGrid">${nls.monitoring.grid.refreshButton}</button>
			</td>
			<td>
            	<div id="dmrg_refreshingLabel" style="display:none" ><img src='css/images/loading_wheel.gif' width='10' height='10' alt=''/>${nls.monitoring.grid.refreshingLabel}</div>
			</td>
		</tr>
		<tr>
			<td style="padding-right: 10px;">
				<div id="dmrg_queueManagerConnLabel" style="padding-left: 13px;">${nls.monitoring.grid.queueManagerConnLabel}</div>
			</td>
			<td >
				<select id="dmrg_queueManagerName" aria-labelledby="dmrg_queueManagerName"
						data-dojo-type="ism.widgets.TextBox" data-dojo-attach-point="queueManagerName"
						data-dojo-props='name:"queueManagerName",
										 fieldWidth: "150px",
										 value: "*"'>
				</select>
			</td>
			<td style="padding-left: 20px; padding-right: 10px;">
				<div id="dmrg_datasetLabel">${nls.monitoring.grid.datasetLabel}</div>
			</td>
			<td>
				<select id="dmrg_datasetCombo" aria-labelledby="dmrg_datasetLabel"
						data-dojo-type="ism.widgets.Select" data-dojo-attach-point="datasetCombo"
						data-dojo-props='name:"datasetCombo",
										 fieldWidth: "280px",
										 store: new dojo.data.ItemFileWriteStore({
										 	data: {
												label: "label",
												identifier: "name",
												items: []
											}
										 })'>
				</select>
			</td>
			<td style="padding-left: 20px; vertical-align: top;" colspan=2>${nls.monitoring.lastUpdated}<span style="padding-left: 5px;" id="qmg_lastUpdateTime" data-dojo-attach-point="lastUpdateTime">${nls.monitoring.notAvailable}</span></td>			
		</tr>
	</table>
	</form>
	<br/>
	<div id='destinationRuleMappingMonitorGridContent'></div>
</div>
