<div class="EndpointGrid">

	<table role="presentation">

		<tr>
			<td style="padding-right: 10px;">
				<div id="eg_metricLabel">${nls.monitoring.grid.metricLabel}</div>
			</td>
			<td><select id="eg_metricCombo" aria-labelledby="eg_metricLabel"
				data-dojo-type="ism.widgets.Select" data-dojo-attach-point="metricCombo"
				data-dojo-attach-event="onChange:changeMetric"
				data-dojo-props='name:"metricCombo",
							fieldWidth: "200px",
							store: new dojo.data.ItemFileWriteStore({
								data: {
									label: "name",
									identifier: "name",
									items: []
								}
							})'>
			</select></td>
            <td style="padding-left: 15px; padding-right: 5px;">
                <button id="eg_updateButton" data-dojo-type="dijit.form.Button"
                    data-dojo-attach-point="updateButton" data-dojo-attach-event="onClick:updateGrid">${nls.monitoring.grid.refreshButton}</button>
            </td>
            <td>
                <div id="eg_refreshingLabel" style="display:none" ><img src='css/images/loading_wheel.gif' width='10' height='10' alt=''/>${nls.monitoring.grid.refreshingLabel}</div>
            </td>
        </tr>
        <tr>
            <td colspan=2></td>
            <td style="padding-left: 20px; vertical-align: top;" colspan=2>${nls.monitoring.lastUpdated}<span style="padding-left: 5px;" id="eg_lastUpdateTime" data-dojo-attach-point="lastUpdateTime">${nls.monitoring.notAvailable}</span><br />
                ${nls.monitoring.cacheInterval}</td>
        </tr>       
	</table>

	<br />

	<div id='endpointGridContent'></div>

</div>