<div>
    <!-- Server Section -->
    <h2 id="${id}_fsTitle">${nlsFirstServer.fsTitle}</h2>
    <span id="${id}_fsTagline" data-dojo-attach-point="fsTagline" class="tagline">${nlsFirstServer.fsTagline}</span>
    <br /><br />
    <div>
        <form id="firstServerForm" data-dojo-type="dijit.form.Form" >
            <div class='firstServerContainer' style='width: 900px;'>  
	            <div data-dojo-type='ism.widgets.TextBox' id="${id}_serverName"
	                data-dojo-attach-point='field_serverName'
	                data-dojo-attach-event="onChange:clearTestStatus"
	                data-dojo-props='inputWidth: "240px",
	                labelWidth: "250px", 
	                label: "${serverNameLabel}",
	                labelAlignment: "horizontal",
	                hint: "127.0.0.1:9089",
	                disabled: true'>
	            </div>
            </div>
            <div class='firstServerContainer' style='width: 900px;'>
	            <div data-dojo-type='ism.widgets.TextBox' id="${id}_serverAdminAddress"
	                data-dojo-attach-point='field_serverAdminAddress'
                    data-dojo-attach-event="onChange:clearTestStatus"
	                data-dojo-props='inputWidth: "240px",
	                labelWidth: "250px", 
	                label: "${adminAddressLabel}", 
	                labelAlignment: "horizontal",
	                tooltipContent: "${adminAddressTooltip}",
	                pattern: "[a-zA-Z0-9\.:\-]+",
	                hint: "127.0.0.1",
	                required: false'>
	            </div>
            </div>
            <div class='firstServerContainer' style='width: 900px;'>
	            <div data-dojo-type='ism.widgets.TextBox' id="${id}_serverAdminPort"
	                data-dojo-attach-point='field_serverAdminPort'
                    data-dojo-attach-event="onChange:clearTestStatus"
	                data-dojo-props='inputWidth: "240px",
	                labelWidth: "250px", 
	                label: "${adminPortLabel}",
	                labelAlignment: "horizontal",
	                tooltipContent: "${adminPortTooltip}",
	                pattern: "[\\d]+",
	                required: false,
	                hint: "9089"'>
	            </div>
            </div>
            <div class='firstServerContainer' style='width: 900px;'>
	            <div>  <!-- Send Web UI Credentials label, hoverhelp and check box -->
	                <div class='idxLabel dijitInline' id='${id}_sendWebUICredentialsLabel'
	                    style='width: 250px; display: inline-block;'>
	                    <span class='ismWidgetLabel'>${nls.sendWebUICredentials}</span>            
	                    <div id="${id}_sendWebUICredentials_Hover" href="#bogus1"
	                        role="tooltip" style='display: inline-block' tabindex="0"
	                        class="ismWidgetHoverHelpIcon" aria-labelledby="${id}_sendWebUICredentials_Tooltip"
	                        onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div>
	                    <span id="${id}_sendWebUICredentials_Tooltip"
	                        data-dojo-type="idx.widget.HoverHelpTooltip"
	                        data-dojo-props='connectId:["${id}_sendWebUICredentials_Hover"], forceFocus: true, showLearnMore:false'>${!sendWebUICredentialsTooltip}</span>
	                </div>                          
	                <div id='${id}_sendWebUICredentials' data-dojo-type='idx.form.CheckBox' data-dojo-attach-point='field_sendWebUICredentials' 
                    data-dojo-attach-event='onChange:clearTestStatus'
	                aria-labelledby='${id}_sendWebUICredentialsLabel'
	                     data-dojo-props='fieldWidth: "240px", checked: false'></div>
	            </div>
            </div>
            <div class='firstServerContainer' style='width: 900px;'>
	            <div data-dojo-type='ism.widgets.TextBox' id="${id}_description"
	                data-dojo-attach-point='field_description'
	                data-dojo-props='inputWidth: "240px",
	                labelWidth: "250px", 
	                label: "${descriptionLabel}",
	                labelAlignment: "horizontal",
	                required: false'>
	            </div>
            </div>
            <div class='firstServerContainer' style='width: 900px;'>
	            <div>
		            <span style='display: inline-block; width: 250px' data-dojo-attach-point='firstServerButtons'></span>
		            <button id="${id}_testButton" data-dojo-type="dijit.form.Button"
		                data-dojo-attach-event="onClick:testConnection">${testButtonLabel}</button>
		            <button id="${id}_saveButton" data-dojo-type="dijit.form.Button"
		                data-dojo-attach-event="onClick:save">${saveButtonLabel}</button>
	            </div>
            </div>
        </form>
    </div>
</div>
