<div>
	<div data-dojo-attach-point="${id}" title="${description}">
		<span id="${chartNodeId}WarnArea" data-dojo-attach-point="warnArea"></span>
		<table role="presentation">
		<tr><td><div id="${chartNodeId}" class="chartNode" data-dojo-attach-point="chartNode" style="display: inline-block;"></div></td>
		<td data-dojo-attach-point="legendTd">
			<div id="${id}_legendDiv" data-dojo-attach-point="legendDiv" class="flexChartLegend" style="display: none;">
				<div id="${chartLegendId}_title">${legendTitle}</div>
				<div id="${chartLegendId}" data-dojo-attach-point="chartLegendDiv"></div>
				<div id="${chartLegendId}_note" data-dojo-attach-point="legendNote"></div>
			</div>
		</td></tr>
		</table>
	</div>
</div>
