<div>
	<div style='padding: 10px 5px 5px 1px; display: block;'>
		<div style='padding: 1px 1px 5px 1px; display: block; margin-right: 20px;'>
			<select multiple="false" data-dojo-type='ism.widgets.RadioButtonSet'
					data-dojo-attach-point='field_StartupMode'
					id="${formId}_startupMode"
					data-dojo-attach-event='onChange:changeStartupMode'
					data-dojo-props='label: "${startupModeLabel}", 
                            required: false,
                            labelAlignment: "horizontal",
                            groupAlignment: "horizontal",
                            tooltipContent: "${!startModeTooltip}",
                            labelWidth: "195"'>
				<option value="AutoDetect" selected="true">${nls.appliance.highAvailability.AutoDetect}</option>
				<option value="StandAlone">${nls.appliance.highAvailability.StandAlone}</option>
			</select>
		</div>
		<div id="${formId}_nodePreferredCheckBox" style="margin-left: 50px"
			data-dojo-type='idx.form.CheckBox'
			data-dojo-attach-point='field_PreferredPrimary'
			data-dojo-props='label:"${nodePreferredLabel}", checked: false'></div>
		<br />
		<br />
		<div class="dialogField">
			<div class='idxLabel dijitInline' id='${formId}_useSecuredConnectionsLabel' style='width: 190px; display: inline-block;'>
				<span class="ismWidgetLabel">${nls.haUseSecuredConnectionsLabel}</span>
				<div id="${formId}_useSecuredConnections_Hover" href="#bogus1"
                    role="tooltip" style='display: inline-block;' tabindex="0"
                    class="ismWidgetHoverHelpIcon" aria-labelledby="${formId}_useSecuredConnections_Tooltip"
                    onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div>
                <span id="${formId}_useSecuredConnections_Tooltip"
                    data-dojo-type="idx.widget.HoverHelpTooltip"
                    data-dojo-props='connectId:["${formId}_useSecuredConnections_Hover"], forceFocus: true, showLearnMore:false'>${useSecuredConnectionsTooltip}</span> 
			</div>
			<div id="${formId}_useSecuredConnectionsCheckBox" data-dojo-type='idx.form.CheckBox' 
				aria-labelledby='${formId}_useSecuredConnectionsLabel'
				data-dojo-attach-point='field_UseSecuredConnections' 
				data-dojo-props='fieldWidth: "260px", 
						checked: false'></div>
		</div>
		<br />
		<div id="${formId}_externalReplicationInterface"
   			data-dojo-type='ism.widgets.TextBox'
   			data-dojo-attach-point='field_ExternalReplicationNIC'
   			data-dojo-props='fieldWidth: "260px",
   				maxLength: 256,
   				formId: "${formId}", 
   				label: "${externalReplicationInterfaceLabel}",
   				required: false,
   				labelAlignment: "horizontal",
   				tooltipContent: "${externalReplicationInterfaceTooltip}",
                   labelWidth: "195",
                   value: "",
                   intermediateChanges: true,
   				invalidMessage: "${ipAddrInvalid}",
   				pattern: "[a-zA-Z0-9\.:\-]+"'></div>
		<br /><br />
        <div id="${formId}_ReplicationPort"
   			data-dojo-type='ism.widgets.TextBox'
   			data-dojo-attach-point='field_ReplicationPort'
   			data-dojo-props='inputWidth: "6em",
				label: "${replicationPortLabel}", 
				required: false,
                tooltipContent: "${replicationPortTooltip}",						
				invalidMessage: "${replicationPortInvalid}",
				pattern: "[\\d]+",
				labelAlignment: "horizontal", 
				labelWidth: "195"'></div>
        <br />
        <div id="${formId}_ExternalReplicationPort"
   			data-dojo-type='ism.widgets.TextBox'
   			data-dojo-attach-point='field_ExternalReplicationPort'
   			data-dojo-props='inputWidth: "6em",
				label: "${externalReplicationPortLabel}", 
				required: false,
                tooltipContent: "${externalReplicationPortTooltip}",						
				invalidMessage: "${externalReplicationPortInvalid}",
				pattern: "[\\d]+",
				labelAlignment: "horizontal", 
				labelWidth: "195"'></div>
        <br />
        <div id="${formId}_RemoteDiscoveryPort"
   			data-dojo-type='ism.widgets.TextBox'
   			data-dojo-attach-point='field_RemoteDiscoveryPort'
   			data-dojo-props='inputWidth: "6em",
				label: "${remoteDiscoveryPortLabel}", 
				required: false,
                tooltipContent: "${remoteDiscoveryPortTooltip}",						
				invalidMessage: "${remoteDiscoveryPortInvalid}",
				pattern: "[\\d]+",
				labelAlignment: "horizontal", 
				labelWidth: "195"'></div>
		<br />
		<div id="${formId}_discoveryTimeout"
			data-dojo-type='ism.widgets.TextBox'
			data-dojo-attach-point='field_DiscoveryTimeout'
			data-dojo-props='fieldWidth: "125px",
				maxLength: 256, 
				label: "${discoveryTimeoutLabel}",
				required: true,
				pattern: "[\\d]+",
				labelAlignment: "horizontal",
				tooltipContent: "${discoveryTimeoutTooltip}",
                labelWidth: "195",
                value: "600",
                unit: "${unitLabel}"'></div>
		<div id="${formId}_heartbeatTimeout"
			data-dojo-type='ism.widgets.TextBox'
			data-dojo-attach-point='field_HeartbeatTimeout'
			data-dojo-props='fieldWidth: "125px",
				maxLength: 256, 
				label: "${heartbeatTimeoutLabel}",
				required: true,
				pattern: "[\\d]+",
				labelAlignment: "horizontal",
				tooltipContent: "${heartbeatTimeoutTooltip}",
                labelWidth: "195",
                value: "10",
                unit: "${unitLabel}"'></div>
	</div>
</div>