<div>
	<h2>${nls.appliance.highAvailability.status.title}</h2>
	<span class="tagline">${nls.appliance.highAvailability.status.tagline}</span>
	<br /><br />    
    <div style='display: inline-block;'>       
        <table role="presentation" > 
			<tr id="${id}_haStatusRow">
                <td nowrap >
                    <span id="${id}_haStatusLabel" class="haLabel">${nls.appliance.highAvailability.status.haLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_haStatus" class="haValue"></span>
                </td>
            </tr>
    		<tr id="${id}_haGroupRow" >
                <td nowrap >
                    <span id="${id}_haGroupLabel" class="haLabel">${nls.appliance.highAvailability.status.haGroupLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_haGroup" class="haValue"></span>
                </td>
            </tr>
            <tr id="${id}_replicationInterfaceRow" >
                <td nowrap >
                    <span id="${id}_replicationInterfaceLabel" class="haLabel">${nls.appliance.highAvailability.status.replicationInterfaceLabel}</span>
                </td> 
                <td nowrap>
                    <span id="${id}_replicationInterface" class="haValue"></span>
                </td>
            </tr>
            <tr id="${id}_externalReplicationInterfaceRow" >
                <td nowrap >
                    <span id="${id}_externalReplicationInterfaceLabel" class="haLabel">${nls.haExternalReplicationInterfaceLabel}</span>
                </td> 
                <td nowrap>
                    <span id="${id}_externalReplicationInterface" class="haValue"></span>
                </td>
            </tr>
            <tr id="${id}_discoveryInterfaceRow">
                <td nowrap >
                    <span id="${id}_discoveryInterfaceLabel" class="haLabel">${nls.appliance.highAvailability.status.discoveryInterfaceLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_discoveryInterface" class="haValue"></span>
                </td>
            </tr>
            <tr id="${id}_remoteDiscoveryInterfaceRow">
                <td nowrap >
                    <span id="${id}_remoteDiscoveryInterfaceLabel" class="haLabel">${nls.appliance.highAvailability.status.remoteDiscoveryInterfaceLabel}</span>
                </td> 
                <td nowrap >
                    <span id="${id}_remoteDiscoveryInterface" class="haValue"></span>
                </td>
            </tr>
            <tr id="${id}_pairedWithRow" >
                <td nowrap >
                    <span id="${id}_pairedWithLabel" style="display: none;" class="haLabel">${nls.appliance.highAvailability.status.pairedWithLabel}</span>
                </td> 
                <td nowrap>
                    <span id="${id}_pairedWith" style="display: none;" class="haValue"></span>
                </td>
            </tr>
		</table>
	</div>
	<br /><br /> 
	<h2>${nls.appliance.highAvailability.config.title}
		<a class="actionLink" id="${id}_editConfig" href="javascript:;"
			data-dojo-attach-event="onclick:editConfig">${nls.appliance.highAvailability.config.editLink}</a>
	</h2>
	<span class="tagline">${nls.appliance.highAvailability.config.tagline}</span>
	<br />
	<br />
	<div style='display: inline-block;'>
		<table role="presentation">
			<tr>
				<td nowrap  >
					<span id="${id}_config_haEnabledLabel" class="haLabel">${nls.appliance.highAvailability.config.enabledLabel}</span>
				</td>
				<td>
				    	<div  style="display: inline-block; vertical-align: middle;" data-dojo-type='ism.widgets.NoticeIcon' data-dojo-attach-point='enabledIcon'></div>
						<span id="${id}_config_haEnabled" class="haValue"></span>
				</td>
			</tr>
			<tr>
				<td nowrap >
					<span id="${id}_config_haGroupLabel" class="haLabel">${nls.appliance.highAvailability.config.haGroupLabel}</span>
				</td>
				<td nowrap>
					<span id="${id}_config_haGroup" class="haValue"></span>
				</td>
			</tr>
			<tr>
				<td nowrap >
					<span id="${id}_config_startupModeLabel" class="haLabel">${nls.appliance.highAvailability.config.startupModeLabel}</span>
				</td>
				<td nowrap>
					<span id="${id}_config_startupMode" class="haValue"></span>
				</td>
			</tr>
			<tr>
				<td nowrap >
				<span id="${id}_config_replicationInterfaceLabel" class="haLabel">${nls.appliance.highAvailability.config.replicationInterfaceLabel}</span>
				</td>
				<td nowrap>
					<span id="${id}_config_replicationInterface" class="haValue"></span>
				</td>
			</tr>
			<tr>
				<td nowrap >
				<span id="${id}_config_replicationPortLabel" class="haLabel">${nls.haReplicationPortLabel}</span>
				</td>
				<td nowrap>
					<span id="${id}_config_replicationPort" class="haValue"></span>
				</td>
			</tr>
			<tr>
				<td nowrap >
				<span id="${id}_config_externalReplicationInterfaceLabel" class="haLabel">${nls.haExternalReplicationInterfaceLabel}</span>
				</td>
				<td nowrap>
					<span id="${id}_config_externalReplicationInterface" class="haValue"></span>
				</td>
			</tr>
			<tr>
				<td nowrap >
				<span id="${id}_config_externalReplicationPortLabel" class="haLabel">${nls.haExternalReplicationPortLabel}</span>
				</td>
				<td nowrap>
					<span id="${id}_config_externalReplicationPort" class="haValue"></span>
				</td>
			</tr>
			<tr>
				<td nowrap >
					<span id="${id}_config_discoveryInterfaceLabel" class="haLabel">${nls.appliance.highAvailability.config.discoveryInterfaceLabel}</span>
				</td>
				<td nowrap>
					<span id="${id}_config_discoveryInterface" class="haValue"></span>
				</td>
			</tr>
			<tr>
				<td nowrap >
					<span id="${id}_config_remoteDiscoveryInterfaceLabel" class="haLabel">${nls.appliance.highAvailability.config.remoteDiscoveryInterfaceLabel}</span>
				</td>
				<td nowrap>
					<span id="${id}_config_remoteDiscoveryInterface" class="haValue"></span>
				</td>
			</tr>
			<tr>
				<td nowrap >
					<span id="${id}_config_remoteDiscoveryPortLabel" class="haLabel">${nls.haRemoteDiscoveryPortLabel}</span>
				</td>
				<td nowrap>
					<span id="${id}_config_remoteDiscoveryPort" class="haValue"></span>
				</td>
			</tr>
			<tr>
				<td nowrap >
					<span id="${id}_config_discoveryTimeoutLabel" class="haLabel">${nls.appliance.highAvailability.config.discoveryTimeoutLabel}</span>
				</td>
				<td nowrap>
					<span id="${id}_config_discoveryTimeout" class="haValue"></span>
				</td>
			</tr>
			<tr>
				<td nowrap >
					<span id="${id}_config_heartbeatLabel" class="haLabel">${nls.appliance.highAvailability.config.heartbeatLabel}</span>
				</td>
				<td nowrap>
					<span id="${id}_config_heartbeat" class="haValue"></span>
				</td>
			</tr>
			<tr>
				<td nowrap >
					<span id="${id}_config_useSecuredConnectionsLabel" class="haLabel">${nls.haUseSecuredConnectionsLabel}</span>
				</td>
				<td nowrap>
					<div  style="display: inline-block; vertical-align: middle;" data-dojo-type='ism.widgets.NoticeIcon' data-dojo-attach-point='secureConnEnabledIcon'></div>
					<span id="${id}_config_useSecuredConnections" class="haValue"></span>
				</td>
			</tr>
		</table>
	</div>
</div>
