<div>
	<div id="${dialogId}" style='width: 750px;' data-dojo-type='ism.widgets.Dialog'
		data-dojo-attach-point='dialog'
		data-dojo-props='title: "${title}", 
			autofocus: false,
            onEnter: function() {
				if(!dijit.byId("${dialogId}_saveButton").get("disabled")) {
					dojo.publish("${dialogId}_saveButton", ""); 
				} 
			},  
			closeButtonLabel: "${nls.appliance.highAvailability.dialog.cancelButton}",
			instruction: "${instruction}",
			buttons: [ new dijit.form.Button({ 
				label: "${nls.appliance.highAvailability.dialog.saveButton}",
				id: "${dialogId}_saveButton",
				onClick: function() { dojo.publish("${dialogId}_saveButton", ""); }
			}) ]'>

		<form id="${dialogId}_form" method="post" data-dojo-type="dijit.form.Form" >
			<div style='padding: 1px 1px 5px 1px; margin: 1px; display: block;'>
				<div class='idxLabel dijitInline' id='${dialogId}_haEnabled_Label' style='width: 190px; display: inline-block;'>
					<span class='alignWithRequired'></span>
					<span>${nls.appliance.highAvailability.dialog.haEnabledLabel}</span>
				</div>
				<div id="${dialogId}_haEnabledCheckBox" data-dojo-type='idx.form.CheckBox' aria-labelledby='${dialogId}_haEnabled_Label'
					data-dojo-attach-point='field_EnableHA' data-dojo-props='fieldWidth: "260px", checked: true'></div>
			</div>
			<div id="${dialogId}_groupName" data-dojo-type='ism.widgets.TextBox'
				data-dojo-attach-point='field_Group'
				data-dojo-props='fieldWidth: "260px",
				label: "${groupNameLabel}",
				required: true,
				labelAlignment: "horizontal",
				tooltipContent: "${groupNameToolTip}",
                labelWidth: "190"'></div>
            <div data-dojo-attach-point="replicationAndDiscoverySection" style='display: block; padding: 10px 0 0 10px; margin: 1px;'>
                <div id="${dialogId}_replicationAndDiscoverDesc" style='line-height: 3em; padding: 1px;'><strong>${nls.haReplicationAndDiscoveryBold}</strong></div>
                <div id="${dialogId}_localReplicationInterface"
                    data-dojo-type='ism.widgets.TextBox'
                    data-dojo-attach-point='field_LocalReplicationNIC'
                    data-dojo-props='fieldWidth: "260px",
                        maxLength: 256,
                        formId: "${dialogId}", 
                        label: "${localReplicationInterfaceLabel}",
                        required: true,
                        labelAlignment: "horizontal",
                        tooltipContent: "${localReplicationInterfaceTooltip}",
                        labelWidth: "215",
                        value: "",
                        intermediateChanges: true,
                        invalidMessage: "${ipAddrInvalid}",
                        pattern: "[a-zA-Z0-9\.:\-]+"'></div>
                <div id="${dialogId}_localDiscoveryInterface"
                    data-dojo-type='ism.widgets.TextBox'
                    data-dojo-attach-point='field_LocalDiscoveryNIC'
                    data-dojo-props='fieldWidth: "260px",
                        maxLength: 256, 
                        formId: "${dialogId}",
                        label: "${localDiscoveryInterfaceLabel}",
                        required: true,
                        labelAlignment: "horizontal",
                        tooltipContent: "${localDiscoveryInterfaceTooltip}",
                        labelWidth: "215",
                        value: "",
                        intermediateChanges: true,
                        invalidMessage: "${ipAddrInvalid}",
                        pattern: "[a-zA-Z0-9\.:\-]+"'></div>
                <div id="${dialogId}_remoteDiscoveryInterface"
                    data-dojo-type='ism.widgets.TextBox'
                    data-dojo-attach-point='field_RemoteDiscoveryNIC'
                    data-dojo-props='fieldWidth: "260px",
                        maxLength: 256, 
                        formId: "${dialogId}",
                        label: "${remoteDiscoveryInterfaceLabel}",
                        required: true,
                        labelAlignment: "horizontal",
                        tooltipContent: "${remoteDiscoveryInterfaceTooltip}",
                        labelWidth: "215",
                        value: "",
                        intermediateChanges: true,
                        invalidMessage: "${ipAddrInvalid}",
                        pattern: "[a-zA-Z0-9\.:\-]+"'></div>
            </div>                
			<br /><br />
			<div id="${dialogId}_advToggle" data-dojo-type="ism.controller.content.HASettingsAdvanced" 
				data-dojo-attach-point='advToggle' class="dialogToggle" data-dojo-props='formId: "${dialogId}_form"'></div>
		</form>
	</div>
</div>