<div class="licensePresent" style="height: 100%; margin: 0; padding: 0; overflow: auto;">

	<div id="${normalPageId}">

		<div >
            <h1>${serverName}</h1>
			<h1>${nls.license.heading}</h1>

            <div data-dojo-attach-point="licenseIntro">${!nls.license.intro}</div>

			<br />
            <br />

			<div>
				<select id="langChoice" data-dojo-type="idx.form.Select" data-dojo-attach-point="langChoice"
					data-dojo-attach-event="onChange:changeLanguage" aria-label="${nls.license.languageSelection}" tabindex="0"
					data-dojo-props='name:"langSelect", fieldWidth: "200px"'>
					<option value="en">${nls.license.lang.en}</option>
					<option value="zh">${nls.license.lang.zh}</option>
					<option value="zh_TW">${nls.license.lang.zh_TW}</option>
					<option value="cs">${nls.license.lang.cs}</option>
					<option value="fr">${nls.license.lang.fr}</option>
					<option value="de">${nls.license.lang.de}</option>
					<option value="el">${nls.license.lang.el}</option>
					<option value="in">${nls.license.lang.in_}</option>
					<option value="it">${nls.license.lang.it}</option>
					<option value="ja">${nls.license.lang.ja}</option>
					<option value="ko">${nls.license.lang.ko}</option>
					<option value="lt">${nls.license.lang.lt}</option>
					<option value="pl">${nls.license.lang.pl}</option>
					<option value="pt">${nls.license.lang.pt}</option>
					<option value="ru">${nls.license.lang.ru}</option>
					<option value="sl">${nls.license.lang.sl}</option>
					<option value="es">${nls.license.lang.es}</option>
					<option value="tr">${nls.license.lang.tr}</option>
				</select>

				<button id="li_printButton" data-dojo-type="dijit.form.Button" class="printButton" tabindex="0"
					data-dojo-props="iconClass: 'dijitEditorIcon dijitEditorIconPrint'"
					data-dojo-attach-event="onClick:print">${nls.license.print}</button>

			</div>

			<hr>
		</div>

		<!-- idx.form.Textarea  -->
		<div >
			<textarea id="li_licenseContent" data-dojo-type="dijit.form.SimpleTextarea" readOnly aria-readonly=true aria-multiline=true
				aria-label="${nls.license.heading}" role="textbox" data-dojo-attach-point="licenseContent" rows=25
				style="width: 98%; color: #222222">
		    </textarea>
		</div>

		<br />

		<div >
			<button id="li_acceptButton" data-dojo-type="dijit.form.Button"
				data-dojo-attach-point="acceptButton"
				data-dojo-attach-event="onClick:accept"
				data-dojo-props="disabled:true">${nls.license.accept}</button>

			<button id="li_declineButton" data-dojo-type="dijit.form.Button"
				data-dojo-attach-point="declineButton"
				data-dojo-attach-event="onClick:decline">${nls.license.decline}</button>
		</div>

		<!--  Invisible iframe used for printing the license -->
		<iframe id="printLicenseIFrame" title="hidden" style="width: 0px; height: 0px; border: none;"></iframe>

	</div>
    <div id="${nonAuthPageId}" style="display:none">
            <h1>${nls.licenseNotAcceptedTitle}</h1>
            <p class='licenseNotAccepted'>${nls.licenseNotAcceptedContent}</p>    
    </div>
</div>