<div>
    <div style='padding: 1px 1px 5px 1px; display: block;'>
        <select data-dojo-type='ism.widgets.Select'
            data-dojo-attach-point='logLevelSelect'
            data-dojo-attach-event="onChange:setLogLevel"
            data-dojo-props='
                        id: "${id}_select",
                        label: "${logLabel}:",
                        tooltipContent: "${logTooltip}", 
                        labelAlignment: "horizontal", 
                        labelWidth: "185"'>
           <option id="${id}_ll_MIN" value="MIN">${nls.appliance.systemControl.logLevel.levels.MIN}</option>
           <option id="${id}_ll_NORMAL" value="NORMAL" selected="true">${nls.appliance.systemControl.logLevel.levels.NORMAL}</option>
           <option id="${id}_ll_MAX" value="MAX">${nls.appliance.systemControl.logLevel.levels.MAX}</option>
        </select>
    </div>
</div>
