<div>
	<div style='width: 625px;' data-dojo-type='ism.widgets.Dialog' data-dojo-attach-point='dialog'
		data-dojo-props='title: "${dialogTitle}", 
		instruction: "${instruction}",
			autofocus: false,
            onEnter: function() {
				if(!dijit.byId("${dialogId}_saveButton").get("disabled")) {
					dojo.publish("${dialogId}_saveButton", ""); 
				} 
			},  
			closeButtonLabel: "${nls.appliance.ltpaProfiles.cancelButton}",
			buttons: [ new dijit.form.Button({ 
				label: "${nls.appliance.ltpaProfiles.saveButton}",
				id: "${dialogId}_saveButton",
				onClick: function() { dojo.publish("${dialogId}_saveButton", ""); }
			}) ]'>

		<form id="${dialogId}_form" data-dojo-type="dijit.form.Form" data-dojo-attach-point="form">

			<div data-dojo-type='ism.widgets.TextBox' id="${dialogId}_name" 
				data-dojo-attach-point='field_Name'
				data-dojo-props='fieldWidth: "210px",
				label: "${nameLabel}:",
				required: true,
				labelAlignment: "horizontal",
				tooltipContent: "${nameTooltip}",
				labelWidth: "150"'></div>

			<div data-dojo-type='ism.widgets.TextBox' id="${dialogId}_keyFileName"
				data-dojo-attach-point='field_KeyFileName'
				data-dojo-props='fieldWidth: "210px", 
				label: "${privkeyLabel}:",
				required: true,
				readOnly: true,
				hint: "${browseHint}",
				hintPosition: "inside",
				labelAlignment: "horizontal",
				tooltipContent: "${privkeyTooltip}",
			    labelWidth: "150"'></div>
			    
            <div style="vertical-align:top; display: inline-block;">
                <input type="file" id="${dialogId}_fileUploader" style="display:none"
                    data-dojo-attach-point="fileUploader" data-dojo-attach-event="onChange:handleFileChangeEvent" />
                <button id="${dialogId}_fileUploaderButton" data-dojo-type="dijit.form.Button" class="browseButton" 
                    tabindex="0" data-dojo-attach-event="onClick:clickFileUploaderButton">${browseLabel}</button>                    
			</div>
				
			<div data-dojo-type='ism.widgets.TextBox' id="${dialogId}_Password" type='password'
				data-dojo-attach-point='field_Password'
				data-dojo-props='fieldWidth: "210px", 
				label: "${keypasswordLabel}:",
				required: true,
				labelAlignment: "horizontal",
				labelWidth: "150"'></div>

                <div style='padding: 1px 1px 5px 12px;' id='${dialogId}_overwrite'>
                    <div class='idxLabel dijitInline'
                        id='${dialogId}_overwiteLabel'
                        style='width: 136px; display: inline-block;'>
                        <span class="ismWidgetLabel">${overwriteLabel}:</span>
                    </div>
                    <div data-dojo-type='idx.form.CheckBox'
                        id="${dialogId}_overwriteCheckbox"
                        aria-labelledby='${dialogId}_overwriteLabel'
                        data-dojo-attach-point='field_Overwrite'
                        data-dojo-props='checked: false'></div>
                </div>
		</form>
	</div>
</div>

