<div>	
	<div style='display: inline-block;'>		
		<table role="presentation" style="padding: 1px 1px 5px 0px" >
            <tr>
                <td nowrap style="padding: 0 5px 0 0">
                    <span id="${id}_statusLabel" class="dashboardLabel">${nls.appliance.systemControl.messagingServer.status}:</span>
                </td> 
                <td nowrap>
                    <span id="${id}_status" class="dashboardValue"></span>
                </td>
                <td nowrap>
                    <span class="actionLinks">    
                        <a class="actionLink" id="${id}_restart" href="javascript:;" data-dojo-attach-event="onclick:restart">${nls.restartLink}</a>&nbsp;&nbsp; 
                        <a class="actionLink" id="${id}_restartMaintOn" href="javascript:;" data-dojo-attach-event="onclick:restartMaintOn">${nls.restartMaintOnLink}</a>&nbsp;&nbsp; 
                        <a class="actionLink" id="${id}_restartMaintOff" href="javascript:;" data-dojo-attach-event="onclick:restartMaintOff">${nls.restartMaintOffLink}</a>&nbsp;&nbsp; 
                        <a class="actionLink" id="${id}_restartCleanStore" href="javascript:;" data-dojo-attach-event="onclick:restartCleanStore">${nls.restartCleanStoreLink}</a>&nbsp;&nbsp; 
                        <a class="actionLink" id="${id}_stop" href="javascript:;" data-dojo-attach-event="onclick:stop">${nls.appliance.systemControl.messagingServer.stopLink}</a>&nbsp;&nbsp; 
                    </span>
                </td>
            </tr>
            <tr>
                <td nowrap width="120px">
                    <span id="${id}_servernameLabel" class="dashboardLabel">${nls.appliance.systemControl.appliance.hostname}:</span>
                </td> 
                <td nowrap>
                    <span id="${id}_servername" class="nameValue" style='text-overflow:ellipsis'></span>
                    <a class="actionLink" id="${id}_nodeNameEdit" href="javascript:;" data-dojo-attach-event="onclick:editServername">${nls.appliance.systemControl.appliance.editLink}</a> 
                </td>
            </tr>
            <tr id="${id}_licensedUsageTableRow">
                <td nowrap>
                    <span id="${id}_licensedUsageLabel" class="dashboardLabel">${nls.appliance.systemControl.appliance.licensedUsageLabel}:</span>
                </td> 
                <td nowrap>
                    <span id="${id}_licensedUsage" class="dashboardValue"></span>
                    <a class="actionLink" id="${id}_editLicensedUsage" href="javascript:;" data-dojo-attach-event="onclick:editLicensedUsage" style="display:none">${nls.appliance.systemControl.appliance.editLink}</a> 
                    <a class="actionLink" id="${id}_viewLicense" href="${viewLicenseUri}" target="licensePage">${nls.appliance.systemControl.appliance.viewLink}</a> 
                </td>
            </tr>
		</table>
	</div>
</div>
