<div>

	<div class='basicContainerNoBorder' style='width: 1050px;'>
		<p id='ismMessagingPoliciesPaneString'>${nls.messaging.messageHubs.messagingPolicyTabTagline}</p>
		<div id="ismMessagingPolicyList" data-dojo-type="ism.controller.content.MessagingPolicyList" data-dojo-attach-point="ismMessagingPolicyList"></div>
	</div>
    <div id="topicPoliciesContainer" data-dojo-type="ism.controller.content.MessagingPolicyList.MPContainer"
        data-dojo-attach-point="topicPoliciesContainer",
 	    data-dojo-props='title: "${nls.topicPoliciesTitle}",
           startsOpen: true,
           content: null,
           triggerId: "topicPoliciesContainer_trigger"'>
        <div id="topicMPList" data-dojo-type="ism.controller.content.MessagingPolicyList.MPList" 
            data-dojo-attach-point="topicMPList"
            data-dojo-props='
               policyType: "Topic",
               paneId: "topicMPList",
               tagline: "${nls.topicPoliciesTagline}",
               destTitle: "${nls.messaging.messagingPolicies.dialog.destinationTypeOptions.topic}"
            '></div>
    </div>
    <div id="subscriptionPoliciesContainer" data-dojo-type="ism.controller.content.MessagingPolicyList.MPContainer"
         data-dojo-attach-point="subscriptionPoliciesContainer",
         data-dojo-props='title: "${nls.subscriptionPoliciesTitle}",
            startsOpen: true,
            content: null,
            triggerId: "subscriptionPoliciesContainer_trigger"'>
		<div id="subscriptionMPList" data-dojo-type="ism.controller.content.MessagingPolicyList.MPList" 
		    data-dojo-attach-point="subscriptionMPList"
		    data-dojo-props='
		       policyType: "Subscription",
               paneId: "subscriptionMPList",
               tagline: "${nls.subscriptionPoliciesTagline}",
               destTitle: "${nls.messaging.messagingPolicies.dialog.destinationTypeOptions.subscription}",
               removeColumns: ["DisconnectedClientNotification"]
            '></div>
	</div>
    <div id="queuePoliciesContainer" data-dojo-type="ism.controller.content.MessagingPolicyList.MPContainer"
        data-dojo-attach-point="queuePoliciesContainer",
        data-dojo-props='title: "${nls.queuePoliciesTitle}",
           startsOpen: true,
           content: null,
           triggerId: "queuePoliciesContainer_trigger"'>
        <div id="queueMPList" data-dojo-type="ism.controller.content.MessagingPolicyList.MPList" 
            data-dojo-attach-point="queueMPList"
            data-dojo-props='
               policyType: "Queue",
               paneId: "queueMPList",
               tagline: "${nls.queuePoliciesTagline}",
               destTitle: "${nls.messaging.messagingPolicies.dialog.destinationTypeOptions.queue}",
               removeColumns: ["MaxMessages", "DisconnectedClientNotification"]
            '></div>
     </div>
</div>
