<div role="group" aria-labelledby="MHDetailsName">
	<!--  we don't have breadcrumbs yet, but we need a way back -->
	<p><a class='linkText' id='backToMHMain' href="javascript:;">${nls.messaging.messageHubs.messageHubDetails.backLinkText}</a></p>
	<br />
	<span style="width: 900px">
		  <h1 id="MHDetailsName" style="display:inline" data-dojo-attach-point="MHDetailsName">${displayName}</h1>
		  <a class="actionLink" id="editMHDetailsName" href="javascript:;" data-dojo-attach-event="onclick:editMessageHub">${nls.messaging.messageHubs.messageHubDetails.editLink}</a>
		  <br /><br /> 		  
		<p id="MHDetailsDescription" data-dojo-attach-point="MHDetailsDescription">${Description}</p>		
		<br />
	</span>
	<div id="mhDetailsUpdating" style="display:none; margin-top: 20px; margin-bottom: 20px; width: 1080px; text-align: center; font-size: 1.2em;">
	   <img src='css/images/loading_wheel.gif' width='10' height='10' alt=''/>&nbsp;${nls.messaging.updating}
	</div>
	<div data-dojo-type="dijit.layout.TabContainer"  id="ismMHTabContainer" data-dojo-attach-point="ismMHTabContainer"
		 data-dojo-props='persist:false, tabStrip:true, doLayout: false, style:"width: 1080px;"'>	 
	</div>
</div>
