<div>
	<div id="${dialogId}" style='width: 600px;' data-dojo-type='ism.widgets.Dialog'
		data-dojo-attach-point='dialog'
		data-dojo-props='title: "${dialogTitle}", 
			autofocus: false,
            onEnter: function() {
				if(!dijit.byId("${dialogId}_saveButton").get("disabled")) {
					dojo.publish("${dialogId}_saveButton", ""); 
				} 
			},  
			closeButtonLabel: "${nls.messaging.dialog.cancelButton}",
			instruction: "${dialogInstruction}",
			buttons: [ new dijit.form.Button({ 
				label: "${nls.messaging.dialog.saveButton}",
				id: "${dialogId}_saveButton",
				onClick: function() { dojo.publish("${dialogId}_saveButton", ""); }
			}) ]'>

		<form id="${dialogId}_form" method="post" data-dojo-type="dijit.form.Form">

			<div id="${dialogId}_name" data-dojo-type='ism.widgets.TextBox'
				data-dojo-attach-point='field_Name'
				data-dojo-props='fieldWidth: "260px",
				label: "${nameLabel}:",
				required: true,
				labelAlignment: "horizontal",
				tooltipContent: "${nameTooltip}",
                labelWidth: "175"'></div>

			<div id="${dialogId}_descriptions" data-dojo-type='ism.widgets.TextArea'
				data-dojo-attach-point='field_Description'
				data-dojo-props='fieldWidth: "260px",
				label: "${descriptionLabel}:",
				required: false,
				alignWithRequired: true,
				labelAlignment: "horizontal",
				labelWidth: "175"'></div>

			<div style='padding: 1px 1px 5px 1px; margin: 1px; display: block;'>

				<div class='idxLabel dijitInline' id='${dialogId}_dm_label_allowSend'
					style='width: 165px; display: inline-block;'>
					<span class='alignWithRequired'></span>
					<span class='ismWidgetLabel'>${nls.messaging.queues.grid.allowSend}:</span>

					<div id="${dialogId}_allowSend_Hover" href="#bogus1" role="tooltip" aria-labelledby="${dialogId}_allowSend_Tooltip" 
						style='display: inline-block' tabindex="0" class="ismWidgetHoverHelpIcon"
						onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div>
					<span id="${dialogId}_allowSend_Tooltip"
						data-dojo-type="idx.widget.HoverHelpTooltip"
						data-dojo-props='connectId:["${dialogId}_allowSend_Hover"], forceFocus: true, showLearnMore:false'>${nls.messaging.queues.dialog.allowSendTooltip}</span>
				</div>


				<div id="${dialogId}_allowSendCheckBox" data-dojo-type='idx.form.CheckBox' aria-labelledby='${dialogId}_dm_label_allowSend'
					data-dojo-attach-point='field_AllowSend'
					data-dojo-props='fieldWidth: "240px", checked: true'></div>
			</div>

			<div
				style='padding: 15px 1px 1px 1px; display: block; text-align: center'>
				<h3 style='display: inline-block;'>${nls.messaging.queues.dialog.performanceLabel}</h3>
			</div>

			<div id="${dialogId}_maxMessages" data-dojo-type='ism.widgets.TextBox'
				data-dojo-attach-point='field_MaxMessages'
				data-dojo-props='fieldWidth: "260px", 
				label: "${nls.messaging.queues.grid.maxMessages}:",
				required: true,
				labelAlignment: "horizontal",
				tooltipContent: "${maxMessagesTooltip}",
				invalidMessage: "${maxMessagesInvalid}",
				labelWidth: "175"'></div>

			<div style='padding: 1px 1px 5px 1px; margin: 1px; display: block;'>

				<div class='idxLabel dijitInline' id='${dialogId}_dm_label_concurrentConsumers'
					style='width: 170px; display: inline-block;'>
					<span class='alignWithRequired'></span>
					<span class='ismWidgetLabel'>${nls.messaging.queues.grid.concurrentConsumers}:</span>

					<div id="${dialogId}_concurrentConsumers_Hover" href="#bogus1" aria-labelledby="${dialogId}_concurrentConsumers_Tooltip" 
						role="tooltip" style='display: inline-block' tabindex="0"
						class="ismWidgetHoverHelpIcon"
						onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div>
					<span id="${dialogId}_concurrentConsumers_Tooltip"
						data-dojo-type="idx.widget.HoverHelpTooltip"
						data-dojo-props='connectId:["${dialogId}_concurrentConsumers_Hover"], forceFocus: true, showLearnMore:false'>${nls.messaging.queues.dialog.concurrentConsumersTooltip}</span>
				</div>

				<div id="${dialogId}_concurrentConsumersCheckBox" data-dojo-type='idx.form.CheckBox' aria-labelledby='${dialogId}_dm_label_concurrentConsumers'
					data-dojo-attach-point='field_ConcurrentConsumers'
					data-dojo-props='fieldWidth: "240px", checked: true'></div>
			</div>
		</form>
	</div>
</div>

