<div>
	<div id="${dialogId}_dialog" style='width: 1050px;' data-dojo-type='ism.widgets.Dialog' data-dojo-attach-point='dialog'
		data-dojo-props='title: "${dialogTitle}", 
			instruction: "${dialogInstruction}",
			autofocus: false,
			onEnter: function() {
				if(!dijit.byId("${dialogId}_saveButton").get("disabled")) {
					dojo.publish("${dialogId}_saveButton", ""); 
				}
			},
            closeButtonLabel: "${closeButtonLabel}",
			buttons: [ new dijit.form.Button({ 
                label: "${nls.messaging.dialog.saveButton}",
				id: "${dialogId}_saveButton",
				onClick: function() { dojo.publish("${dialogId}_saveButton", ""); }
			}) ]'>

		<form id="${dialogId}_DialogForm" data-dojo-type="dijit.form.Form">
			<div style='float: left; display: inline-block; width: 430px;' id='${dialogId}_topLeftGroup'>
                <!-- left section -->
				<div style='padding: 1px; display: block; margin-right: 20px;'>
					<div id="${dialogId}_name" data-dojo-type='ism.widgets.TextBox' data-dojo-attach-point='field_Name'
						data-dojo-props=' 
						inputWidth: "15em",
						label: "${nameLabel}:",
                        tooltipContent: "${nameTooltip}",
						required: true,
						labelAlignment: "horizontal", 
						labelWidth: "175"'></div>
				</div>
			</div>
			<div style='float: left; display: inline-block; width: 430px;' id='${dialogId}_topRightGroup'>
                <!-- right section -->
            	<div style='padding: 1px; display: block;  margin-right: 20px;'>
                    <div data-dojo-type='ism.widgets.TextArea'
                           id="${dialogId}_description"
                  		   data-dojo-attach-point='field_Description'
                           data-dojo-props='label: "${descriptionLabel}:", 
                        					alignWithRequired: false,
                        					labelAlignment: "horizontal", 
                        					labelWidth: "175"'>
                	</div>
                </div>
			</div>
			<div style='padding: 15px 1px 15px 1px; display: block; clear: both;'>
                <div id="${dialogId}_filterDescription" style='display: inline'><strong>${!nls.messaging.filterHeadingMessaging}</strong></div>
                <div style="display: inline-block; vertical-align: top;">
                    <div id="${dialogId}_filterHover" href="#bogus1" role="tooltip"
                        tabindex="0" class="hoverHelpIcon" aria-labelledby="${dialogId}_filterTooltip"
                        onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div>
                    <span id="${dialogId}_filterTooltip"
                        data-dojo-type="idx.widget.HoverHelpTooltip"
                        data-dojo-props='connectId:["${dialogId}_filterHover"], forceFocus: true, showLearnMore:false'>${nls.messaging.messagingPolicies.dialog.tooltip.filter}</span>
                </div>
            </div>
            <div style='float: left; display: inline-block; width: 430px;' id='${dialogId}_bottomLeftGroup'>
                <!-- left section -->
                <div style='padding: 1px 1px 5px 1px; display: block; margin-right: 10px;'>
                    <div style='display: inline; vertical-align: top'
                        id="${dialogId}_checkbox_clientAddress"
                        aria-label="${clientIPLabel}"  
				        aria-describedby="${dialogId}_filterDescription"
                        data-dojo-type='idx.form.CheckBox'
                        data-dojo-attach-point='checkbox_ClientAddress'
                        data-dojo-props='checked: false'></div>             
                    <div style='display: inline; padding-left: -10px;'
                        id="${dialogId}_clientAddress"  
                        data-dojo-type='ism.widgets.TextBox'
                        data-dojo-attach-point='field_ClientAddress'
                        data-dojo-props=' 
                        pattern: "\\*|([a-fA-F0-9\\[\\]\\-\\.:,]+)", 
                        invalidMessage: "${invalidClientIPMessage}",
                        intermediateChanges: true, 
                        disabled: true,
                        inputWidth: "15em",
                        label: "${clientIPLabel}:", 
                        labelAlignment: "horizontal", 
                        labelWidth: "143"'></div>
                </div>
                <div style='padding: 1px 1px 5px 1px; display: block; margin-right: 20px;'>
                    <div style='display: inline;'
                        id="${dialogId}_checkbox_UserID"
                        aria-label="${IDLabel}"  
				        aria-describedby="${dialogId}_filterDescription"
                        data-dojo-type='idx.form.CheckBox'
                        data-dojo-attach-point='checkbox_UserID'
                        data-dojo-props='checked: false'></div>             
                    <div style='display: inline; padding-left: -10px;'
                        id="${dialogId}_UserID" 
                        data-dojo-type='ism.widgets.TextBox'
                        data-dojo-attach-point='field_UserID'
                        data-dojo-props=' 
                        pattern: "[^\\*]*\\*?",
                        invalidMessage: "${invalidWildcard}",
                        intermediateChanges: true, 
                        disabled: true,
                        inputWidth: "15em",
                        label: "${IDLabel}:", 
                        labelAlignment: "horizontal", 
                        labelWidth: "143"'></div>
                </div>
                <div style='padding: 1px 1px 5px 1px; display: block; margin-right: 20px;'>
                    <div style='display: inline;'
                        id="${dialogId}_checkbox_commonNames"
                        aria-label="${commonNameLabel}"  
				        aria-describedby="${dialogId}_filterDescription"
                        data-dojo-type='idx.form.CheckBox'
                        data-dojo-attach-point='checkbox_CommonNames'
                        data-dojo-props='checked: false'></div>             
                    <div style='display: inline; padding-left: -10px;'
                        id="${dialogId}_commonNames" 
                        data-dojo-type='ism.widgets.TextBox'
                        data-dojo-attach-point='field_CommonNames'
                        data-dojo-props=' 
                        pattern: "[^\\*]*\\*?",
                        invalidMessage: "${invalidWildcard}",
                        intermediateChanges: true, 
                        disabled: true,
                        inputWidth: "15em",
                        label: "${commonNameLabel}:", 
                        labelAlignment: "horizontal", 
                        labelWidth: "143"'></div>
                </div>
            </div>
			<div style='float: left; display: inline-block; width: 390px;' id='${dialogId}_bottomRightGroup'>
                <!-- right section -->
				<div style='float: left'>
                    <div style='padding: 1px 1px 5px 1px; display: block;'>
                        <div style='display: inline;'
                            id="${dialogId}_checkbox_clientID"
                            aria-label="${clientIDLabel}"  
				        	aria-describedby="${dialogId}_filterDescription"
                            data-dojo-type='idx.form.CheckBox'
                            data-dojo-attach-point='checkbox_ClientID'
                            data-dojo-props='checked: false'></div>             
                        <div style='display: inline; padding-left: -10px;' 
                            id="${dialogId}_clientID"
                            data-dojo-type='ism.widgets.TextBox'
                            data-dojo-attach-point='field_ClientID'
                            data-dojo-props=' 
                                pattern: "[^\\*]*\\*?",
                                invalidMessage: "${invalidWildcard}",
                                intermediateChanges: true, 
                                disabled: true,
                                inputWidth: "15em",
                                label: "${clientIDLabel}:", 
                                labelAlignment: "horizontal", 
                                labelWidth: "143"'></div>
                    </div>
                    <div style='padding: 1px 1px 5px 1px; display: block;'>
                        <div style='display: inline;'
                            id="${dialogId}_checkbox_GroupID"
                            aria-label="${groupLabel}"  
				        	aria-describedby="${dialogId}_filterDescription"
                            data-dojo-type='idx.form.CheckBox'
                            data-dojo-attach-point='checkbox_GroupID'
                            data-dojo-props='checked: false'></div>             
                        <div style='display: inline; padding-left: -10px;' 
                            id="${dialogId}_GroupID"
                            data-dojo-type='ism.widgets.TextBox'
                            data-dojo-attach-point='field_GroupID'
                            data-dojo-props='
                                pattern: "[^\\*]*\\*?",
                                invalidMessage: "${invalidWildcard}",
                                intermediateChanges: true, 
                                disabled: true, 
                                inputWidth: "15em",
                                label: "${groupLabel}:", 
                                labelAlignment: "horizontal", 
                                labelWidth: "143"'></div>
                    </div>  
                    <div style='padding: 1px 1px 5px 1px; display: block;'>
                		<div style='display: inline;' 
                			 data-dojo-type='idx.form.CheckBox'
                			 id="${dialogId}_checkbox_protocol"
                        	 aria-label="${protocolLabel}"  
				        	 aria-describedby="${dialogId}_filterDescription"
                        	 data-dojo-attach-point='checkbox_Protocol'
                        	 data-dojo-props='checked: false'></div>
						<select  id="${dialogId}_protocol" data-dojo-type="idx.form.CheckBoxSelect" 
                   		 		 data-dojo-attach-point='field_Protocol' style='display: inline-block; padding-left: -10px;' multiple="true" 
								 data-dojo-props='label:"${protocolLabel}:", 
   												  labelWidth: "143px", 
   							 					  fieldWidth: "15em",
   							 					  instantValidate: false, 
                             					  labelAlignment: "horizontal",  
                             					  placeHolder: "${protocolPlaceholder}",  
                             					  required: false, 
                             					  autoWidth: false, 
                             					  readOnly: false, 
                            					  disabled: true '> 
						</select>					       
                	</div>
				</div>
			</div>
			<div style='padding: 15px 1px 15px 1px; display: block; width: 420px; clear: both;'>
                <div id="${dialogId}_settingsDescription" style='display: inline'><strong>${nls.messaging.settingsHeadingMessaging}</strong></div>
            </div>
			<div style='float: left; display: inline-block; width: 440px;' id='${dialogId}_topLeftGroup'>        	
                <div style='padding: 1px; display: block; margin-right: 5px;'>
                    <div data-dojo-type='ism.widgets.TextBox' data-dojo-attach-point='field_Destination'
                        id="${dialogId}_destination"
                        data-dojo-props=' 
                        inputWidth: "15em",
                        label: "${destinationLabel}:", 
                        value: "*",
                        tooltipContent: "${destinationTooltip}",
                        required: true,
                        labelAlignment: "horizontal", 
                        labelWidth: "${destinationLabelWidth}"'></div>
                </div>
                <div style='padding: 1px; display: block; margin-right: 20px;'>
                    <select style='padding-left: -10px;' multiple="true" data-dojo-type='ism.widgets.CheckBoxList' 
                        data-dojo-attach-point='field_ActionList'
                        id="${dialogId}_action"
                        data-dojo-props='
                        label: "${actionLabel}:", 
                        tooltipContent: "${actionTooltip}",
                        required: true,
                        instantValidate: false,
                        labelAlignment: "horizontal",
                        groupAlignment: "vertical",
                        labelWidth: "${actionLabelWidth}"'>
                        <option id="${dialogId}_action_Publish" value="Publish">${nls.messaging.messagingPolicies.dialog.actionOptions.publish}</option>
                        <option id="${dialogId}_action_Subscribe" value="Subscribe">${nls.messaging.messagingPolicies.dialog.actionOptions.subscribe}</option>
                    </select>
                </div>                 
            </div>
            <div style='float: left; display: inline-block; width: 550px;' id='${dialogId}_topRightGroup'>
                <!-- right section -->
                <div id="${dialogId}_subscriberSettingsHeading" class="subsection" role="group" aria-labelledby="${dialogId}_subscriberSettingsHeading">
	                <h3 id="${dialogId}_subscriberSettingsHeading" data-dojo-attach-point="subscriberSettingsHeading">${nls.messaging.messagingPolicies.dialog.subscriberSettings}</h3>
	                <div style='padding: 1px; display: block;'>
	                    <div data-dojo-type='ism.widgets.TextBox' data-dojo-attach-point='field_MaxMessages'
	                        id="${dialogId}_maxMessages"
	                        data-dojo-props='
	                        inputWidth: "15em",
	                        label: "${maxMessagesLabel}:", 
	                        value: "5000",
	                        tooltipContent: "${maxMessagesTooltip}",
	                        invalidMessage: "${maxMessagesInvalid}",                        
	                        required: true,
	                        pattern: "[\\d]+",
	                        labelAlignment: "horizontal", 
	                        labelWidth: "226"'></div>
	                </div>
	                <div style='padding: 1px;'>
	                    <div style='display:inline-block; padding-right: 9px;'></div>                
	                    <select multiple="false" data-dojo-type='ism.widgets.Select' data-dojo-attach-point='field_MaxMessagesBehavior'
	                        id="${dialogId}_maxMessagesBehavior"
	                        data-dojo-attach-event='onChange:changeMaxMessagesBehavior'
	                        data-dojo-props='
		                        inputWidth: "15em",
		                        label: "${maxMessagesBehaviorLabel}:", 
		                        tooltipContent: "${maxMessagesBehaviorTooltip}",
		                        labelAlignment: "horizontal", 	                        
		                        labelWidth: "213"'>
	                        <option id="${dialogId}_dt_RejectNewMessages" value="RejectNewMessages" selected="true">${nls.messaging.messagingPolicies.dialog.maxMessagesBehaviorOptions.RejectNewMessages}</option>
	                        <option id="${dialogId}_dt_DiscardOldestMessages" value="DiscardOldMessages">${nls.messaging.messagingPolicies.dialog.maxMessagesBehaviorOptions.DiscardOldMessages}</option>
	                     </select>
	                     <div id="${dialogId}_maxMessagesBehaviorNotice" style="display:none; vertical-align: top; padding-top: 6px;" data-dojo-attach-point="maxMessagesBehaviorNoticeIcon">
		                     <div id="${dialogId}_maxMessagesBehaviorNotice_Hover" href="#bogus1"
		                         role="tooltip" style='display: inline-block' tabindex="0"
		                         class="noticeIcon" aria-labelledby="${dialogId}_maxMessagesBehaviorNotice_Tooltip"
		                         onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div>
		                     <span id="${dialogId}_maxMessagesBehaviorNotice_Tooltip"
		                         data-dojo-type="idx.widget.HoverHelpTooltip"
		                         data-dojo-props='connectId:["${dialogId}_maxMessagesBehaviorNotice_Hover"], forceFocus: true, showLearnMore:false'>${nls.messaging.messagingPolicies.dialog.tooltip.discardOldestMessages}</span>
	                     </div>
	                </div>                
	                <div id="${dialogId}_DCN_element" style='padding: 1px;'>
	                    <div style='display:inline-block; padding-right: 11px;'></div>
	                    <div class='idxLabel dijitInline' id='${dialogId}_mp_label_disconnectedClientNotification'
	                        style='width: 210px; display: inline-block;'>
	                        <span class='ismWidgetLabel'>${nls.messaging.messagingPolicies.dialog.disconnectedClientNotification}:</span>
	
	                        <div id="${dialogId}_disconnectedClientNotification_Hover" href="#bogus1"
	                            role="tooltip" style='display: inline-block' tabindex="0"
	                            class="ismWidgetHoverHelpIcon" aria-labelledby="${dialogId}_disconnectedClientNotification_Tooltip"
	                            onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div>
	                        <span id="${dialogId}_disconnectedClientNotification_Tooltip"
	                            data-dojo-type="idx.widget.HoverHelpTooltip"
	                            data-dojo-props='connectId:["${dialogId}_disconnectedClientNotification_Hover"], forceFocus: true, showLearnMore:false'>${nls.messaging.messagingPolicies.dialog.tooltip.disconnectedClientNotification}</span>
	                    </div>
	
	                    <div data-dojo-type='idx.form.CheckBox'
	                        id="${dialogId}_DisconnectedClientNotification"
	                        aria-labelledby='${dialogId}_mp_label_disconnectedClientNotification'
	                        data-dojo-attach-point='field_DisconnectedClientNotification'
	                        data-dojo-props='fieldWidth: "240px", checked: false'></div>
	                </div>
                </div>
                <div id="${dialogId}_publisherSettingsHeading" class="subsection" style="margin-top: 15px;" role="group" aria-labelledby="${dialogId}_publisherSettingsHeading">
                    <h3 id="${dialogId}_publisherSettingsHeading" data-dojo-attach-point="publisherSettingsHeading">${nls.messaging.messagingPolicies.dialog.publisherSettings}</h3>
                    <div style='padding: 1px; display: block;'>
                        <div data-dojo-type='ism.widgets.TextBox' data-dojo-attach-point='field_MaxMessageTimeToLive'
                            id="${dialogId}_maxMessageTimeToLive"
                            data-dojo-props='
                            inputWidth: "150px",
                            label: "${maxMessagesTTLLabel}:", 
                            tooltipContent: "${maxMessagesTTLTooltip}",
                            invalidMessage: "${maxMessagesTTLInvalid}",                        
                            labelAlignment: "horizontal", 
                            labelWidth: "175",
                            hint: "${unlimitedHintText}",
                            unit: "${unitLabel}"'></div>
                    </div>                    
                </div>                
            </div>
            <div style='clear: both;'></div>
        </form>
    </div>
</div>
