<div>
	<div id="${dialogId}_dialog" style='width:700px'' data-dojo-type='ism.widgets.Dialog'
		data-dojo-attach-point='dialog'
		data-dojo-props='title: "${title}",
		    instruction: "${instruction}", 
            autofocus: false, 
            onEnter: function() {
				if(!dijit.byId("${dialogId}_saveButton").get("disabled")) {
					dojo.publish("${dialogId}_saveButton", ""); 
				} 
			},  
            closeButtonLabel: "${nls.messaging.messageHubs.addDialog.cancelButton}",
            buttons: [ new dijit.form.Button({ 
                label: "${nls.messaging.messageHubs.addDialog.saveButton}",
                id: "${dialogId}_saveButton",
                onClick: function() { dojo.publish("${dialogId}_saveButton", ""); }
            }) ]'>
		<form id="${dialogId}_form" data-dojo-type="dijit.form.Form">
			<div id='${dialogId}_leftGroup'>
				<div style='padding: 1px 1px 5px 1px; display: block;'>
					<div id='${dialogId}_name' data-dojo-type='ism.widgets.TextBox'
						data-dojo-attach-point='field_Name'
						data-dojo-props=' 
						inputWidth: "450px",
						label: "${nls.messaging.messageHubs.addDialog.name}", 
						tooltipContent: "${nameTooltip}",
						required: true,
						labelAlignment: "horizontal", 
						labelWidth: "150"'></div>
				</div>
				<div style='padding: 1px 1px 5px 1px; display: block;'>
					<div id='${dialogId}_description' data-dojo-type='ism.widgets.TextArea'
						data-dojo-attach-point='field_Description'
						data-dojo-props='
						inputWidth: "450px",
						rows: 2,
						cols: 54,
						label: "${nls.messaging.messageHubs.addDialog.description}", 
						required: false,
						alignWithRequired: true,
						labelAlignment: "horizontal", 
						labelWidth: "150"'></div>
				</div>
				<div style='clear: both;' />
		</form>
	</div>
</div>
