<div class="MQTTClientGrid">
   <form id="mcg_form" data-dojo-type="dijit.form.Form" data-dojo-attach-point="mcg_form">
	<table role="presentation">

		<tr>
			<td style="padding-right: 10px;">
             <div class="dijitRequired dijitInline dijitReset idxComposite">
                <div class="idxLabel">
                    <span class="idxRequiredIcon">*</span>
                    <span id="mcg_clientIdLabel">${nls.monitoring.grid.clientId}</span>
                </div>
             </div>             							
			</td>
			<td><select id="mcg_clientId" aria-labelledby="mcg_clientId"
				data-dojo-type="ism.widgets.TextBox" data-dojo-attach-point="clientId"
				data-dojo-props='name:"clientId",
							fieldWidth: "100px",
                            required: true,
                            missingMessage: "${nls.monitoring.clientIdMissingMessage}",
							value: "*"'>
			</select></td>
			<td style="padding-left: 15px; padding-right: 5px;">
				<button id="mcg_updateButton" data-dojo-type="dijit.form.Button"
					data-dojo-attach-point="updateButton" data-dojo-attach-event="onClick:updateGrid">${nls.monitoring.grid.refreshButton}</button>
			</td>
			<td>
                <div id="mcg_refreshingLabel" style="display:none" ><img src='css/images/loading_wheel.gif' width='10' height='10' alt=''/>${nls.monitoring.grid.refreshingLabel}</div>
            </td>
		</tr>
		<tr>
		    <td colspan="2"></td>
			<td style="padding-left: 20px; vertical-align: top;" colspan=2>${nls.monitoring.lastUpdated}<span style="padding-left: 5px;" id="mcg_lastUpdateTime" data-dojo-attach-point="lastUpdateTime">${nls.monitoring.notAvailable}</span></td>
        </tr>       		
	</table>
    </form>
	<br />

	<div id='mqttClientGridContent'></div>

</div>
