<div class="dijitRequired dijitInline dijitReset idxComposite">
	<div id="${idPrefix}_Title" class="idxLabel"
		style='padding: 1px; vertical-align: top; display: inline-block'>
		<span class="idxRequiredIcon" dojoAttachPoint="requiredIconNode">*&nbsp;</span> ${title} 
	</div>
    <div style='padding: 0px; margin: 0px; display: inline-block;' dojoAttachPoint="tooltipNode">
        <div id="${idPrefix}_Hover" href="#bogus1" role="tooltip"
            tabindex="0" class="hoverHelpIcon" aria-labelledby="${idPrefix}_Title"
            style='vertical-align: bottom; margin-top: 3px; padding: 0px;'
            onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div>
    </div>
	
	<div class="dijitReset dijitValidationContainer dijitInline"
		dojoAttachPoint="iconNode">
		<div class="dijitValidationIcon">
			<input class="dijitReset dijitInputField dijitValidationInner"
				value="&#935; " type="text" tabIndex="-1" readonly="readonly"
				role="presentation" />
		</div>
	</div>
	<div data-dojo-attach-point='mainNode'></div>
</div>