<div style='padding: 10px 0px 10px 0px;'>
	<form data-dojo-type="dijit.form.Form" data-dojo-attach-point="portForm">
			<div style='padding: 1px 1px 5px 1px; display: inline;'>			
                 <select data-dojo-type='idx.form.ComboBox' data-dojo-attach-point='field_ipAddr'
                     data-dojo-attach-event='onChange: updateInterfaceHint'
                     data-dojo-props='
                     label: "${nls.appliance.webUISecurity.port.ipAddress}:", 
                     required: true,
                     pattern: "([\\.\*:a-fA-F0-9]+)|(${all})",
                     store: new dojo.data.ItemFileWriteStore({
                         data: {
                             label: "name",
                             identifier: "id",
                             items: []
                         }
                     }),
                     labelAlignment: "horizontal"'>
                 </select>
			</div>
					
			<div style='padding: 1px 1px 5px 1px; display: inline;'>
                 <div data-dojo-type='ism.widgets.TextBox' data-dojo-attach-point='field_port'
                     data-dojo-props='
                     inputWidth: "6em",
                     label: "${nls.appliance.webUISecurity.port.port}:", 
                     required: true,
                     tooltipContent: "${nls.appliance.webUISecurity.port.tooltip.port}",                     
                     invalidMessage: "${nls.appliance.webUISecurity.port.invalid.port}",
                     pattern: "[\\d]+",
                     labelAlignment: "horizontal"'></div>
           </div>
            <div style='padding: 10px 5px 5px 1px; display: block;'>
				<button id="${formId}_saveButton" data-dojo-type="dijit.form.Button"
					data-dojo-attach-point="saveButton"
					data-dojo-attach-event="onClick:savePort">${nls.appliance.webUISecurity.port.save}</button>
				<div style="padding: 0px 5px 0px 5px; display: inline-block;" id="${formId}_changePortOutputText" 
				    data-dojo-attach-point="changePortOutputText"></div>
                <div style="display: inline-block;" id="${formId}_changePortOutputImage" 
                    data-dojo-attach-point="changePortOutputImage"></div>    				    	
			</div>
	</form>
</div>