<div>
 	<div style='width: 600px;' data-dojo-type='ism.widgets.Dialog' data-dojo-attach-point='dialog'
		data-dojo-props='title: "${dialogTitle}", 
			autofocus: false,
            onEnter: function() {
				if(!dijit.byId("${dialogId}_saveButton").get("disabled")) {
					dojo.publish("${dialogId}_saveButton", ""); 
				} 
			},  
			closeButtonLabel: "${nls.messaging.dialog.cancelButton}",
			instruction: "${dialogInstruction}",
			buttons: [ new dijit.form.Button({ 
				label: "${nls.messaging.dialog.saveButton}",
				id: "${dialogId}_saveButton",
				onClick: function() { dojo.publish("${dialogId}_saveButton", ""); }
			    }),
				new dijit.form.Button({ 
				label: "${nls.messaging.dialog.testButton}",
				id: "${dialogId}_testButton", 
				onClick: function() { dojo.publish("${dialogId}_testButton", ""); }
			    }) ]'>

		<form id="${dialogId}_form" method="post" data-dojo-type="dijit.form.Form">

			<div data-dojo-type='ism.widgets.TextBox' id="${dialogId}_name" 
				data-dojo-attach-point='field_Name'
				data-dojo-props='fieldWidth: "260px",
				label: "${nameLabel}:",
				required: true,
				labelAlignment: "horizontal",
				tooltipContent: "${nameTooltip}",
                labelWidth: "${labelWidth}"'></div>

			<div data-dojo-type='ism.widgets.TextBox' id="${dialogId}_qmName"
				data-dojo-attach-point='field_QueueManagerName'
				data-dojo-attach-event='onChange:resetSuccessOrFailMessage'
				data-dojo-props='fieldWidth: "260px", 
				label: "${qmLabel}:",
				required: true,
				maxLength: 48,
				labelAlignment: "horizontal",
				tooltipContent: "${qmTooltip}",
				pattern: "[a-zA-Z0-9\._%/]+",
				invalidMessage: "${qmInvalid}",
				labelWidth: "${labelWidth}"'></div>

			<div data-dojo-type='ism.widgets.TextBox' id="${dialogId}_connectionName"
				data-dojo-attach-point='field_ConnectionName'
				data-dojo-attach-event='onChange:resetSuccessOrFailMessage'
				data-dojo-props='fieldWidth: "260px", 
				maxLength: 1024,
				label: "${connName}:",
				required: true,
				labelAlignment: "horizontal",
				tooltipContent: "${connTooltip}",
				pattern: "[a-zA-Z0-9\(\)\.,_:\-]+",
				invalidMessage: "${connInvalid}",
				labelWidth: "${labelWidth}"'></div>

			<div data-dojo-type='ism.widgets.TextBox' id="${dialogId}_channelName"
				data-dojo-attach-point='field_ChannelName'
				data-dojo-attach-event='onChange:resetSuccessOrFailMessage'
				data-dojo-props='fieldWidth: "260px", 
				label: "${channelLabel}:",
				required: true,
				maxLength: 20,
				labelAlignment: "horizontal",
				tooltipContent: "${channelTooltip}",
				pattern: "[a-zA-Z0-9\._%/]+",
				invalidMessage: "${channelInvalid}",
				labelWidth: "${labelWidth}"'></div>

            <div data-dojo-type='ism.widgets.TextBox' id="${dialogId}_channelUserName"
                data-dojo-attach-point='field_ChannelUserName'
                data-dojo-attach-event='onChange:resetSuccessOrFailMessage'
                data-dojo-props='fieldWidth: "260px", 
                label: "${channelUserLabel}:",
                required: false,
                alignWithRequired: true,
                maxLength: 20,
                labelAlignment: "horizontal",
                tooltipContent: "${channelUserTooltip}",
                labelWidth: "${labelWidth}"'></div>

            <div data-dojo-type='ism.widgets.TextBox' id="${dialogId}_channelUserPassword" type='password'
                data-dojo-attach-point='field_ChannelUserPassword'
                data-dojo-attach-event='onChange:resetSuccessOrFailMessage'
                data-dojo-props='fieldWidth: "260px", 
                label: "${channelPasswordLabel}:",
                required: false,
                alignWithRequired: true,
                maxLength: 256,
                labelAlignment: "horizontal",
                tooltipContent: "${channelPasswordTooltip}",
                labelWidth: "${labelWidth}"'></div>                

			<div data-dojo-type='ism.widgets.TextBox' id="${dialogId}_cipherSpec"
				data-dojo-attach-point='field_SSLCipherSpec'
				data-dojo-attach-event='onChange:resetSuccessOrFailMessage'
				data-dojo-props='fieldWidth: "260px", 
				label: "${SSLCipherSpecLabel}:",
				required: false,
				alignWithRequired: true,
				maxLength: 32,
				labelAlignment: "horizontal",
				tooltipContent: "${SSLCipherSpecTooltip}",
				labelWidth: "${labelWidth}"'></div>
		</form>
	</div>
</div>

