<div class="QueueMonitorGrid">
   <form id="qmg_form" data-dojo-type="dijit.form.Form" data-dojo-attach-point="qmg_form">
	<table role="presentation">

		<tr>
			<td style="padding-right: 10px;">
             <div class="dijitRequired dijitInline dijitReset idxComposite">
                <div class="idxLabel">
                    <span class="idxRequiredIcon">*</span>
                    <span id="qmg_queueNameLabel">${nls.monitoring.grid.queueNameLabel}</span>
                </div>
             </div>                                         
			</td>
			<td><select id="qmg_queueName" aria-labelledby="qmg_queueName"
				data-dojo-type="ism.widgets.TextBox" data-dojo-attach-point="queueName"
				data-dojo-props='name:"queueName",
							fieldWidth: "100px",
							required: true,
							missingMessage: "${nls.monitoring.queueNameMissingMessage}",
							value: "*"'>
			</select></td>
			<td style="padding-left: 20px; padding-right: 10px;">
				<div id="qmg_datasetLabel">${nls.monitoring.grid.datasetLabel}</div>
			</td>
			<td><select id="qmg_datasetCombo" aria-labelledby="qmg_datasetLabel"
				data-dojo-type="ism.widgets.Select" data-dojo-attach-point="datasetCombo"
				data-dojo-props='name:"datasetCombo",
							fieldWidth: "270px",
							store: new dojo.data.ItemFileWriteStore({
								data: {
									label: "label",
									identifier: "name",
									items: []
								}
							})'>
			</select></td>
			<td style="padding-left: 15px; padding-right: 5px;">
				<button id="qmg_updateButton" data-dojo-type="dijit.form.Button"
					data-dojo-attach-point="updateButton" data-dojo-attach-event="onClick:updateGrid">${nls.monitoring.grid.refreshButton}</button>

			</td>
			<td>
                <div id="qmg_refreshingLabel" style="display:none" ><img src='css/images/loading_wheel.gif' width='10' height='10' alt=''/>${nls.monitoring.grid.refreshingLabel}</div>
            </td>
		</tr>
		   <td colspan=4></td>
			<td style="padding-left: 20px; vertical-align: top;" colspan=2>${nls.monitoring.lastUpdated}<span style="padding-left: 5px;" id="qmg_lastUpdateTime" data-dojo-attach-point="lastUpdateTime">${nls.monitoring.notAvailable}</span></td>
        </tr>       		
	</table>
    </form>
	<br />

	<div id='queueMonitorGridContent'></div>

</div>
