<div style='padding: 10px 0px 10px 0px;'>
	<form data-dojo-type="dijit.form.Form" data-dojo-attach-point="readTimeout">
			<div style='padding: 1px 20px 5px 1px; display: inline;'>
				
			<div style='padding: 1px 1px 5px 1px; display: inline;'>
				<div id="${formId}_readTimeoutField" data-dojo-type='ism.widgets.TextBox'
                    data-dojo-attach-point='readTimeoutField'
                    data-dojo-props=' 
                        inputWidth: "10em",
                        label: "${readTimeoutLabel}:",
                        unit:  "${unitLabel}", 
                        invalidMessage: "${invalidReadTimeout}",
                        tooltipContent: "${readTimeoutTooltip}",
                        required: true,
                        labelAlignment: "horizontal"'></div>
            </div>
            <div style='padding: 10px 5px 5px 1px; display: block;'>
				<button id="${formId}_saveButton" data-dojo-type="dijit.form.Button"
					data-dojo-attach-point="saveButton"
					data-dojo-attach-event="onClick:saveReadTimeout">${nls.appliance.webUISecurity.readTimeout.save}</button>
				<div style="padding: 0px 5px 0px 5px; display: inline-block;" id="${formId}_changeReadTimeoutOutputText" 
				    data-dojo-attach-point="changeReadTimeoutOutputText"></div>
                <div style="display: inline-block;" id="${formId}_changeReadTimeoutOutputImage" 
                    data-dojo-attach-point="changeReadTimeoutOutputImage"></div>    				    	
			</div>
	</form>
</div>