<div>
	<div style='padding: 1px 1px 5px 0px; display: block;'>
    	<select data-dojo-type='ism.widgets.Select'
            	data-dojo-attach-point='runModeSelect'
               	data-dojo-attach-event="onChange:confirmRunModeChange"
            	data-dojo-props='
            	    id: "${id}_select",
                	label: "${runModeLabel}:",
                    tooltipContent: "${runModeTooltip}", 
                    labelAlignment: "horizontal",
                    labelWidth: "145"'>
               <option id="${id}_rm_Production" value="PRODUCTION" selected="true">${nlsHome.home.status.mode_0}</option>
               <option id="${id}_rm_Maintenance" value="MAINTENANCE">${nlsHome.home.status.mode_1}</option>                    
        </select>
	</div>
	<div style='padding:1px 1px 5px 0px; display: inline-block; width: 150px'>
		<label for="${id}_cleanStoreCheckBox" id="${id}_cleanStoreLabel" class="dashboardLabel ismWidgetLabel">${nls.appliance.systemControl.runMode.cleanStoreLabel}:</label>
		<div style="display: inline-block; vertical-align: bottom;">
			<div id="cleanStore_Hover" href="#bogus1" role="tooltip" tabindex="0"
				 class="ismWidgetHoverHelpIcon"
				 onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div>
			<span id="cleanStore_Tooltip"
				  data-dojo-type="idx.widget.HoverHelpTooltip"
				  data-dojo-props='connectId:["cleanStore_Hover"], forceFocus: true, showLearnMore:false'>
				  ${nls.appliance.systemControl.runMode.cleanStoreTooltip}</span>
		</div>
	</div>
	<div id="${id}_cleanStoreCheckBox" style='display: inline-block;' aria-labelledby="${id}_cleanStoreLabel"
         data-dojo-type='idx.form.CheckBox'
         data-dojo-attach-point='checkbox_cleanStore'
         data-dojo-attach-event="onChange:confirmCleanStoreChange"
         data-dojo-props='checked: false'></div> 
</div>
