<div>
	<div style='width: 1000px;' data-dojo-type='ism.widgets.Dialog' data-dojo-attach-point='dialog'
		data-dojo-props='title: "${dialogTitle}", 
			autofocus: false, 
            onEnter: function() {
				if(!dijit.byId("${dialogId}_saveButton").get("disabled")) {
					dojo.publish("${dialogId}_saveButton", ""); 
				} 
			},  
			closeButtonLabel: "${nls.appliance.users.dialog.cancelButton}",
			buttons: [ new dijit.form.Button({ 
				label: "${nls.appliance.users.dialog.saveButton}",
				id: "${dialogId}_saveButton",
				onClick: function() { dojo.publish("${dialogId}_saveButton", ""); }
			}) ]'>

		<form id="${dialogId}_form" data-dojo-type="dijit.form.Form">

            <div style='padding: 1px 1px 5px 1px; display: block; margin-right: 20px;  margin-bottom: 50px'>
				<div data-dojo-type='ism.widgets.TextBox' data-dojo-attach-point='field_Name'
					data-dojo-props='fieldWidth: "150px", 
					label: "${nameLabel}:",
					required: true,
					labelAlignment: "horizontal",
	                tooltipContent: "${nameTooltip}",
					labelWidth: "225"'></div>
			</div>

            <div style='float: left; display: inline-block; width: 450px;' id='${dialogId}_leftGroup'>
	            <!-- left section -->
	            <div id="${dialogId}_tlsSettingsHeading" class="subsection" role="group" aria-labelledby="${dialogId}_tlsSettingsHeading" style="width: 415px"">
	                    <h3 id="${dialogId}_tlsSettingsHeading" data-dojo-attach-point="tlsSettingsHeading">${nls_sp.tlsSettings}</h3>
		            <div style='padding: 1px 1px 5px 1px; display: block; margin-right: 20px;'>
			            <div style='padding: 1px; display: block;'>
			                <div style='display:inline-block; padding-right: 9px;'></div>
			                <div class="idxLabel dijitInline" style="width: 207px; display: inline-block;">
			                    <span id='tlsEnabledLabel' class='ismWidgetLabel'>${nls_sp.tlsEnabled}:</span>
			                    <div id="${dialogId}_tlsEnabledHover" href="#bogus1" role="tooltip" style='display: inline-block' tabindex="0"
			                        class="ismWidgetHoverHelpIcon" aria-labelledby="${dialogId}_tlsEnabledTooltip"
			                        onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div>
			                    <span id="${dialogId}_tlsEnabledTooltip" data-dojo-type="idx.widget.HoverHelpTooltip"
			                            data-dojo-props='connectId:["${dialogId}_tlsEnabledHover"], forceFocus: true, showLearnMore:false'>${nls_sp.tlsEnabledTooltip}</span>
			                </div>
			                <div data-dojo-type='idx.form.CheckBox' aria-labelledby='tlsEnabledLabel' data-dojo-attach-event='onChange:changeTlsEnabled' 
			                    data-dojo-attach-point='field_TLSEnabled' data-dojo-props='width: "50px", checked: true'></div>
			            </div>
		            </div>
		            
		            <select data-dojo-type='ism.widgets.Select' data-dojo-attach-point='field_CertificateProfile'
						data-dojo-props='
							label: "${certprofileLabel}:",
							alignWithRequired: false,
							required: true,
							tooltipContent: "${certprofileTooltip}",
							labelAlignment: "horizontal", 
							labelWidth: "225",
							fieldWidth: "150px"'>
					</select>
		            
					<select id="${dialogId}_MinimumProtocolMethod" data-dojo-type='ism.widgets.Select' data-dojo-attach-point='field_MinimumProtocolMethod'
						data-dojo-props='
							label: "${mprotocolLabel}:",
							alignWithRequired: true,					 
							tooltipContent: "${mprotocolTooltip}",
							labelAlignment: "horizontal", 
							labelWidth: "225",
							fieldWidth: "150px"'>
						<option value="TLSv1">TLSv1</option>
						<option value="TLSv1.1">TLSv1.1</option>
						<option value="TLSv1.2" selected="true">TLSv1.2</option>
					</select>
					
					<select id="${dialogId}_Ciphers" data-dojo-type="ism.widgets.Select"
						data-dojo-attach-point='field_Ciphers'
						data-dojo-props='name:"langSelect",
						label: "${ciphersLabel}:",
						alignWithRequired: true,
						tooltipContent: "${ciphersTooltip}",
						labelAlignment: "horizontal", 
						labelWidth: "225px",
						fieldWidth: "150px"'>
						<option value="Best">${nls.appliance.securityProfiles.dialog.ciphers.best}</option>
						<option value="Fast" selected="true">${nls.appliance.securityProfiles.dialog.ciphers.fast}</option>
						<option value="Medium">${nls.appliance.securityProfiles.dialog.ciphers.medium}</option>				
					</select>
		
		            <div style='padding: 1px; display: block;'>
		                <div style='display:inline-block; padding-right: 9px;'></div>
		                <div class="idxLabel dijitInline" style="width: 207px; display: inline-block;">
		                    <span id='clientCiphersLabel' class='ismWidgetLabel'>${nls.appliance.securityProfiles.grid.clientciphers}:</span>
		                    <div id="${dialogId}_clientciphersHover" href="#bogus1" role="tooltip" style='display: inline-block' tabindex="0"
		                        class="ismWidgetHoverHelpIcon" aria-labelledby="${dialogId}_clientCiphersTooltip"
		                        onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div>
		                    <span id="${dialogId}_clientciphersTooltip" data-dojo-type="idx.widget.HoverHelpTooltip"
		                            data-dojo-props='connectId:["${dialogId}_clientciphersHover"], forceFocus: true, showLearnMore:false'>${nls.appliance.securityProfiles.dialog.clientciphersTooltip}</span>
		                </div>
		                <div data-dojo-type='idx.form.CheckBox' aria-labelledby='clientCiphersLabel'
		                    data-dojo-attach-point='field_UseClientCipher' data-dojo-props='width: "50px", checked: false'></div>
		            </div>
		            
		            <div style='padding: 1px; display: block;'>
		                <div style='display:inline-block; padding-right: 9px;'></div>
						<div class="idxLabel dijitInline" style="width: 207px; display: inline-block;">
		                    <span id='certAuthLabel' class='ismWidgetLabel'>${nls.appliance.securityProfiles.grid.certauth}:</span>
		                    <div id="${dialogId}_certauthHover" href="#bogus1" role="tooltip" style='display: inline-block' tabindex="0"
		                        class="ismWidgetHoverHelpIcon" aria-labelledby="${dialogId}_certauthTooltip"
		                        onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div>
		                    <span id="${dialogId}_certauthTooltip" data-dojo-type="idx.widget.HoverHelpTooltip"
		                            data-dojo-props='connectId:["${dialogId}_certauthHover"], forceFocus: true, showLearnMore:false'>${nls.appliance.securityProfiles.dialog.certauthTooltip}</span>
						</div>
						<div data-dojo-type='idx.form.CheckBox' aria-labelledby='certAuthLabel'
							data-dojo-attach-point='field_UseClientCertificate' data-dojo-props='width: "50px", checked: false'></div>
					</div>
	            </div>
            </div>

            <div style='float: left; display: inline-block; width: 450px;' id='${dialogId}_rightGroup'>
	            <!-- right section -->
	            <div id="${dialogId}_clientAuthSettingsHeading" class="subsection" role="group" aria-labelledby="${dialogId}_clientAuthSettingsHeading" style="width: 415px">
	                    <h3 id="${dialogId}_clientAuthSettingsHeading" data-dojo-attach-point="clientAuthSettingsHeading">${nls_sp.clientAuthSettings}</h3>
		            <div style='padding: 1px; display: block;'>
		                <div style='display:inline-block; padding-right: 9px;'></div>
		                <div class="idxLabel dijitInline" style="width: 207px; display: inline-block;">
		                    <span id='passwordAuthLabel' class='ismWidgetLabel'>${nls.appliance.securityProfiles.grid.passwordAuth}:</span>
		                    <div id="${dialogId}_passwordAuthHover" href="#bogus1" role="tooltip" style='display: inline-block' tabindex="0"
		                        class="ismWidgetHoverHelpIcon" aria-labelledby="${dialogId}_passwordAuthTooltip"
		                        onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div>
		                    <span id="${dialogId}_passwordAuthTooltip" data-dojo-type="idx.widget.HoverHelpTooltip"
		                            data-dojo-props='connectId:["${dialogId}_passwordAuthHover"], forceFocus: true, showLearnMore:false'>${nls.appliance.securityProfiles.dialog.passwordAuthTooltip}</span>
		                </div>
		                <div data-dojo-type='idx.form.CheckBox' aria-labelledby='passwordAuthLabel' data-dojo-attach-event='onChange:changePasswordAuth' 
		                    data-dojo-attach-point='field_UsePasswordAuthentication' data-dojo-props='width: "50px", checked: true'></div>
		            </div>
					
					<select data-dojo-type='ism.widgets.Select' data-dojo-attach-point='field_LTPAProfile'
						data-dojo-attach-event='onChange:changeLTPAProfile'
						data-dojo-props='
							label: "${ltpaprofileLabel}:", 
							required: "false",
							alignWithRequired: "true",
							tooltipContent: "${ltpaprofileTooltip}",
							labelAlignment: "horizontal", 
							labelWidth: "225",
							fieldWidth: "150px"'>
					</select>
		
		            <select data-dojo-type='ism.widgets.Select' data-dojo-attach-point='field_OAuthProfile'
		                data-dojo-attach-event='onChange:changeOAuthProfile'
		                data-dojo-props='
		                    label: "${oAuthProfileLabel}:", 
		                    required: "false",
		                    alignWithRequired: "true",
		                    tooltipContent: "${oAuthProfileTooltip}",
		                    labelAlignment: "horizontal", 
		                    labelWidth: "225",
		                    fieldWidth: "150px"'>
		            </select>
	            </div>
            </div>
            
		</form>
	</div>
</div>

