<div>
	<table role="presentation">
		<tr>
			<td class="firstcol"><label for="localeCombo" >${nls.appliance.serverLocale.locale.localeLabel}</label></td>
			<td>
			<select id="localeCombo" data-dojo-type="idx.form.FilteringSelect"
				data-dojo-attach-point="localeCombo",
				data-dojo-attach-event="onChange:changeLocale",
				data-dojo-props='name:"localeCombo",
					fieldWidth: "400px",
					maxHeight: 400,
					store: new dojo.data.ItemFileWriteStore({
						data: {
							label: "name",
							identifier: "id",
							items: []
						}
					})'>
			</select></td>
		</tr>
		<tr>
			<td class="firstcol"><label for="timeZoneCombo">${nls.appliance.serverLocale.dateTime.timeZoneLabel}</label></td>
			<td>
			<select id="timeZoneCombo" data-dojo-type="idx.form.FilteringSelect"
				data-dojo-attach-point="timeZoneCombo",
				data-dojo-attach-event="onChange:changeTimeZone"
				data-dojo-props='name:"timeZoneCombo",
					fieldWidth: "400px",
					maxHeight: 400,					
					store: new dojo.data.ItemFileWriteStore({
						data: {
							label: "name",
							identifier: "id",
							items: []
						}
					})'>
			</select></td>
		</tr>
	</table>
</div>
