<div>
	<div style='width:700px' data-dojo-type='ism.widgets.Dialog'
		data-dojo-attach-point='dialog'
		data-dojo-props='title: "${dialogTitle}",
		    instruction: "${dialogInstruction}", 
            autofocus: false, 
            onEnter: function() {
				if(!dijit.byId("${dialogId}_saveButton").get("disabled")) {
					dojo.publish("${dialogId}_saveButton", ""); 
				} 
			},  
            closeButtonLabel: "${nls.monitoring.dialog.cancelButton}",
            buttons: [ new dijit.form.Button({ 
                label: "${nls.monitoring.dialog.saveButton}",
                id: "${dialogId}_saveButton",
                onClick: function() { dojo.publish("${dialogId}_saveButton", ""); }
            }) ]'>
		<form id="${dialogId}_form" data-dojo-type="dijit.form.Form">
			<div id='${dialogId}_leftGroup'>
				<div style='padding: 1px 1px 5px 1px; display: block;'>
					<div id="${dialogId}_Host" data-dojo-type='ism.widgets.TextBox'
						data-dojo-attach-point='field_Host'
						data-dojo-props=' 
						inputWidth: "300px",
						label: "${hostLabel}:", 
						tooltipContent: "${hostTooltip}",
						required: true,
						pattern: "[a-zA-Z0-9\.:\-]+",
                        invalidMessage: "${hostInvalid}",
						labelAlignment: "horizontal", 
						labelWidth: "150"'></div>
				</div>
				<div id="${dialogId}_ClientPortNumber" data-dojo-type='ism.widgets.TextBox'
						data-dojo-attach-point='field_ClientPortNumber'
						data-dojo-props=' 
						inputWidth: "300px",
						label: "${portLabel}:", 
						tooltipContent: "${portTooltip}",
						pattern: "[\\d]+",
                        invalidMessage: "${portInvalid}",
						required: true,
						labelAlignment: "horizontal", 
						labelWidth: "150"'></div>
				</div>
                <div style='padding: 1px 1px 5px 1px; display: block; margin-right: 20px;'>
                    <select id='${dialogId}_Community' data-dojo-type='ism.widgets.Select' data-dojo-attach-point='field_Community'
                        data-dojo-props='
                        label: "${communityLabel}:", 
                        required: true,
                        store: new dojo.data.ItemFileWriteStore({
                            data: {
                                label: "Name",
                                identifier: "Name",
                                items: []
                            }
                        }),
                        labelAlignment: "horizontal", 
                        labelWidth: "150"'>
                    </select>
                </div>
				<div style='clear: both;' />
		</form>
	</div>
</div>
