<div>

	<div data-dojo-type='idx.form.CheckBox' id="${id}__SNMPEnabled" data-dojo-attach-point='field_SNMPEnabled'
		data-dojo-attach-event="onChange:setSnmpEnabled"
		data-dojo-props='checked: false,
			label: "${enableLabel}"'></div>
    <div style="display: inline-block; padding: 0 10px;" data-dojo-attach-point="snmpEnabledSavingDiv"></div>

    <div style="padding: 10px 1px 0 0;">
        <span id="snmpRuntimeStatusSpanLabel" class="dashboardLabel" style="padding-right: 5px;">${nlsSnmp.statusLabel}:</span>
        <span id="snmpRuntimeStatusSpan" class="dashboardValue" aria-labelledby="snmpRuntimeStatusSpanLabel" >${nlsSnmp.unknown}</span>
    </div>
    
    <div style="padding: 10px 1px 0 0 ;">
        <span id="${id}_agentAddressLabel" class="dashboardLabel" style="padding-right: 5px;">${nls.monitoring.snmp.status.addressLabel}</span>
                <span id="${agentAddressId}" class="dashboardValue" href="#bogus1" role="tooltip" tabindex="0" 
                      onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></span>
                <span id="${agentAddressHoverId}" data-dojo-type="idx.widget.HoverHelpTooltip"
              data-dojo-props='connectId:["${agentAddressId}"], forceFocus: true, showLearnMore:false'>
        </span>
                                 
        <a id="${id}_editAgentAddress" class="actionLink" href="javascript:;" data-dojo-attach-event="onclick:editAgentAddress">${nls.monitoring.snmp.status.editLinkLabel}</a>                  
    </div>
    
    
</div>