<div>	
	<div>
        <div style="white-space: nowrap; padding: 5px 0 5px 0">
            <div id="${id}_SNMPEnabled" data-dojo-type='idx.form.CheckBox' data-dojo-attach-point='field_SNMPEnabled'
              data-dojo-attach-event="onChange:setSNMPEnabled"
              data-dojo-props='checked: false,
              label: "${enableLabel}"'></div>
		    <div style="display: inline-block; padding: 0 10px;" data-dojo-attach-point="snmpEnabledSavingDiv"></div>
        </div> 
    </div>	
    <div style='display: inline-block;'>        
		<table role="presentation" style="padding: 5px 1px 5px 0px" >
			<tr>
				<td style="white-space: nowrap; padding: 5px 0 5px 0">
                    <span id="${id}_statusLabel" class="dashboardLabel">${nls.statusLabel}:</span>
				</td> 
                <td style="white-space: nowrap; padding: 5px 0 5px 5px">
					<span id="${id}_status" class="dashboardValue"></span>
				</td>
                <td style="white-space: nowrap; padding: 5px 0 5px 5px">
				    <div class="actionLinks">    
				        <a class="actionLink" id="${id}_start" href="javascript:;" data-dojo-attach-event="onclick:start">${nls.startLink}</a>&nbsp;&nbsp; 
				        <a class="actionLink" id="${id}_stop" href="javascript:;" data-dojo-attach-event="onclick:stop">${nls.stopLink}</a>&nbsp;&nbsp; 
				    </div>
				</td>
			</tr>
		</table>
	</div>

</div>
