<div>
	<div style='width:700px' data-dojo-type='ism.widgets.Dialog'
		data-dojo-attach-point='dialog'
		data-dojo-props='title: "${dialogTitle}",
		    instruction: "${dialogInstruction}", 
            autofocus: false, 
            onEnter: function() {
				if(!dijit.byId("${dialogId}_saveButton").get("disabled")) {
					dojo.publish("${dialogId}_saveButton", ""); 
				} 
			},  
            closeButtonLabel: "${nls.monitoring.dialog.cancelButton}",
            buttons: [ new dijit.form.Button({ 
                label: "${nls.monitoring.dialog.saveButton}",
                id: "${dialogId}_saveButton",
                onClick: function() { dojo.publish("${dialogId}_saveButton", ""); }
            }) ]'>
		<form id="${dialogId}_form" data-dojo-type="dijit.form.Form">
			<div id='${dialogId}_leftGroup'>
				<div style='padding: 1px 1px 5px 1px; display: block;'>
					<div id="${dialogId}_Name" data-dojo-type='ism.widgets.TextBox'
						data-dojo-attach-point='field_Name'
						data-dojo-props=' 
						inputWidth: "300px",
						label: "${nameLabel}:", 
						tooltipContent: "${nameTooltip}",
						required: true,
						labelAlignment: "horizontal", 
						labelWidth: "150"'></div>
				</div>
				<div id="${dialogId}_HostRestriction" data-dojo-type='ism.widgets.TextBox'
						data-dojo-attach-point='field_HostRestriction'
						data-dojo-props=' 
						inputWidth: "300px",
						label: "${hostRestrictionLabel}:", 
						tooltipContent: "${hostRestrictionTooltip}",
						pattern: "[a-zA-Z0-9\.\/,:\-]+",
                        invalidMessage: "${hostRestrictionInvalid}",
						required: false,
						alignWithRequired: true,
						labelAlignment: "horizontal", 
						labelWidth: "150"'></div>
				</div>
				
				<div style='clear: both;' />
		</form>
	</div>
</div>
