<div>

	<div style='padding: 10px 5px 5px 1px; display: block;'>
        <table role="presentation">
        <tr>
            <td>
		        <button id="sslkey_uploadButton" data-dojo-type="dijit.form.Button"
			        data-dojo-attach-point="uploadButton"
			        data-dojo-attach-event="onClick:uploadSSLKey">${nls.messaging.sslkeyrepository.uploadButton}</button>

		        <br /> <br />
            </td>
            <td>
		        <button id="sslkey_deleteButton" data-dojo-type="dijit.form.Button"
			        data-dojo-attach-point="deleteButton"
			        data-dojo-attach-event="onClick:deleteSSLKey">${nls.messaging.sslkeyrepository.deleteButton}</button>

                <br /> <br />
            </td>
        <tr>
        </table>
	</div>

</div>

