<div>
	<div id="${dialogId}_dialog" style='width:700px'' data-dojo-type='ism.widgets.Dialog'
		data-dojo-attach-point='dialog'
		data-dojo-props='title: "${deleteResultsTitle}", 
            closeButtonLabel: "${nls.monitoring.deleteResultsDialog.closeButton}"'>
    
        <div id="${dialogId}_successDiv" data-dojo-attach-point="successDiv">        
            <p>${nls.monitoring.deleteResultsDialog.allSuccessful}</p>
        </div>        
        <div id="${dialogId}_failedDiv" class="subsection" data-dojo-attach-point="failureDiv" style="display: none; margin-top: 10px;">
            <h3>${nls.monitoring.deleteResultsDialog.failedTitle}</h3>
            <span class='tagline'>${nls.monitoring.deleteResultsDialog.failed}</span>
            <br /><br />
            <div id='sg_failureContent'></div>
        </div>        
        <div id="${dialogId}_pendingDiv" class="subsection" data-dojo-attach-point="pendingDiv" style="display: none; margin-top: 10px;">
            <h3>${nls.monitoring.deleteResultsDialog.pendingTitle}</h3>
            <span class='tagline'>${nls.monitoring.deleteResultsDialog.pending}</span>
            <br /><br />
            <div id='sg_pendingContent'></div>            
        </div>        
	</div>
</div>
