<div class="SubscriptionGrid">
   <form id="sg_form" data-dojo-type="dijit.form.Form" data-dojo-attach-point="sg_form">

	<table role="presentation">

		<tr>
			<td style="padding-right: 10px;">
				<div id="sg_topicStringLabel">${nls.monitoring.grid.topicStringLabel}</div>
			</td>
			<td><select id="sg_topicString" aria-labelledby="sg_topicString"
				data-dojo-type="ism.widgets.TextBox" data-dojo-attach-point="topicString"
				data-dojo-props='name:"topicString",
							fieldWidth: "125px",
							value: "*"'>
			</select></td>

			<td style="padding-left: 20px; padding-right: 10px;">
             <div class="dijitRequired dijitInline dijitReset idxComposite">
                <div class="idxLabel">
                    <span class="idxRequiredIcon">*</span>
                    <span id="sg_subscriptionLabel">${nls.monitoring.grid.subscriptionLabel}</span>
                </div>
             </div>             
			</td>
			<td><select id="sg_subscription" aria-labelledby="sg_subscription"
				data-dojo-type="ism.widgets.TextBox" data-dojo-attach-point="subscription"
				data-dojo-props='name:"subscription",
							fieldWidth: "125px",
                            required: true,
                            missingMessage: "${nls.monitoring.subscriptionNameMissingMessage}",
							value: "*"'>
			</select></td>

			<td style="padding-left: 20px; padding-right: 10px;">
				<div id="sg_datasetLabel">${nls.monitoring.grid.datasetLabel}</div>
			</td>
			<td style="padding-left: 3px;"><select id="sg_datasetCombo" aria-labelledby="sg_datasetLabel"
				data-dojo-type="ism.widgets.Select" data-dojo-attach-point="datasetCombo"
				data-dojo-props='name:"datasetCombo",
							store: new dojo.data.ItemFileWriteStore({
								data: {
									label: "label",
									identifier: "name",
									items: []
								}
							})'>
			</select></td>

		</tr>
		<tr>
			<td style="padding-right: 10px;">
				<div id="sg_clientIdLabel">${nls.monitoring.grid.clientId}</div>
			</td>
			<td><select id="sg_clientId" aria-labelledby="sg_clientId"
				data-dojo-type="ism.widgets.TextBox" data-dojo-attach-point="clientId"
				data-dojo-props='name:"clientId",
							fieldWidth: "125px",
							value: "*"'>
			</select></td>

			<td style="padding-left: 32px; padding-right: 10px;">
				<div id="sg_subscriptionTypeLabel">${nls.monitoring.grid.subscriptionTypeLabel}</div>
			</td>
			<td><select id="sg_subscriptionTypeCombo" aria-labelledby="sg_subscriptionTypeLabel"
				data-dojo-type="ism.widgets.Select" data-dojo-attach-point="subscriptionTypeCombo"
				data-dojo-props='name:"subscriptionTypeCombo",
							store: new dojo.data.ItemFileWriteStore({
								data: {
									label: "label",
									identifier: "name",
									items: []
								}
							})'>
			</select></td>
			<td></td>
			<td>
				<button id="sg_updateButton" data-dojo-type="dijit.form.Button"
					data-dojo-attach-point="updateButton" data-dojo-attach-event="onClick:updateGrid">${nls.monitoring.grid.refreshButton}</button>
                <span id="sg_refreshingLabel" style="display:none; padding-left: 5px;" ><img src='css/images/loading_wheel.gif' width='10' height='10' alt=''/>${nls.monitoring.grid.refreshingLabel}</span>
            </td>
		</tr>
		<tr>
            <td style="padding-right: 10px;">
                <div id="sg_messagingPolicyLabel">${nls.monitoring.grid.subscription.messagingPolicy}</div>
            </td>
            <td><select id="sg_messagingPolicy" aria-labelledby="sg_messagingPolicy"
                data-dojo-type="ism.widgets.TextBox" data-dojo-attach-point="messagingPolicy"
                data-dojo-props='name:"messagingPolicy",
                            fieldWidth: "125px",
                            value: "*"'>
            </select></td>
		
            <td colspan=3></td>
			<td style="padding-left: 5px; vertical-align: top;">${nls.monitoring.lastUpdated}<span style="padding-left: 5px;" id="sg_lastUpdateTime" data-dojo-attach-point="lastUpdateTime">${nls.monitoring.notAvailable}</span></td>
        </tr>       		
	</table>
    </form>
	<br />

	<div id='subscriptionGridContent'></div>

</div>
