<div>
	<!-- TODO Perhaps use a portlet here instead... Only makes sense if we persist changes such as open/close state. -->
	<div data-dojo-attach-point=${id} class="dashboardPane">
		<h2>${title}</h2>
		<!-- p>${description}</p-->
		
		<table role="presentation" >
			<tr>
				<td width="120px">
					<div id="${id}_hostnameLabel" class="dashboardLabel">${nls.home.dashboards.appliance.systemInformation.hostname}</div>
				</td> 
				<td>
					<div id="${id}_hostname" class="dashboardValue"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div id="${id}_firmwareLabel" class="dashboardLabel">${nls.home.dashboards.appliance.systemInformation.firmware}</div>
				</td> 
				<td>
					<div id="${id}_firmware" class="dashboardValue"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div id="${id}_uptimeLabel" class="dashboardLabel">${nls.home.dashboards.appliance.systemInformation.uptime}</div>
				</td> 
				<td>
					<div id="${id}_uptime" class="dashboardValue"></div>
				</td>
			</tr>
			<tr>
				<td>
					<div id="${id}_statusLabel" class="dashboardLabel">${nls.home.dashboards.appliance.systemInformation.status}</div>
				</td> 
				<td>
					<div id="${id}_status"class="dashboardValue"></div>
				</td>
			</tr>
            <tr>
                <td>
                    <div id="${id}_memoryLabel" class="dashboardLabel">${nls.home.dashboards.appliance.systemInformation.memory}</div>
                </td> 
                <td>
                    <div id="${id}_memory"class="dashboardValue"></div>
                </td>
            </tr>		
		</table>
		
	</div>
</div>
