<div>

	<div data-dojo-type='idx.form.CheckBox' id="field_FIPS" data-dojo-attach-point='field_FIPS'
		data-dojo-attach-event="onChange:setFIPS"
		data-dojo-props='checked: false,
			label: "${nls.appliance.securitySettings.useFips}"'></div>

	<div style="display: inline-block; margin: 0 0 0 -20px; vertical-align: middle;">
		<div id="fips_Hover" href="#bogus1" role="tooltip" tabindex="0"
			class="hoverHelpIcon" onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div>
		<span id="fips_Tooltip" data-dojo-type="idx.widget.HoverHelpTooltip"
			data-dojo-props='connectId:["fips_Hover"], forceFocus: true, showLearnMore:false'>${nls.appliance.securitySettings.useFipsTooltip}</span>
	</div>

</div>