<div style='padding: 10px 0px 10px 0px;'>
	<form data-dojo-type="dijit.form.Form" data-dojo-attach-point="timeoutsForm">
			<div style='padding: 1px 20px 5px 1px; display: inline;'>
				<div id="${formId}_inactivityField" data-dojo-type='ism.widgets.TextBox'
					data-dojo-attach-point='inactivityField'
					data-dojo-props=' 
                        fieldWidth: "100",
                        label: "${inactivityLabel}:",
                        unit:  "${unitLabel}",
                        invalidMessage: "${invalidInactivity}",
                        tooltipContent: "${inactivityTooltip}",
                        required: true,                        
                        labelAlignment: "horizontal"'></div>
			</div>
			<div style='padding: 1px 1px 5px 1px; display: inline;'>
				<div id="${formId}_expirationField" data-dojo-type='ism.widgets.TextBox'
                    data-dojo-attach-point='expirationField'
                    data-dojo-props=' 
                        fieldWidth: "100",
                        label: "${expirationLabel}:",
                        unit:  "${unitLabel}", 
                        invalidMessage: "${invalidExpiration}",
                        tooltipContent: "${expirationTooltip}",
                        required: true,
                        labelAlignment: "horizontal"'></div>
            </div>
            <div style='padding: 10px 5px 5px 1px; display: block;'>
				<button id="${formId}_saveButton" data-dojo-type="dijit.form.Button"
					data-dojo-attach-point="saveButton"
					data-dojo-attach-event="onClick:saveTimeouts">${nls.appliance.webUISecurity.timeout.save}</button>
				<div style="padding: 0px 5px 0px 5px; display: inline-block;" id="${formId}_changeTimeoutsOutputText" 
				    data-dojo-attach-point="changeTimeoutsOutputText"></div>
                <div style="display: inline-block;" id="${formId}_changeTimeoutsOutputImage" 
                    data-dojo-attach-point="changeTimeoutsOutputImage"></div>    				    	
			</div>
	</form>
</div>