<div>
	<div style='display: inline-block;'>
		<span id="${id}_endpointLabel" class="dashboardLabel" style="padding: 0 10px 0 0;">${endpointLabel}:</span>
		<span id="${id}_endpointState" class="dashboardValue" style="padding: 0 10px 0 0;" data-dojo-attach-point="endpointState"></span> 
		<a class="actionLink" style="display: none; padding: 0 10px 0 0;" id="${id}_toggleLink" href="javascript:;"
			data-dojo-attach-point="toggleLink">${linkLabel}</a> 
		<span style="padding: 0 5px 0 0;" id="${id}_toggleStateOutputText"
			data-dojo-attach-point="toggleStateOutputText">
	    <span id="${id}_toggleStateOutputImage" 
	    	data-dojo-attach-point="toggleStateOutputImage"></span>
	</div>
</div>