<div class="TopicMonitorGrid">

	<table role="presentation">

		<tr>
			<td style="padding-right: 5px;">
				<button id="tmg_updateButton" data-dojo-type="dijit.form.Button"
					data-dojo-attach-point="updateButton" data-dojo-attach-event="onClick:updateGrid">${nls.monitoring.grid.refreshButton}</button>

			</td>
			<td>
                <div id="tmg_refreshingLabel" style="display:none" ><img src='css/images/loading_wheel.gif' width='10' height='10' alt=''/>${nls.monitoring.grid.refreshingLabel}</div>
            </td>			
		</tr>
        <tr>
			<td style="padding-left: 5px; vertical-align: top;" colspan=2>${nls.monitoring.lastUpdated}<span style="padding-left: 5px;" id="tmg_lastUpdateTime" data-dojo-attach-point="lastUpdateTime">${nls.monitoring.notAvailable}</span></td>
        </tr>       		
	</table>
    <br />
    
    <div id='discardOldestMessagesInfo' data-dojo-attach-point='discardOldestMessagesInfo' style='display: none'>
        <div style='display: inline-block; vertical-align: top; margin: 2px 5px;' class='noticeIcon'></div>
        <div style='display:inline-block; width: 90%'>${!nls.monitoring.discardOldestMessagesInfo}</div>
    </div>
	<div id='topicMonitorGridContent'></div>
</div>
