<div class="dijitDialog" role="alertdialog" aria-labelledby="${id}_title" aria-describedby="${id}_desc" style="width:416px;">
	<div dojoAttachPoint="titleBar" class="dijitDialogTitleBar">
	<span dojoAttachPoint="titleNode" class="dijitDialogTitle" id="${id}_title"></span>
	<span dojoAttachPoint="closeButtonNode" class="dijitDialogCloseIcon" dojoAttachEvent="ondijitclick: onCancel" title="${buttonCancel}" role="button" tabIndex="-1">
		<span dojoAttachPoint="closeText" class="closeText" title="${buttonCancel}">x</span>
	</span>
	</div>
	<div class="messageSummary">
		<img dojoAttachPoint="icon" class="message${type}Icon messageIcon" src="${_blankGif}" alt="${type}" />
		<span dojoAttachPoint="iconText" class="messageIconText"></span>
		<span id="${id}_desc" role="alert" dojoAttachPoint="description" class="messageDescription" tabindex="0">${text}</span>
	</div>	
	<div dojoAttachPoint="messageWrapper" class="messageWrapper">
		<div dojoAttachPoint="containerNode" class="dijitDialogPaneContent" tabindex="0">
		</div>
	</div>
	<div class="messageDialogFooter" dojoAttachPoint="actionBar">
		<span class="messageCheckBox" dojoAttachPoint="checkboxNode" style="display: none">
			<div dojoAttachPoint="checkbox"></div>
		</span>
		<span class="messageAction">
			<input dojoAttachPoint="confirmAction"/>
			<input dojoAttachPoint="closeAction"/>
		</span>
	</div>
</div>