<div class="idxDialog" role="dialog" aria-labelledby="${id}_title" aria-describedby="${id}_desc"
	><div class="dijitDialogTitle" dojoAttachPoint="titleBar"
		><span id="${id}_title" dojoAttachPoint="titleNode" tabindex="-1">${title}</span
	></div
	><div class="dijitDialogInstruction"
		><span id="${id}_desc" dojoAttachPoint="instructionNode" tabindex="-1">${instruction}</span
	></div
	><div dojoAttachPoint="contentWrapper" class="dijitDialogPaneContentWrapper compact" style="display:none"
		><div dojoAttachPoint="containerNode" class="dijitDialogPaneContent" tabindex="-1"></div
	></div
	><div class="dijitDialogPaneActionBar"
		><span class="idxDialogActionBarLead" 
			><a dojoAttachEvent="ondijitclick: onReference" dojoAttachPoint="referenceNode" class="referenceLinkHidden" href="${referenceLink}">${referenceName}</a
		></span
		><span class="idxDialogActionBarEnd"
		><input dojoAttachPoint="closeButtonNode"/
		></span
	></div
></div>