<div class="idxOneuiHoverHelpTooltip idxOneuiHoverHelpTooltipLeft" role="alert"
	><div
		><span data-dojo-attach-point="closeButtonNode" class="idxOneuiHoverHelpTooltipCloseIcon" 
			data-dojo-attach-event="ondijitclick: hideOnClickClose" role="button" aria-label="${buttonClose}"
			><span class="idxHoverHelpCloseText">x</span
		></span
	></div
	><div data-dojo-attach-point="outerContainerNode" class="idxOneuiHoverHelpTooltipContainer idxOneuiHoverHelpTooltipContents"
		><div data-dojo-attach-point="containerNode" role="presentation"></div
		><a target="_blank" href="#updateme" role="link" class="idxOneuiHoverHelpTooltipLearnLink" data-dojo-attach-point="learnMoreNode"><span>${learnMoreLabel}</span></a
	></div
	><div class="idxOneuiHoverHelpTooltipConnector" data-dojo-attach-point="connectorNode"></div
></div>