<div class="idxOneuiHoverCard idxOneuiHoverCardLeft dijitHidden"
	><div
		><span data-dojo-attach-point="closeButtonNode, focusNode" class="idxOneuiHoverCardCloseIcon" 
			data-dojo-attach-event="ondijitclick: hide" role="button" tabIndex="0" aria-label="${buttonClose}"
			><span class="closeText">x</span
		></span
	></div
	><div data-dojo-attach-point="bodyNode" class="idxOneuiHoverCardBody"
		><div class="idxOneuiHoverCardGrip" data-dojo-attach-point="gripNode"></div
		><div class="idxOneuiHoverCardContainer" data-dojo-attach-point="containerNode"></div
		><div class="idxOneuiHoverCardFooter"
			><div class="idxOneuiHoverCardActionIcons" data-dojo-attach-point="actionIcons"></div
			><span aria-haspopup="true" data-dojo-attach-point="moreActionsNode"></span
		></div
		><div class="idxOneuiHoverCardFooterExpand"></div
	></div
	><div class="idxOneuiHoverCardConnector" data-dojo-attach-point="connectorNode"></div
></div>


