<div role="presentation">
	<div class="dijitTooltipContainer" role="presentation">
		<div class ="dijitTooltipContents dijitTooltipFocusNode" data-dojo-attach-point="containerNode" role="presentation" tabIndex="-1"></div>
	</div>
	<div class="dijitTooltipConnector idxConnector" role="presentation" data-dojo-attach-point="connectorNode"
		><span role="presentation" class="idxConnectorBelow">▲</span
		><span role="presentation" class="idxConnectorAbove">▼</span
		><span role="presentation" class="idxConnectorLeft">▶</span
		><span role="presentation" class="idxConnectorRight">◀</span
	></div>
</div>
