<table class="dijit dijitMenu dijitMenuPassive dijitReset dijitMenuTable" role="menu" tabIndex="${tabIndex}" data-dojo-attach-event="onkeypress:_onKeyPress" cellspacing="0">
	<tbody class="dijitReset">
		<tr data-dojo-attach-point="_columnContainerNode">
			<td class="dijitReset oneuiMenuColumn" data-dojo-attach-point="columnNodes">
				<table class="dijitReset" cellspacing="0" width="100%" role="presentation">
					<tbody class="dijitReset" data-dojo-attach-point="_containerNodes,containerNode">
<!-- this is column 0, which also starts out as the container node so menu items are initially loaded here.
     containerNode changes to point to _columnContainerNode once the widget has initialised, so the whole set of columns is the container.
	 this must be kept in synch with _MenuColumn.html -->
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
