<div class="dijit dijitReset" 
	><div class="idxMessageHead" 
		><span id="${id}_title" dojoAttachPoint="clipNode" class="a11yDescription"  ></span
		><div class="dijitInline idxMessageIconWraper" dojoAttachPoint="iconNode" 
			><div class="dijitInline idxMessageIcon" tabIndex="${tabIndex}" dojoAttachEvent="onmouseenter: onIconEnter, onmouseleave: onIconLeave" 
				><span class="a11yDescription"  >${type}</span
				><span id="${id}_type" dojoAttachPoint="typeNode" class="idxMessageIconText idxMessageContent idxMessageAltText"></span
			></div
		></div
		><span class="dijitInline idxMessageContent" dojoAttachPoint="focusNode" dojoAttachEvent="ondijitclick: _onClick" tabIndex="${tabIndex}" role="button" aria-describedby="${id}_messageTitle"
			><span class="idxMessageTitle" dojoAttachPoint="titleNode" id="${id}_messageTitle"></span
			><span class="idxMessageId messagesContrast" dojoAttachPoint="idNode"></span
		></span
		><span class="dijitInline idxMessageFakeContent" dojoAttachPoint="fakeFocusNode" tabIndex="${tabIndex}" dojoAttachEvent="ondijitclick: _onClick" role="button" aria-describedby="${id}_messageFakeTitle"
			><span class="idxMessageTitle" dojoAttachPoint="fakeTitleNode" id="${id}_messageFakeTitle"></span
			><span class="idxMessageId messagesContrast" dojoAttachPoint="fakeIdNode"></span
		></span
		><div class="dijitInline idxMessageRightAligned" dojoAttachPoint="infoNode"
			><div class="dijitInline idxMessageTimestamp messagesContrast" dojoAttachPoint="timestampNode" >03 March 2011  12:00 PM</div
			><div class="dijitInline idxMessageSeparator" dojoAttachPoint="separatorNode" aria-hidden="true">|</div
			><a class="dijitInline idxMessageAction" tabIndex="${tabIndex}" dojoAttachPoint="actionNode" role="button" dojoAttachEvent="ondijitclick: onAction" href="javascript: void(0);"></a
			><div class="dijitInline idxMessageCloseIcon" role="button" tabIndex="${tabIndex}" dojoAttachEvent="ondijitclick: _onClose, onkeyup: _onKeyClose" dojoAttachPoint="closeNode"><span class="idxMessageContent idxMessageAltText">X</span></div
		></div
	></div
	><div class="idxMessageSplitter" src="${_blankGif}"></div
><div class="idxMessageBody" dojoAttachPoint="bodyNode" role="document" aria-labelledby="${id}_detailedMessage"
	><span id="${id}_detailedMessage" class="idxMessageDetail" dojoAttachPoint="descriptionNode" tabIndex="${tabIndex}"></span
	><a class="idxMessageViewDetails" tabIndex="${tabIndex}" dojoAttachPoint="viewDetailsNode" href="javascript: void(0);" dojoAttachEvent="ondijitclick: onMoreDetails"></a
></div
><div class="idxMessageRefresh"
	><span tabIndex="${tabIndex}" dojoAttachPoint="refreshNode" dojoAttachEvent="ondijitclick: onRefresh" role="button"></span
></div></div>
