/* Sidebars style based on https://every-layout.dev/layouts/sidebar/ */

.mainpage {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
  font-family: Arial, Helvetica, sans-serif;
}

.mainpage > :first-child {
  flex-grow: 1;
  background: #cccccc;
  padding: 1em;
}

.mainpage > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
  padding-left: 1em;
  padding-right: 1em;
}

#maincontent > h1 {
   background: #4444aa;
   color: #ffffff;
   padding: 0.5em;
   font-family: Arial, Helvetica, sans-serif;
   margin-top: 0px;
 }
