<h1>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsMon.monitoring.applianceMonitor.title}'" />
</h1>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsMon.monitoring.applianceMonitor.tagline}'"></span>
<br /><br />

<h2>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsMon.monitoring.applianceMonitor.storeMonitorTitle}'" />
</h2>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsMon.monitoring.applianceMonitor.storeMonitorTagline}'"></span>
<br /><br />

<div data-dojo-type="ism.controller.content.StoreMonitorGrid"></div>

<br /><br />

<h2>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsMon.monitoring.applianceMonitor.memoryMonitorTitle}'" />
</h2>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsMon.monitoring.applianceMonitor.memoryMonitorTagline}'"></span>
<br /><br />

<div data-dojo-type="ism.controller.content.MemoryMonitorGrid"></div>
