<h1>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsMon.monitoring.connectionStats.title}'" />
</h1>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsMon.monitoring.connectionStats.tagline}'"></span>
<br /><br />

<h2>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsMon.monitoring.connectionStats.charts.sectionTitle}'" />
</h2>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsMon.monitoring.connectionStats.charts.tagline}'"></span>
<br /><br />

<div data-dojo-type="ism.controller.content.ConnectionChart" data-dojo-props='' style="width: 95%;"></div>

<br />
<br />
<br />

<h2>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsMon.monitoring.connectionStats.grids.sectionTitle}'" />
</h2>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsMon.monitoring.connectionStats.grids.tagline}'"></span>
<br /><br />

<div data-dojo-type="ism.controller.content.ConnectionGrid" data-dojo-props=''></div>
