<h1>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsMon.monitoring.endpointStats.title}'" />
</h1>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsMon.monitoring.endpointStats.tagline}'"></span>
<br /><br />

<h2>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsMon.monitoring.endpointStats.charts.sectionTitle}'" />
</h2>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsMon.monitoring.endpointStats.charts.tagline}'"></span>
<br /><br />

<div data-dojo-type="ism.controller.content.EndpointChart" data-dojo-props='' style="width: 95%;"></div>

<br /><br />

<h2>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsMon.monitoring.endpointStats.grids.sectionTitle}'" />
</h2>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsMon.monitoring.endpointStats.grids.tagline}'"></span>
<br /><br />

<div data-dojo-type="ism.controller.content.EndpointGrid" data-dojo-props='' style="width: 95%;"></div>
