<?xml version="1.0" encoding="UTF-8"?>
<plugin
  name="%plugin_name"
  id="com.ibm.mq.javadoc.doc"
  version="9.0.0"
  provider-name="IBM">
  <extension point="org.eclipse.help.toc">
    <toc file="toc.xml" primary="false"/>
       <!-- <toc file="dummy_jms.xml" extradir="../com.ibm.mq.javadoc.doc/WMQJMSClasses"/>
       <toc file="dummy_java.xml" extradir="../com.ibm.mq.javadoc.doc/WMQJavaClasses"/> -->
	     <toc file="jms.xml" extradir="../com.ibm.mq.javadoc.doc/WMQJMSClasses"/>
       <toc file="java.xml" extradir="../com.ibm.mq.javadoc.doc/WMQJavaClasses"/>
  </extension>
  <extension point="org.eclipse.help.index">
      <index file="csqzajindex.xml"/>
   </extension>
</plugin>