<h1>
    <span data-dojo-type="ism.widgets.ExternalString"
        data-dojo-props="source: '${nlsMsg.messaging.messageProtocols.title}'" />
</h1>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsMsg.messaging.messageProtocols.subtitle}'"></span>
<br /><br />
<h2>
    <span data-dojo-type="ism.widgets.ExternalString"
        data-dojo-props="source: '${nlsMsg.messaging.messageProtocols.title}'" />
</h2>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsMsg.messaging.messageProtocols.tagline}'"></span>
<br /><br />
<div data-dojo-type="ism.controller.content.MessageProtocolsList"
    data-dojo-props='id: "protocolsGrid"'>
</div>






