<h1>
    <span data-dojo-type="ism.widgets.ExternalString"
        data-dojo-props="source: '${nlsMsg.messaging.messageHubs.title}'" />
</h1>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${!nlsMsg.messaging.messageHubs.subtitle}'"></span>
<br /><br />
<h2>
    <span data-dojo-type="ism.widgets.ExternalString"
        data-dojo-props="source: '${nlsMsg.messaging.messageHubs.title}'" />
</h2>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsMsg.messaging.messageHubs.tagline}'"></span>
<br /><br />
<div data-dojo-type="ism.controller.content.MessageHubList"
    data-dojo-props='id: "messageHubGrid",
        addDialogTitle: "${nls.messaging.messageHubs.defineAMessageHub}",
        editDialogTitle: "${nls.messaging.messageHubs.editAMessageHub}",
        removeDialogTitle: "${nls.messaging.messageHubs.messageHubList.removeDialog.title}"'>
</div>





