<h1>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsMsg.messaging.mqConnectivity.title}'" />
</h1>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString"
	data-dojo-props="source: '${nlsMsg.messaging.mqConnectivity.subtitle}'"></span>
<br /><br />

<h2>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsMsg.messaging.connectionProperties.title}'" />
</h2>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString"
	data-dojo-props="source: '${nlsMsg.messaging.connectionProperties.tagline}'"></span>
<br /><br />


<div data-dojo-type="ism.controller.content.QMConnectionProperties"
	data-dojo-props='id: "connprops",
		restURI: "rest/config/mqconnectivity/queueManagerConnections"'></div>

<br /><br />

<h2>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsMsg.messaging.destinationMapping.title}'" />
</h2>

<span class="tagline" data-dojo-type="ism.widgets.ExternalString"
	data-dojo-props="source: '${nlsMsg.messaging.destinationMapping.tagline}'"></span>

<br /><br />

<span class="tagline" data-dojo-type="ism.widgets.ExternalString"
	data-dojo-props="source: '${nlsMsg.messaging.destinationMapping.note}'"></span>

<br /><br />

<div data-dojo-type="ism.controller.content.DestinationMapping"
	data-dojo-props='id: "destmap",
		restURI: "rest/config/mqconnectivity/destinationMappingRules"'></div>

<br /><br />

<h2>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsMsg.messaging.sslkeyrepository.title}'" />
</h2>

<span class="tagline" data-dojo-type="ism.widgets.ExternalString"
	data-dojo-props="source: '${nlsMsg.messaging.sslkeyrepository.tagline}'"></span>

<br />
<br />
<div data-dojo-type="ism.controller.content.SSLKeyRepository"
	data-dojo-props='id: "sslkey",
		uploadURI: "rest/config/sslKeyRepository"'></div>
