<h1>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsMsg.messaging.users.title}'" />
</h1>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsMsg.messaging.users.tagline}'"></span>
<br /><br />

<h2>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsMsg.messaging.externldap.subTitle}'" />
</h2>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsMsg.messaging.externldap.tagline}'"></span>
<br /><br />

<div data-dojo-type="ism.controller.content.ExternalLDAP"
	data-dojo-props='id: "exldap",
						itemName: "${nls.messaging.externldap.itemName}",
						validChars: ".*",
						instruction: "${nls.messaging.externldap.addDialog.instruction}",						
						restURI: "rest/config/ldap/connections",
						certificatesURI: "rest/config/certificateProfiles",
						userGridID: "msgusers",
						groupGridID: "msggroups",
						addDialogTitle: "${nls.messaging.externldap.addDialog.title}",
						editDialogTitle: "${nls.messaging.externldap.editDialog.title}",
						removeDialogTitle: "${nls.messaging.externldap.removeDialog.title}"
					'></div>
<br /><br />

<h2>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsMsg.messaging.users.usersSubTitle}'" />
</h2>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsMsg.messaging.users.usersTagline}'"></span>
<br /><br />

<div data-dojo-type="ism.controller.content.UsersGroups"
	data-dojo-props='id: "msgusers",
						itemName: "${nls.appliance.users.grid.userid}",
						validChars: ".*",
						idLength: 100,
						tooltipContent: "${nls.appliance.users.dialog.useridTooltip}",
						invalidMessage: "${nls.appliance.users.dialog.useridInvalid}",
						instruction: "${nls.appliance.users.dialog.messagingUserInstruction}",						
						restURI: "rest/config/userregistry/messaging/users",
						groupsURI: "rest/config/userregistry/messaging/groups",
						passwdURI: "rest/config/userregistry/messaging/password",
						addDialogTitle: "${nls.appliance.users.addDialogTitle}",
						editDialogTitle: "${nls.appliance.users.editDialogTitle}",
						removeDialogTitle: "${nls.appliance.users.removeDialogTitle}"
					'></div>

<br /><br />

<h2>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsMsg.messaging.users.groupsSubTitle}'" />
</h2>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsMsg.messaging.users.groupsTagline}'"></span>
<br /><br />

<div data-dojo-type="ism.controller.content.UsersGroups"
	data-dojo-props='id: "msggroups",
						hidepasswords: true,
						isGroupGrid: true,
						userGridID: "msgusers",
						itemName: "${nls.appliance.users.grid.groupid}",
						validChars: ".*",
						idLength: 100,
						tooltipContent: "${nls.appliance.users.dialog.groupidTooltip}",
						invalidMessage: "${nls.appliance.users.dialog.groupidInvalid}",
						instruction: "${nls.appliance.users.dialog.messagingGroupInstruction}",
						restURI: "rest/config/userregistry/messaging/groups",
						groupsURI: "rest/config/userregistry/messaging/groups",
						addDialogTitle: "${nls.appliance.users.addGroupDialogTitle}",
						editDialogTitle: "${nls.appliance.users.editGroupDialogTitle}",
						removeDialogTitle: "${nls.appliance.users.removeGroupDialogTitle}"
					'></div>
					