<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.cdt.launch.applicationLaunchType">
<intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="2"/>
<stringAttribute key="org.eclipse.cdt.launch.COREFILE_PATH" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_ARGUMENTS" value="-rx -1:0:1:/nfl/nyg/manning:1:10:1:0 -d 0"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="debug/bin/mqttbench"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="client_mqttbench"/>
<booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value=""/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/client_mqttbench"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="ISMPort" value="16901"/>
<mapEntry key="ISMServer" value="10.10.10.10"/>
<mapEntry key="RecvSockBuffer" value="32K"/>
<mapEntry key="SendSockBuffer" value="16K"/>
</mapAttribute>
</launchConfiguration>
