<div id="widget_${id}" class="dijitReset dijitInline idxComposite"
	><div class="dijit dijitReset dijitInline" role="presentation" dojoAttachPoint="stateNode,oneuiBaseNode"
		><input
			${!nameAttrSetting} type="${type}" ${checkedAttrSetting}
			class="dijitReset dijitCheckBoxInput"
			dojoAttachPoint="focusNode"
			role="checkbox"
			aria-checked="false"
			dojoAttachEvent="onclick:_onClick"
	/></div
	><div class="idxLabel dijitInline dijitHidden" dojoAttachPoint="labelWrap"
		><label dojoAttachPoint="compLabelNode"></label
	></div
	><div class='dijitReset dijitInline dijitValidationContainer' dojoAttachPoint="iconNode"
		><div class="dijitValidationIcon"><input class="dijitReset dijitInputField dijitValidationInner" value="&#935; " type="text" tabIndex="-1" readonly="readonly" role="presentation"/
	></div></div
></div>