<div class="dijit dijitReset dijitInline dijitLeft idxComposite idxNoOutline" id="widget_${id}" tabIndex="-1"
	><div class="idxLabel dijitHidden" dojoAttachPoint="labelWrap"><span class="idxRequiredIcon">*&nbsp;</span><label dojoAttachPoint="compLabelNode"></label></div
	><div dojoAttachPoint="stateNode, oneuiBaseNode" role="group" class="idxCompContainer idxNoOutline"
		><input type="hidden" dojoAttachPoint="focusNode, valueNode" class="dijitReset"></input
		><div dojoAttachPoint="containerNode"></div
		><div class="dijitReset dijitValidationContainer dijitInline" dojoAttachPoint="iconNode"
			><div class="dijitValidationIcon"><input class="dijitReset dijitInputField dijitValidationInner"
				value="&#935; " type="text" tabIndex="-1" readonly="readonly" role="presentation"
		/></div></div
	></div
></div>