<div id="widget_${id}" class="dijitReset dijitInline idxComposite" 
	><div class="idxLabel dijitInline dijitHidden" dojoAttachPoint="labelWrap"><span class="idxRequiredIcon">*&nbsp</span><label id="${id}_label" dojoAttachPoint="compLabelNode"></label></div
	><table class="dijit dijitReset dijitInline dijitLeft" aria-multiselectable="true"
		dojoAttachPoint="_aroundNode,_buttonNode,tableNode,focusNode,stateNode,oneuiBaseNode,_popupStateNode" cellspacing='0' cellpadding='0'
		role="listbox" aria-haspopup="true"
		><tbody role="presentation"><tr role="presentation"
			><td class="dijitReset dijitStretch dijitButtonContents dijitButtonNode" role="presentation"
				><span class="dijitReset dijitInline dijitButtonText"  dojoAttachPoint="containerNode"></span
				><input type="hidden" ${!nameAttrSetting} dojoAttachPoint="valueNode" value="${value}" aria-hidden="true"
			/></td><td class="dijitReset dijitRight dijitButtonNode dijitArrowButton dijitDownArrowButton"
					dojoAttachPoint="titleNode" role="presentation"
				><div class="dijitReset dijitArrowButtonInner" role="presentation"></div
				><div class="dijitReset dijitArrowButtonChar" role="presentation">&#9660;</div
			></td
		></tr></tbody
	></table
	><div class='dijitReset dijitValidationContainer dijitInline' dojoAttachPoint="iconNode"
		><div class="dijitValidationIcon"><input class="dijitReset dijitInputField dijitValidationInner" value="&#935;" type="text" tabIndex="-1" readonly="readonly" role="presentation"/
	></div></div
></div>