<div id="widget_${id}" class="dijitReset dijitInline idxComposite" 
	><div class="idxLabel dijitInline dijitHidden" dojoAttachPoint="labelWrap"
		><span class="idxRequiredIcon">*&nbsp</span
		><label dojoAttachPoint="compLabelNode"
		></label
	></div
	><div class="dijitInline" dojoAttachPoint="fieldWrap"
		><div class="dijit dijitInline dijitReset dijitInlineTable dijitLeft" role="combobox" dojoAttachPoint="stateNode,oneuiBaseNode,_aroundNode,_popupStateNode" aria-labelledby="${id}_label"
			><div class='dijitReset dijitRight dijitButtonNode dijitArrowButton dijitDownArrowButton dijitArrowButtonContainer' dojoAttachPoint="_buttonNode" role="presentation"
			><input class="dijitReset dijitInputField dijitArrowButtonInner" value="&#9660; " type="text" tabIndex="-1" readonly="readonly" role="presentation"
			${_buttonInputDisabled}
			/></div
			><div class="dijitReset dijitInputField dijitInputContainer" dojoAttachPoint="inputContainer" dojoAttachEvent="onmouseenter: _onInputContainerEnter, onmouseleave: _onInputContainerLeave"
				><input class='dijitReset dijitInputInner' ${!nameAttrSetting}  type="text" autocomplete="off" dojoAttachPoint="textbox,focusNode" role="textbox" aria-haspopup="true" 
			/></div
		></div
		><div class="idxUnit dijitInline dijitHidden" dojoAttachPoint="compUnitNode"
		></div
		><div class='dijitReset dijitValidationContainer dijitInline' dojoAttachPoint="iconNode"
			><div class="dijitValidationIcon"
			><input class="dijitReset dijitInputField  dijitValidationInner" value="&#935;" type="text" tabIndex="-1" readonly="readonly" role="presentation"/
		></div></div
		><div class="dijitHidden idxHintOutside" dojoAttachPoint="compHintNode"></div
	></div
></div>