<div id="widget_${id}" class="dijitInline dijitReset dijitLeft idxComposite"
	><div class="idxLabel dijitInline dijitHidden" dojoAttachPoint="labelWrap"><span class="idxRequiredIcon">*&nbsp</span><label dojoAttachPoint="compLabelNode"></label></div
	><div class="dijitInline"
		><div class="dijitInputContainer dijitInline dijitInputField"
			><textarea ${!nameAttrSetting} dojoAttachPoint='focusNode,containerNode,textbox,stateNode,oneuiBaseNode' autocomplete='off'></textarea
		></div
	><div class='dijitReset dijitValidationContainer dijitInline' dojoAttachPoint="iconNode"
		><div class='dijitValidationIcon'
		><input class="dijitReset dijitInputField dijitValidationInner" value="&#935;" type="text" tabIndex="-1" readonly="readonly" role="presentation"/
	></div></div
	><div class="dijitHidden idxHintOutside" dojoAttachPoint="compHintNode"></div
	></div
></div>