.oneui .idxWizard {
	width: 100%;
	height: 100%;
}

.oneui .idxWizard .idxWizardBorderContainer {
	width: 100%;
	height: 100%;
}

.oneui .idxWizard .idxWizardPane {
	padding: 20px;
}
.oneui .idxWizard .idxWizardStackTitle {
	display: none;
	visibility: hidden;
}
.oneui .idxWizard .idxWizardStack {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 100%;
	width: 100%;
}
.oneui .idxWizard .idxWizardButtonContainer {
	border-top: 1px solid #CCC;
	text-align: right;
	padding: 20px;
}
.oneui .idxWizard .idxWizardButtonContainer .idxButtonBar .dijitButton .dijitButtonNode {
	min-width: 65px;
}
.oneui .idxWizard .idxWizardButtonContainer .idxButtonBar .dijitToggleButton .dijitButtonNode {
	min-width: 55px;
}
.dijitRtl .oneui .idxWizard .idxWizardButtonContainer {
	text-align: left;
}

/* Table of contents */
.oneui .idxWizard .idxWizardTOC {
	width: 230px;
}
.oneui .idxWizard .idxWizardTOCWrapper {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: auto;
}

.oneui .idxWizard .idxWizardTOC .idxWizardTOCList {
    list-style: none outside none;
    padding: 0;
    margin: 0;
}

.oneui .idxWizard .idxWizardTOC .idxWizardTOCList li {
    padding: 3px 2px 2px 20px;
    position: relative;
}

.oneui .idxWizard .idxWizardTOC .idxWizardTOCList .idxWizardNavListItem {
	color: #008ABF;
}

.oneui .idxWizard .idxWizardTOC .idxWizardTOCList .idxWizardNavListItem.idxWizardSubstep {
	margin-left: 25px;
}
.dijitRtl .oneui .idxWizard .idxWizardTOC .idxWizardTOCList .idxWizardNavListItem.idxWizardSubstep {
	margin-right: 25px;
	margin-left: 0;
}
.dijitRtl .oneui .idxWizard .idxWizardTOC .idxWizardTOCList .idxWizardNavListItem.idxWizardVisited.idxWizardSelected .idxWizardIcon  {
   	-webkit-transform:scaleX(-1);
	-moz-transform:scaleX(-1);
	-ms-transform:scaleX(-1);
	-o-transform:scaleX(-1);
	transform:scaleX(-1);
}
.dijitRtl .oneui .idxWizard .idxWizardTOC .idxWizardTOCList li {
	padding: 3px 20px 2px 2px;
} 
.oneui .idxWizard .idxWizardTOC .idxWizardTOCList .idxWizardNavListItem.idxWizardVisited .idxWizardIcon  {
	background: url(images/wiz_step_complete_16.png) 0 no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
}

.oneui .idxWizard .idxWizardTOC .idxWizardTOCList .idxWizardNavListItem.idxWizardVisited.idxWizardSelected .idxWizardIcon  {
	background: url(images/wiz_cur_step_16.png) 0 no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
}

.dijitRtl .oneui .idxWizard .idxWizardTOC .idxWizardTOCList .idxWizardNavListItem.idxWizardVisited.idxWizardSelected .idxWizardIcon  {
   -webkit-transform:scaleX(-1);
	-moz-transform:scaleX(-1);
	-ms-transform:scaleX(-1);
	-o-transform:scaleX(-1);
	transform:scaleX(-1);
}

.oneui .idxWizard .idxWizardTOC .idxWizardTOCList .idxWizardNavListItem .idxWizardText  {
	color: #222222;
	padding-left: 18px;
}
.dijitRtl .oneui .idxWizard .idxWizardTOC .idxWizardTOCList .idxWizardNavListItem .idxWizardText  {
	padding-right: 18px;
	padding-left: 0;
}

.oneui .idxWizard .idxWizardTOC .idxWizardTOCList .idxWizardNavListItem.idxWizardSelected  {
    /* font-weight: bold; */
}

.oneui .idxWizard .idxWizardTOC .idxWizardTOCList .idxWizardNavListItem.idxWizardDisabled .idxWizardText {
    color: #555555; 
}

.oneui .idxWizard .idxWizardTOC .idxWizardTOCList .idxWizardNavListItem:hover {
    background-color: #cce8f2;
    cursor: pointer;
}

.oneui .idxAccordionWizard {
	display: block;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}

.oneui .idxAccordionWizardAccordion {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
}

.oneui .idxAccordionWizardAccordionPane {
	display: block;
	overflow: hidden;
	border: 1px solid #CCCCCC;
}

.oneui .idxAccordionWizardViewport {
	position: absolute;
	top: 0px;
	bottom: 0px;
	height: 100%;
	background-color: white;
}

.oneui .idxAccordionWizardViewportTitleBar {
	background-color: #F0F0F0;
    background-image: linear-gradient(to bottom, #FAFAFA 0%, #EBEBEB 100%);
	width: 2em;
	height: 100%;
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: auto;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;	
}

.dijitRtl .oneui .idxAccordionWizardViewportTitleBar {
	right: 0px;
	left: auto;
}

.oneui .idxAccordionWizardViewportDisabled .idxAccordionWizardViewportTitleBar {
	background-color: #FAFAFA;
    background-image: none;
}

.dijit_a11y.oneui .idxAccordionWizardViewportDisabled .idxAccordionWizardViewportTitleBar {
	opacity: 0.5;
}

.oneui .idxAccordionWizardViewportLeading .idxAccordionWizardViewportTitleBar {
    border-right: 1px solid #CCCCCC;
    border-left: 1px solid rgba(0, 0, 0, 0);
}

.dijitRtl .oneui .idxAccordionWizardViewportLeading .idxAccordionWizardViewportTitleBar {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid rgba(0, 0, 0, 0);
}

.oneui .idxAccordionWizardViewportTrailing .idxAccordionWizardViewportTitleBar {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid rgba(0, 0, 0, 0);
}

.dijitRtl .oneui .idxAccordionWizardViewportTrailing .idxAccordionWizardViewportTitleBar {
    border-right: 1px solid #CCCCCC;
    border-left: 1px solid rgba(0, 0, 0, 0);
}

.oneui .idxAccordionWizardViewportCurrent .idxAccordionWizardViewportTitleBar {
	background-color: #0089BE;
    background-image: linear-gradient(to bottom, #4DA1C2 0%, #0089BE 100%);
    border-color: rgba(0, 0, 0, 0);
}

.dijit_a11y.oneui .idxAccordionWizardViewportCurrent .idxAccordionWizardViewportTitleBar {
    border-right: 1px solid #000000;
}

.oneui .idxAccordionWizardViewportVisitedIcon {
	position: absolute;
	bottom: 0px;;
	left: 0px;
	top: auto;
	right: auto;
	width: 2em;
	height: 2em;
	display: inline-block;
}

.dijitRtl .oneui .idxAccordionWizardViewportVisitedIcon {
	left: auto;
	right: 0px;
}

.oneui .idxAccordionWizardViewportVisited .idxAccordionWizardViewportVisitedIcon {
	background: url(images/wiz_step_complete_16.png) 0 no-repeat;
	width: 16px;
	height: 16px;
	margin: 4px;
}

.oneui .idxAccordionWizard .idxAccordionWizardViewport .idxAccordionWizardViewportVisitedSymbol {
	width: 100%;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-size: 125%;
	display: none;
	visibility: hidden;
}

.dijit_a11y.oneui .idxAccordionWizard  .idxAccordionWizardViewportVisited  .idxAccordionWizardViewportVisitedSymbol {
	display: block;
	visibility: visible;
}

.oneui .idxAccordionWizard .idxAccordionWizardViewport .idxAccordionWizardViewportStepVisitedSymbol {
	display: none;
	visibility: hidden;
}

.dijit_a11y.oneui .idxAccordionWizard  .idxAccordionWizardViewportStepVisitedSymbol {
	margin-top: -0.5em;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-size: 125%;
	display: block;
	visibility: visible;
}

.oneui .idxAccordionWizardViewportTitleBarText {
	//font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	position: absolute;
	bottom: 30px;
	left: 0px;
	right: 0px;
	text-align: left;
	text-shadow: 1px 0 1px rgba(0, 0, 0, 0.2);
	transform: rotate(-90deg);
	transform-orgin: center bottom 0;
    -webkit-transform: rotate(-90deg); 
	-webkit-transform-orgin: center bottom 0;
    -moz-transform: rotate(-90deg); 
	-moz-transform-orgin: center bottom 0;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	color: #333333;
	white-space: nowrap;
	padding: 0px;
	margin: 0px;
	display: inline-block;
}
.dijitRtl .oneui .idxAccordionWizardViewportTitleBarText {
	text-align: right;
	transform: rotate(90deg);
    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg); 
}

.oneui .idxAccordionWizardViewportDisabled .idxAccordionWizardViewportTitleBarText {
	text-shadow: none;
	filter: none;
	color: #727272;
}


.oneui .idxAccordionWizardViewportCurrent .idxAccordionWizardViewportTitleBarText {
	color: #FFFFFF;
    text-shadow: 1px 0 1px rgba(0, 0, 0, 0.2);
}

.oneui .idxAccordionWizardViewportContent {
	position: absolute;
	left: 2em;
	top: 0px;
	bottom: 0px;
	right: 0px;
	overflow: hidden;
	padding: 0px;
}

.dijitRtl .oneui .idxAccordionWizardViewportContent {
	right: 2em;
	left: 0px;
}

.oneui .idxAccordionWizardViewportTitle {
	font-size: 26px;
	display: block;
	width: 90%;
	margin: 0px;
	padding: 20px;
	padding-bottom: 10px;
	overflow: hidden;
	white-space: nowrap;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;	
}

.oneui .idxAccordionWizardViewportHasSubsteps .idxAccordionWizardViewportSubstepList {
	visibility: visible;
	display: block;
}

.oneui .idxAccordionWizardViewportSubstepList {
	visibility: hidden;
	display: none;
	margin: 0px;
	padding: 0px;
	overflow: visible;
	white-space: nowrap;
	position: absolute;
	left: 0px;
	right: 0px;
	padding-left: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;	
}
.dijitRtl .oneui .idxAccordionWizardViewportSubstepList {
	padding-left: 0px;
	padding-right: 20px;
}
.oneui .idxAccordionWizardViewportSubstepBorder {
	height: 3px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 2px solid transparent;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;	
}

.oneui .idxAccordionWizardViewportStepTab {
	float: left;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 0px;
	margin-right: 10px;
}

.dijitRtl .oneui .idxAccordionWizardViewportStepTab {
	float: right;
	margin-right: 0px;
	margin-left: 10px;
}

.dijit_a11y.oneui .idxAccordionWizardViewportStepTab.idxAccordionWizardViewportCurrentStep {
	text-decoration: underline;
}

.oneui .idxAccordionWizardViewportStepTab.idxAccordionWizardViewportStepDisabled {
	color: #727272;
}

.dijit_a11y.oneui .idxAccordionWizardViewportStepTab.idxAccordionWizardViewportStepDisabled {
	opacity: 0.5;
}

.oneui .idxAccordionWizardViewportStepVisitedMarker {
	background: url(images/wiz_substep_complete_16.png) 0 no-repeat;
	display: block;
	position: absolute;
	top: -8px;
	width: 16px;
	height: 16px;
	overflow: visible;
}

.oneui .idxAccordionWizardViewportStepMarker {
	display: block;
	position: absolute;
	top: 0px;
	border-top: 3px solid #0089BE;
	height: 3px;
	padding-left: 4px;
	padding-right: 4px;
}

.oneui .idxAccordionWizardViewportContainer {
	margin: 0px;
	padding: 0px;
	display: block;
	width: 100%;
	overflow: hidden;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.oneui .idxAccordionWizardViewportContainer .idxWizardPane {
	width: 100%;
	margin: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: absolute;
	top: 0px;
	bottom: 0px;
	overflow: auto;
	display: block;
	visibility: visible;
	padding: 20px;
	padding-top: 10px;
}

.oneui .idxAccordionWizardViewportHasSubsteps .idxAccordionWizardViewportContainer .idxWizardPane {
	padding-top: 20px;
}

.oneui .idxAccordionWizardLeadingOverflow,
.oneui .idxAccordionWizardTrailingOverflow {
	background-color: #F0F0F0;
	position: absolute;
	width: 2em;
	top: 0px;
	bottom: 0px;
    display: block;
	text-align: left;
	vertical-align: bottom;
	z-index: 100;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;	
}

.oneui .idxAccordionWizardLeadingOverflow {
    border-right: 1px solid #CCCCCC;
    border-left: 1px solid rgba(0, 0, 0, 0);
}

.dijitRtl .oneui .idxAccordionWizardLeadingOverflow {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid rgba(0, 0, 0, 0);
}

.oneui .idxAccordionWizardTrailingOverflow {
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid rgba(0, 0, 0, 0);
}


.dijitRtl .oneui .idxAccordionWizardTrailingOverflow {
    border-right: 1px solid #CCCCCC;
    border-left: 1px solid rgba(0, 0, 0, 0);
}

.oneui .idxAccordionWizardLeadingOverflowLabel,
.oneui .idxAccordionWizardTrailingOverflowLabel {
	font-size: 13px;
	position: absolute;
	bottom: 30px;
	left: 0px;
	right: 0px;
	color: #333333;
	transform: rotate(-90deg);
	transform-orgin: center bottom 0;
    -webkit-transform: rotate(-90deg); 
	-webkit-transform-orgin: center bottom 0;
    -moz-transform: rotate(-90deg); 
	-moz-transform-orgin: center bottom 0;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	white-space: nowrap;
	text-shadow: 1px 0 1px rgba(0, 0, 0, 0.2);
}

.dijitRtl .oneui .idxAccordionWizardLeadingOverflowLabel,
.dijitRtl .oneui .idxAccordionWizardTrailingOverflowLabel {
	transform: rotate(90deg);
    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg); 
}

.oneui .idxAccordionWizardLeadingOverflow {
	left: 0px;
}

.dijitRtl .oneui .idxAccordionWizardLeadingOverflow {
	left: auto;
	right: 0px;
}

.oneui .idxAccordionWizardTrailingOverflow {
	right: 0px;
}

.dijitRtl .oneui .idxAccordionWizardTrailingOverflow {
	right: auto;
	left: 0px;
}

.oneui .idxAccordionWizard .idxAccordionWizardBorderContainer {
	width: 100%;
	height: 100%;
}

.oneui .idxAccordionWizard  .idxAccordionWizardAnimating .idxAccordionWizardViewport {
	-webkit-transition: left 800ms;
	transition: left 800ms;
}

.dijitRtl .oneui .idxAccordionWizard  .idxAccordionWizardAnimating .idxAccordionWizardViewport {
	-webkit-transition: right 800ms;
	transition: right 800ms;
}

.oneui .idxAccordionWizard  .idxAccordionWizardAnimating .idxAccordionWizardViewportContent {
	-webkit-transition: visibility 1s;
	transition: visibility 1s;
}
.oneui .idxAccordionWizard  .idxAccordionWizardViewportAnimating .idxWizardPane {
	-webkit-transition: visibility 1s, left 800ms;
	transition: visibility 1s, left 800ms;
}
.dijitRtl .oneui .idxAccordionWizard  .idxAccordionWizardViewportAnimating .idxWizardPane {
	-webkit-transition: visibility 1s, right 800ms;
	transition: visibility 1s, right 800ms;
}
.oneui .idxAccordionWizardViewportAnimating .idxAccordionWizardViewportStepMarker {
	-webkit-transition: left 800ms;
	transition: left 800ms;
}
.dijitRtl .oneui .idxAccordionWizardViewportAnimating .idxAccordionWizardViewportStepMarker {
	-webkit-transition: right 800ms;
	transition: right 800ms;
}

.oneui .idxAccordionWizard .idxAccordionWizardButtonPane {
	text-align: right;
	padding: 10px;
}
.dijitRtl .oneui .idxAccordionWizard .idxAccordionWizardButtonPane {
	text-align: left;
	padding: 10px;
}

