apiVersion: v1
kind: Service
metadata:
  name: "amlen-sample-{{instancenum}}-mqtt"
  namespace: "{{ namespace }}"
spec:
  type: LoadBalancer
  externalTrafficPolicy: Cluster
  selector:
    app: "amlen-sample-1"
  ports:
    - port: 8883
      protocol: TCP
      name: "securemessaging"
