#
# verion 1.0 created a loadbalancer service in version
# 1.1 we changed to a clusterIP service that had to
# manually be exposed.
# This allows us to test that 1.1 will correctly handle
# the loadBalancer service created in 1.0
#

apiVersion: v1
kind: Service
metadata:
  name: "amlen-sample-{{instancenum}}-mqtt"
  namespace: "{{ namespace }}"
spec:
  type: LoadBalancer
  externalTrafficPolicy: Cluster
  selector:
    app: "amlen-sample-{{instancenum}}"
  ports:
    - port: 8883
      protocol: TCP
      name: "securemessaging"
