<div id="widget_${id}" class="dijitReset dijitInline idxComposite" dojoAttachPoint="_popupStateNode"
	><div class="idxLabel dijitInline dijitHidden" dojoAttachPoint="labelWrap"
		><span class="idxRequiredIcon">*&nbsp</span
		><label class="ismWidgetLabel" for="${id}" dojoAttachPoint="compLabelNode"></label
		><div id="${id}_Hover" href="#bogus1" tabindex="0"
			class="ismWidgetHoverHelpIcon"
			onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div
		><span id="${id}_Tooltip"
			data-dojo-attach-point="tooltipNode"
			data-dojo-type="idx.widget.HoverHelpTooltip"
			data-dojo-props='id:"${id}_Tooltip", connectId:["${id}_Hover"], forceFocus: true, showLearnMore:false'>${tooltipContent}</span
	></div
	><div class="dijitInline"
		><div class="dijit dijitInline dijitReset dijitInlineTable dijitLeft" role="combobox" dojoAttachPoint="stateNode,oneuiBaseNode,_aroundNode"
			><div class='dijitReset dijitRight dijitButtonNode dijitArrowButton dijitDownArrowButton dijitArrowButtonContainer' dojoAttachPoint="_buttonNode" role="presentation"
			><input class="dijitReset dijitInputField dijitArrowButtonInner" value="&#9660; " type="text" tabIndex="-1" readonly="readonly" role="presentation"
			${_buttonInputDisabled}
			/></div
			><div class="dijitReset dijitInputField dijitInputContainer" dojoAttachPoint="inputContainer" dojoAttachEvent="onmouseenter: _onInputContainerEnter, onmouseleave: _onInputContainerLeave"
				><input class='dijitReset dijitInputInner' ${!nameAttrSetting}  type="text" autocomplete="off" dojoAttachPoint="textbox,focusNode" role="textbox" aria-haspopup="true" 
			/></div
		></div
		><div class="idxUnit dijitInline dijitHidden" dojoAttachPoint="compUnitNode"
		></div
		><div class='dijitReset dijitValidationContainer dijitInline' dojoAttachPoint="iconNode"
			><div class="dijitValidationIcon"
			><input class="dijitReset dijitInputField  dijitValidationInner" value="&#935;" type="text" tabIndex="-1" readonly="readonly" role="presentation"/
		></div></div
		><div class="dijitHidden idxHintOutside" dojoAttachPoint="compHintNode"></div
	></div
></div>