<div class="loginContainer" role="main" aria-label="${nls.loginForm.mainLabel}">
	<form class="loginForm" data-dojo-type="dijit.form.Form" data-dojo-attach-point="loginForm"
	       data-dojo-attach-event="onSubmit:login" 
	       action="j_security_check" method="POST" aria-labelledby='loginTitle'>
        <div class="loginLogo"></div>
		<h1 id='loginTitle' class="loginTitle">${!productNameTM}</h1>
		<div class="loginTable">
            <div class="loginError"><img src="css/images/msgError16t.png" alt=""/><span style='padding: 0 10px;'>${nls.loginForm.error}</span></div>
			<input id="login_userIdInput" data-dojo-type="ism.widgets.TextBox" data-dojo-attach-point="userId" data-dojo-props="label:'${nls.loginForm.userId}', labelAlignment: 'horizontal', fieldWidth: 180, trim: true, required: true, instantValidate: true" />
			<input id="login_passwordInput" name="j_password" data-dojo-type="ism.widgets.TextBox" data-dojo-attach-point="password"data-dojo-props="label:'${nls.loginForm.password}', labelAlignment: 'horizontal', fieldWidth: 180, trim: true, required: true, type: 'password', instantValidate: true" />
			<input id="login_processedUsername" name="j_username" type="hidden" />
			<br />
		</div>
	    <button id="login_submitButton" class="loginButton" data-dojo-type="dijit.form.Button" data-dojo-attach-point="loginButton" data-dojo-props="label: '${nls.loginForm.logIn}'" type="submit"></button>
		<div class="loginJavaLogo"></div>       		
		<p class="loginTrademarks">${!trademarks}</p>
	</form>
	<div class="loginCopyright">${!copyright}</div>
</div>
