<div id='widget_${id}'>
    <div id='widget_${id}_noticeIcon' data-dojo-attach-point='noticeIcon' style='display: inline-block' class='${iconClass}'  
        href='#bogus1' role='tooltip' tabindex='0' aria-labelledby='widget_${id}_noticeIcon_Tooltip' 
        onmouseover='idx.widget.HoverHelpTooltip.defaultPosition=["above", "below"]'></div>
    <span id='widget_${id}_noticeIcon_Tooltip' data-dojo-attach-point='noticeIcon_Tooltip' data-dojo-type='idx.widget.HoverHelpTooltip'
        data-dojo-props='connectId: "widget_${id}_noticeIcon", forceFocus: true, showLearnMore:false'>${hoverHelpText}</span>
</div>
