<div class="dijit dijitReset dijitInline dijitLeft idxComposite idxNoOutline" id="widget_${id}"	
    ><div class="idxLabel dijitInline dijitHidden" dojoAttachPoint="labelWrap"
        ><span class="idxRequiredIcon">*&nbsp</span
        ><label class="ismWidgetLabel" for="${id}" dojoAttachPoint="compLabelNode"></label
        ><div id="${id}_Hover" href="#bogus1" tabindex="0"
            class="ismWidgetHoverHelpIcon"
            onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div
        ><span id="${id}_Tooltip"
            data-dojo-attach-point="tooltipNode"
            data-dojo-type="idx.widget.HoverHelpTooltip"
            data-dojo-props='id:"${id}_Tooltip", connectId:["${id}_Hover"], forceFocus: true, showLearnMore:false'>${tooltipContent}</span
    ></div
    ><div dojoAttachPoint="stateNode, oneuiBaseNode" role="radiogroup" class="idxCompContainer idxNoOutline"
		><input type="hidden" dojoAttachPoint="focusNode, valueNode" class="dijitReset"></input
		><div dojoAttachPoint="containerNode"></div
		><div class="dijitReset dijitValidationContainer dijitInline" dojoAttachPoint="iconNode"
			><div class="dijitValidationIcon"><input class="dijitReset dijitInputField dijitValidationInner"
				value="&#935; " type="text" tabIndex="-1" readonly="readonly" role="presentation"
		/></div></div
	></div
></div>