<div id="widget_${id}" class="dijitInline dijitReset dijitLeft idxComposite" dojoAttachPoint="_popupStateNode"
	><div class="idxLabel dijitInline dijitHidden" dojoAttachPoint="labelWrap"><span class="idxRequiredIcon">*&nbsp</span><label class="ismWidgetLabel" for="${id}" dojoAttachPoint="compLabelNode"></label
	><div id="${id}_Hover" role="tooltip" aria-labelledby="${id}_Tooltip" href="#bogus1" tabindex="0"
		class="ismWidgetHoverHelpIcon"
		onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div
		><span id="${id}_Tooltip"
			data-dojo-attach-point="tooltipNode"
			data-dojo-type="idx.widget.HoverHelpTooltip"
			data-dojo-props='id:"${id}_Tooltip", connectId:["${id}_Hover"], forceFocus: true, showLearnMore:false'>${!tooltipContent}</span
	></div
	><div class="dijitInline" dojoAttachPoint="fieldWrap"
		><table class="dijit dijitReset dijitInline dijitLeft"
		dojoAttachPoint="_aroundNode,_buttonNode,tableNode,focusNode,stateNode,oneuiBaseNode" cellspacing='0' cellpadding='0'
		role="listbox" aria-haspopup="true"
			><tbody role="presentation"><tr role="presentation"
				><td id="${id}_comboBox" class="dijitReset dijitStretch dijitButtonContents dijitButtonNode" role="presentation"
					><span class="dijitReset dijitInline dijitButtonText"  dojoAttachPoint="containerNode"></span
					><input type="hidden" ${!nameAttrSetting} dojoAttachPoint="valueNode" value="${value}" aria-hidden="true"
				/></td
				><td id="${id}_downArrow"  class="dijitReset dijitRight dijitButtonNode dijitArrowButton dijitDownArrowButton" dojoAttachPoint="titleNode" role="presentation"
					><div class="dijitReset dijitArrowButtonInner" role="presentation"></div
					><div class="dijitReset dijitArrowButtonChar" role="presentation">&#9660;</div
				></td
			></tr></tbody
		></table
	></div
	><div class="idxUnit dijitInline dijitHidden" dojoAttachPoint="compUnitNode"></div
	><div class='dijitReset dijitValidationContainer dijitInline' dojoAttachPoint="iconNode"
		><div class="dijitValidationIcon"><input class="dijitReset dijitInputField dijitValidationInner" value="&#935; " type="text" tabIndex="-1" readonly="readonly" role="presentation"/></div
	></div
></div>
