<div>
	<div style='width: 600px;' data-dojo-type='ism.widgets.Dialog' data-dojo-attach-point='dialog'
		data-dojo-props='title: "${dialogTitle}", 
			autofocus: false,
            onEnter: function() {
				if(!dijit.byId("${dialogId}_saveButton").get("disabled")) {
					dojo.publish("${dialogId}_saveButton", ""); 
				} 
			},  
			closeButtonLabel: "${nls.appliance.dialog.cancelButton}",
			buttons: [ new dijit.form.Button({ 
				label: "${nls.appliance.dialog.saveButton}",
				id: "${dialogId}_saveButton",
				onClick: function() { dojo.publish("${dialogId}_saveButton", ""); }
			}),
				new dijit.form.Button({ 
				label: "${nls.appliance.dialog.testButton}",
				id: "${dialogId}_testButton", 
				onClick: function() { dojo.publish("${dialogId}_testButton", ""); }
			}) ]'>

		<form id="${dialogId}_form" data-dojo-type="dijit.form.Form">

			<div data-dojo-type='ism.widgets.TextBox' id="${dialogId}_server"
				data-dojo-attach-point='field_server'
				data-dojo-props='width: "150px", 
				labelAlignment: "horizontal",
				tooltipContent: "${dialogTooltip}",
				required: true'>
			</div>

		</form>

	</div>
</div>

