<div>
    <div data-dojo-type="dijit.PopupMenuBarItem" data-dojo-attach-point="serverMenuBarItem" class="ismServerMenu" id="ismServerMenu">
	    <span id = "ServerControl_serverLabel" data-dojo-attach-point="serverLabel">${serverLabel}${serverName}</span>
		<div id="ismServerMenu_menuDialog" data-dojo-type="idx.widget.MenuDialog" data-dojo-attach-point="menuDialog">
			<div style='display: inline-block; padding: 20px;' id='ismServerMenu_contents'>
				<!-- left section -->
				<div style='display: inline-block; vertical-align: top; padding: 1px 7px 0 0;' id='ismServerMenu_leftContents'>
		           <select id="ismServerMenu_server" data-dojo-type="idx.form.FilteringSelect"
		                data-dojo-attach-point='server'
		                data-dojo-attach-event="onChange:switchServer"
		                data-dojo-props='name:"ismServerMenu_server",
                               label:"${serverLabel}",
                               labelWidth: "200px", 
                               labelAlignment: "vertical", 
                               fieldWidth: "225px",
                               autoWidth: true,  
                               promptMessage: "${hintText}", 
                               placeHolder: "${hintText}", 
                               pageSize: 10, 
                               sortByLabel: true,
	                        store: new dojo.data.ItemFileWriteStore({
	                          data: {
	                            label: "name",
	                            identifier: "uid",
	                            items: []
	                          }
                               })'>
                       </select>							            	                
                   </div>
                   <div style='display: inline-block; vertical-align: top; padding: 7px 20px; border-left: 1px solid #CCC;' 
                        id='ismServerMenu_rightContents'>
                        <!-- right section -->
                        <span id='ismServerMenu_recentServersLabel'>${recentServersLabel}</span>
                        <div style="padding: 10px 0;" data-dojo-attach-point="recentServers" id="ismServerMenu_recentServers">                                                      
                        </div>                                              
                        <div style="padding: 20px 0;" data-dojo-attach-point="viewAll">
                            <a id="ServerControl_viewAllLink"
                                data-dojo-attach-point="viewAllLink" href="javascript:">${viewAllLabel}</a>
                        </div>                      
                   </div>
               </div>
		 </div>
	</div>
</div>