<div id="widget_${id}" class="dijitInline dijitReset dijitLeft idxComposite"
	><div class="idxLabel dijitInline dijitHidden" dojoAttachPoint="labelWrap"
		><span class="idxRequiredIcon">*&nbsp;</span
		><label class="ismWidgetLabel" for="${id}" dojoAttachPoint="compLabelNode"></label
		><div id="${id}_Hover" href="#bogus1" role="tooltip" aria-labelledby="${id}_Tooltip" tabindex="0"
			class="ismWidgetHoverHelpIcon"
			onmouseover="idx.widget.HoverHelpTooltip.defaultPosition=['above', 'below']"></div
		><span id="${id}_Tooltip"
			data-dojo-attach-point="tooltipNode"
			data-dojo-type="idx.widget.HoverHelpTooltip"
			data-dojo-props='id:"${id}_Tooltip", connectId:["${id}_Hover"], forceFocus: true, showLearnMore:false'>${!tooltipContent}</span
	></div
	><div class="dijitInline" dojoAttachPoint="fieldWrap"
		><div dojoAttachPoint='stateNode,oneuiBaseNode' class="dijit dijitReset dijitInline dijitLeft" role="presentation"
			><div class="dijitReset dijitInputField dijitInputContainer"
				><input class="dijitReset dijitInputInner" dojoAttachPoint='textbox,focusNode' autocomplete="off" ${!nameAttrSetting} type='${type}'
			/></div
		></div
		><div class="idxUnit dijitInline dijitHidden" dojoAttachPoint="compUnitNode"></div
		><div class='dijitReset dijitValidationContainer dijitInline' dojoAttachPoint="iconNode"
			><div class='dijitValidationIcon'
				><input class="dijitReset dijitInputField dijitValidationInner" value="&#935; " type="text" tabIndex="-1" readonly="readonly" role="presentation"
			/></div
		></div
		><div class="dijitHidden idxHintOutside" dojoAttachPoint="compHintNode"></div
	></div
></div>
