# Copyright (c) 2008-2021 Contributors to the Eclipse Foundation
# 
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
# 
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0
# 
# SPDX-License-Identifier: EPL-2.0
#
INITIAL_CONTEXT_FACTORY=com.sun.jndi.ldap.LdapCtxFactory
#INITIAL_CONTEXT_FACTORY=com.sun.jndi.fscontext.RefFSContextFactory
#INITIAL_CONTEXT_FACTORY=com.ibm.ejs.ns.jndi.CNInitialContextFactory
#INITIAL_CONTEXT_FACTORY=com.ibm.websphere.naming.WsnInitialContextFactory
#
#  The following line specifies the URL of the service provider's initial
#  context. It currently refers to an File System Context. Examples of a
#  LDAP root context URL and WebSphere's JNDI namespace are also shown, commented
#  out.
#
#  PROVIDER_URL needs changing to, e.g. file:///home/user/JNDI-Directory
#  on Unix platforms. The 'JNDI-Directory' folder needs to be created in the
#  location specified.
#
PROVIDER_URL=ldap://LDAP_URI/o=jndiTest
#PROVIDER_URL=file:.
#PROVIDER_URL=iiop://localhost/
#
#  The following line specifies the security authentication model in use,
#  and may be 'none' (for anonymous authentication), 'simple', or 'CRAM_MD5'.
#
SECURITY_AUTHENTICATION=simple
#
#  If you don't have SECURITY_AUTHENTICATION=none, then JMSAdmin will
#  prompt you for the User DN and password.  If you want to bypass these
#  prompts then you can specify one or both of the values here.  Since
#  the password here is in cleartext this is not normally recommended
#  except for testing.  You should replace these values with your own.
#
PROVIDER_USERDN=cn=Manager,o=jndiTest
PROVIDER_PASSWORD=secret
#
#
# The following line determines whether to use an InitialDirContext, or an
# InitialContext. Takes value of TRUE or FALSE.
#USE_INITIAL_DIR_CONTEXT=TRUE
#
# The following line specifies a prefix to add to names when carrying out operations such
# as lookup/bind.
#NAME_PREFIX=cn=
#
# The following line specifies a marker at which names will be truncated when viewing
# the contents of the Context.
#NAME_READABILITY_MARKER=..
#
# The three standard types of InitialContextFactory have the following defaults;
# Note that these defaults will be set automatically if the flags are not present, but
# will be overrided by including the flags.
#
#                               LDAP            FSCONTEXT       WEBSPHERE
# ------------------------------------------------------------------------------------
#  USE_INITIAL_DIR_CONTEXT      TRUE            FALSE           FALSE
#  NAME_PREFIX                  cn=             omitted         omitted
#  NAME_READABILITY_MARKER      omitted         omitted         ..
#


