#################################################################
# Fail.config is a minimal version of the test.config file.
# For a complete list of options that can be used, see test.config
#
# This configuration is only used for testing failure
# scenarios that would prevent an application from starting.
# The testTools_JCAfail.ear application contains only 1 MDB,
# which does absolutely nothing. It is expected to never actually
# launch successfully.
#

# variables from testEnv.sh or ISMsetup.sh
# used for creating admin objects
m1_name=M1_NAME
a1_host=A1_IPv4_1
a2_host=A2_IPv4_1

# variables for our test enterprise application
ear.name=testTools_JCAfail
ear.path=/WAS/testTools_JCAfail.ear

# some number of clusters to configure
# cluster.count=1
# cluster.name.0=cluster1

# some number of servers to configure
# server.count=1
# server.name.0=server1
# server.node.0=mar215node02

# Some number of message-driven beans
# used for creating activation specifications and installing application
cf.count=0
dest.count=0
mdb.count=1

mdb.name.0=FailMDB
mdb.dest.0=/send/Topic/Fail
mdb.destJNDI.0=sendTopic_Fail
mdb.type.0=javax.jms.Topic
mdb.port.0=18490
mdb.secure.0=false
