#######################################################
### Configuration file for Application Server setup ###
#######################################################
#
# Available options for ConnectionFactory (cf)
#  - count: total # of cf's being created
#  - name
#  - type
#  - port
#  - clientid
#  - secure
#  - securitySocketFactory
#  - securityConfiguration
#  - user
#  - password
#  - transactionSupportLevel
#  - maxconnectionpool (TODO: Add ability to set this)
#
# Available options for Destination (dest)
#  - count: total # of destination's being created
#  - name: the JNDI name
#  - type: topic or queue
#  - value: the actual name of this destination
#
# Available options for ActivationSpec (mdb)
#  - count: total # of act. spec's being created
#  - name                (to store this activation spec in JNDI)
#  - dest                (destination name)
#  - destJNDI            (JNDI name of destination lookup)
#  - type                (javax.jms.Queue or javax.jms.Topic)
#  - port                (port of MessageSight endpoint to connect to)
#  - secure              (true/false to use SSL)
#  - securitySocketFactory  (SSLSocketFactory class name, requires secure=true)
#  - securityConfiguration  (Parameter for SSLSocketFactory class constructor)
#  - user                (username to connect with)
#  - password            (password for username)
#  - durable             (true/false use durable subscription)
#  - subscriptionName    (name of subscription)
#  - shared              (true/false is subscription shared)
#  - ackMode             (1/2/3?)
#  - selector            (message selector to use)
#  - convertMessageType  (auto/bytes/text?)
#  - concurrentConsumers    (# of consumers to use for queue)
#  - clientid            (clientid to use for connection)
#  - maxDeliveryFailures       (# of delivery failures to allow before MDB is paused)
#  - ignoreFailuresOnStart  (true/false whether the app should start anyways if an MDB fails to connect)
#
# Available options for Cluster: (cluster)
#  - count:      (total # of clusters)
#  - name:       (name of cluster to configure)
#
# Available options for Server: (server)
#  - count:      (total # of servers)
#  - name:       (name of server to configure)
#  - node:       (name of node the server is on)
#
# A note about how the objects are indexed:
#   Object indexes start from 0.
#   Object Counts are the total number of that object.
#   If cf.count = 3, then there will be cf.0, cf.1, cf.2
#

# variables from testEnv.sh or ISMsetup.sh
# used for creating admin objects
m1_name=M1_NAME
a1_host=A1_IPv4_1
a2_host=A2_IPv4_1

# variables for our test enterprise application
ear.name=testTools_JCAtests
ear.path=/WAS/testTools_JCAtests.ear

# some number of clusters to configure
# cluster.count=1
# cluster.name.0=cluster1

# some number of servers to configure
# server.count=1
# server.name.0=server1
# server.node.0=mar215node02

# Some number of connection factory objects
cf.count=19

# Basic connection factory
cf.name.0=JMS_BASE_CF
cf.type.0=ConnectionFactory
cf.port.0=18490
cf.secure.0=false

# SSL Connection factory
cf.name.1=JMS_SECURE_CF
cf.type.1=ConnectionFactory
cf.port.1=18491
cf.secure.1=true
cf.securitySocketFactory.1=com.ibm.websphere.ssl.protocol.SSLSocketFactory
cf.securityConfiguration.1=ClusterDefaultSSLConfig

# test 2002
cf.name.2=JMS_SSLCONFIG2_CF
cf.type.2=ConnectionFactory
cf.port.2=18491
cf.secure.2=true
cf.securitySocketFactory.2=com.ibm.websphere.ssl.protocol.SSLSocketFactory
cf.securitySocketFactory.2=""

# test 2003
cf.name.3=JMS_SSLCONFIG3_CF
cf.type.3=ConnectionFactory
cf.port.3=18491
cf.secure.3=true
cf.securitySocketFactory.3=com.ibm.websphere.ssl.protocol.SSLSocketFactory
cf.securityConfiguration.3=ClusterDefaultSSLConfig

# test 2004
cf.name.4=JMS_SSLCONFIG4_CF
cf.type.4=ConnectionFactory
cf.port.4=18491
cf.secure.4=true
cf.securitySocketFactory.4=com.ibm.websphere.ssl.protocol.SSLSocketFactory
cf.securityConfiguration.4=DoesNotExist

# test 2005
cf.name.5=JMS_SSLCONFIG5_CF
cf.type.5=ConnectionFactory
cf.port.5=18491
cf.secure.5=true
cf.securitySocketFactory.5=com.ibm.jsse2.SSLSocketFactoryImpl

# test 2006
cf.name.6=JMS_SSLCONFIG6_CF
cf.type.6=ConnectionFactory
cf.port.6=18491
cf.secure.6=true
cf.securitySocketFactory.6=com.ibm.jsse2.SSLSocketFactoryImpl
cf.securitySocketFactory.6=""

# test 2007
cf.name.7=JMS_SSLCONFIG7_CF
cf.type.7=ConnectionFactory
cf.port.7=18491
cf.secure.7=true
cf.securitySocketFactory.7=com.ibm.ima.jca.test.DoesNotExist

# test 2008
cf.name.8=JMS_SSLCONFIG8_CF
cf.type.8=ConnectionFactory
cf.port.8=18491
cf.secure.8=true
cf.securitySocketFactory.8=""

# test 2009
cf.name.9=JMS_SSLCONFIG9_CF
cf.type.9=ConnectionFactory
cf.port.9=18491
cf.secure.9=true
cf.securitySocketFactory.9=""
cf.securityConfiguration.9=ClusterDefaultSSLConfig

# Servlet connection factory
cf.name.10=JMS_SERVLET_CF
cf.type.10=ConnectionFactory
cf.port.10=18490
cf.secure.10=false

# TX Connection factory
cf.name.11=JMS_TX_CF
cf.type.11=ConnectionFactory
cf.port.11=18490
cf.secure.11=false

# Change up some properties...
cf.name.12=JMS_USERAUTH_CF
cf.type.12=ConnectionFactory
cf.port.12=18492
cf.secure.12=true
cf.securitySocketFactory.12=""
cf.securityConfiguration.12=ClusterDefaultSSLConfig
cf.user.12=JCAUser1
cf.password.12=test

cf.name.13=JMS_CLIENTID_CF
cf.type.13=ConnectionFactory
cf.port.13=18490
cf.secure.13=false
cf.clientid.13=JCAClient
cf.maximumConnections.13=1
cf.unusedTimeout.13=15
cf.connectionTimeout.13=15

# Local transaction CF
cf.name.14=JMS_LOCALT_CF
cf.type.14=ConnectionFactory
cf.port.14=18490
cf.secure.14=false
cf.tranLevel.14=LocalTransaction

# No transaction CF
cf.name.15=JMS_NOTX_CF
cf.type.15=ConnectionFactory
cf.port.15=18490
cf.secure.15=false
cf.tranLevel.15=NoTransaction

# ConnectionFactory
cf.name.16=JMS_API_CF
cf.type.16=ConnectionFactory
cf.port.16=18490
cf.secure.16=false
cf.clientid.16=jmsapiclient1
cf.maximumConnections.16=1

# TopicConnectionFactory
cf.name.17=JMS_API_TCF
cf.type.17=TopicConnectionFactory
cf.port.17=18490
cf.secure.17=false
cf.clientid.17=jmsapiclient2
cf.maximumConnections.17=1

# QueueConnectionFactory
cf.name.18=JMS_API_QCF
cf.type.18=QueueConnectionFactory
cf.port.18=18490
cf.secure.18=false
cf.clientid.18=jmsapiclient3
cf.maximumConnections.18=1

# Some number of destination objects
dest.count=77

dest.name.0=sendTopic
dest.type.0=javax.jms.Topic
dest.value.0=/send/Topic

dest.name.1=replyTopic
dest.type.1=javax.jms.Topic
dest.value.1=/reply/Topic

dest.name.2=sendQueue
dest.type.2=javax.jms.Queue
dest.value.2=send.Queue

dest.name.3=replyQueue
dest.type.3=javax.jms.Queue
dest.value.3=reply.Queue

dest.name.4=sendTopicSsl
dest.type.4=javax.jms.Topic
dest.value.4=/send/ssl/Topic

dest.name.5=replyTopicSsl
dest.type.5=javax.jms.Topic
dest.value.5=/reply/ssl/Topic

dest.name.6=sendQueueSsl
dest.type.6=javax.jms.Queue
dest.value.6=send.ssl.Queue

dest.name.7=replyQueueSsl
dest.type.7=javax.jms.Queue
dest.value.7=reply.ssl.Queue

dest.name.8=sendTopic_BMT
dest.type.8=javax.jms.Topic
dest.value.8=/send/Topic/BMT

dest.name.9=replyTopic_BMT
dest.type.9=javax.jms.Topic
dest.value.9=/reply/Topic/BMT

dest.name.10=sendTopic_BMTUT
dest.type.10=javax.jms.Topic
dest.value.10=/send/Topic/BMTUT

dest.name.11=replyTopic_BMTUT
dest.type.11=javax.jms.Topic
dest.value.11=/reply/Topic/BMTUT

dest.name.12=sendTopic_CMT
dest.type.12=javax.jms.Topic
dest.value.12=/send/Topic/CMT

dest.name.13=replyTopic_CMT
dest.type.13=javax.jms.Topic
dest.value.13=/reply/Topic/CMT

dest.name.14=sendTopic_CMTR
dest.type.14=javax.jms.Topic
dest.value.14=/send/Topic/CMTR

dest.name.15=replyTopic_CMTR
dest.type.15=javax.jms.Topic
dest.value.15=/reply/Topic/CMTR

dest.name.16=sendTopic_CMTNS
dest.type.16=javax.jms.Topic
dest.value.16=/send/Topic/CMTNS

dest.name.17=replyTopic_CMTNS
dest.type.17=javax.jms.Topic
dest.value.17=/reply/Topic/CMTNS

dest.name.18=sendQueue_BMT
dest.type.18=javax.jms.Queue
dest.value.18=send.Queue.BMT

dest.name.19=replyQueue_BMT
dest.type.19=javax.jms.Queue
dest.value.19=reply.Queue.BMT

dest.name.20=sendQueue_BMTUT
dest.type.20=javax.jms.Queue
dest.value.20=send.Queue.BMTUT

dest.name.21=replyQueue_BMTUT
dest.type.21=javax.jms.Queue
dest.value.21=reply.Queue.BMTUT

dest.name.22=sendQueue_CMT
dest.type.22=javax.jms.Queue
dest.value.22=send.Queue.CMT

dest.name.23=replyQueue_CMT
dest.type.23=javax.jms.Queue
dest.value.23=reply.Queue.CMT

dest.name.24=sendQueue_CMTR
dest.type.24=javax.jms.Queue
dest.value.24=send.Queue.CMTR

dest.name.25=replyQueue_CMTR
dest.type.25=javax.jms.Queue
dest.value.25=reply.Queue.CMTR

dest.name.26=sendQueue_CMTNS
dest.type.26=javax.jms.Queue
dest.value.26=send.Queue.CMTNS

dest.name.27=replyQueue_CMTNS
dest.type.27=javax.jms.Queue
dest.value.27=reply.Queue.CMTNS

# Queue for sending test logs

dest.name.28=logTopic
dest.type.28=javax.jms.Topic
dest.value.28=/log/Topic

# Activation Specification property MDB destinations

dest.name.29=sendTopicDurable
dest.type.29=javax.jms.Topic
dest.value.29=/send/Topic/durable

dest.name.30=replyTopicDurable
dest.type.30=javax.jms.Topic
dest.value.30=/reply/Topic/durable

dest.name.31=sendTopicSelector
dest.type.31=javax.jms.Topic
dest.value.31=/send/Topic/selector

dest.name.32=replyTopicSelector
dest.type.32=javax.jms.Topic
dest.value.32=/reply/Topic/selector

dest.name.33=sendQueueSelector
dest.type.33=javax.jms.Queue
dest.value.33=send.Queue.selector

dest.name.34=replyQueueSelector
dest.type.34=javax.jms.Queue
dest.value.34=reply.Queue.selector

dest.name.35=sendTopicJndi
dest.type.35=javax.jms.Topic
dest.value.35=/send/Topic/jndi

dest.name.36=replyTopicJndi
dest.type.36=javax.jms.Topic
dest.value.36=/reply/Topic/jndi

dest.name.37=sendQueueJndi
dest.type.37=javax.jms.Queue
dest.value.37=send.Queue.jndi

dest.name.38=replyQueueJndi
dest.type.38=javax.jms.Queue
dest.value.38=reply.Queue.jndi

dest.name.39=sendTopicClientid
dest.type.39=javax.jms.Topic
dest.value.39=/send/Topic/clientid

dest.name.40=replyTopicClientid
dest.type.40=javax.jms.Topic
dest.value.40=/reply/Topic/clientid

dest.name.41=sendQueueClientid
dest.type.41=javax.jms.Queue
dest.value.41=send.Queue.clientid

dest.name.42=replyQueueClientid
dest.type.42=javax.jms.Queue
dest.value.42=reply.Queue.clientid

dest.name.43=sendTopicUserAuth
dest.type.43=javax.jms.Topic
dest.value.43=/send/userauth/Topic

dest.name.44=replyTopicUserAuth
dest.type.44=javax.jms.Topic
dest.value.44=/reply/userauth/Topic

dest.name.45=sendQueueUserAuth
dest.type.45=javax.jms.Queue
dest.value.45=send.userauth.Queue

dest.name.46=replyQueueUserAuth
dest.type.46=javax.jms.Queue
dest.value.46=reply.userauth.Queue

dest.name.47=sendSharedNondurable
dest.type.47=javax.jms.Topic
dest.value.47=/send/shared/nondurable

dest.name.48=replySharedNondurable
dest.type.48=javax.jms.Topic
dest.value.48=/reply/shared/nondurable

dest.name.49=sendSharedDurable
dest.type.49=javax.jms.Topic
dest.value.49=/send/shared/durable

dest.name.50=replySharedDurable
dest.type.50=javax.jms.Topic
dest.value.50=/reply/shared/durable

dest.name.51=sendSharedNondurableGlobal
dest.type.51=javax.jms.Topic
dest.value.51=/send/shared/nondurableGlobal

dest.name.52=replySharedNondurableGlobal
dest.type.52=javax.jms.Topic
dest.value.52=/reply/shared/nondurableGlobal

dest.name.53=sendSharedDurableGlobal
dest.type.53=javax.jms.Topic
dest.value.53=/send/shared/durableGlobal

dest.name.54=replySharedDurableGlobal
dest.type.54=javax.jms.Topic
dest.value.54=/reply/shared/durableGlobal

dest.name.55=sendTopic_enableRB
dest.type.55=javax.jms.Topic
dest.value.55=/send/Topic/enableRB

dest.name.56=replyTopic_enableRB
dest.type.56=javax.jms.Topic
dest.value.56=/reply/Topic/enableRB

dest.name.57=replyTopic_maxmsg
dest.type.57=javax.jms.Topic
dest.value.57=/reply/maxmsg

dest.name.58=sendTopic_CMTNSenableRB
dest.type.58=javax.jms.Topic
dest.value.58=/send/Topic/CMTNSenableRB

dest.name.59=replyTopic_CMTNSenableRB
dest.type.59=javax.jms.Topic
dest.value.59=/reply/Topic/CMTNSenableRB

dest.name.60=sendTopic_pause
dest.type.60=javax.jms.Topic
dest.value.60=/send/Topic/Pause

dest.name.61=replyTopic_pause
dest.type.61=javax.jms.Topic
dest.value.61=/reply/Topic/Pause

dest.name.62=sendTopic_DurableCMTR
dest.type.62=javax.jms.Topic
dest.value.62=/send/Topic/DurableCMTR

dest.name.63=replyTopic_DurableCMTR
dest.type.63=javax.jms.Topic
dest.value.63=/reply/Topic/DurableCMTR

dest.name.64=sendTopicClientIDConflict
dest.type.64=javax.jms.Topic
dest.value.64=/send/Topic/clientidconflict

dest.name.65=replyTopicClientIDConflict
dest.type.65=javax.jms.Topic
dest.value.65=/reply/Topic/clientidconflict

dest.name.66=jmsapiservlettopic
dest.type.66=javax.jms.Topic
dest.value.66=/jmsapi/servlet/topic

dest.name.67=jmsapiservletqueue
dest.type.67=javax.jms.Queue
dest.value.67=jmsapi.servlet.queue

dest.name.68=jmsapiservletdest
dest.type.68=javax.jms.Topic
dest.value.68=jmsapi/servlet/dest

dest.name.69=sendTopicWildcard
dest.type.69=javax.jms.Topic
dest.value.69=/send/Topic/wildcard/#

dest.name.70=sendTopicWildcardPublish
dest.type.70=javax.jms.Topic
dest.value.70=/send/Topic/wildcard/publish

dest.name.71=replyTopicWildcard
dest.type.71=javax.jms.Topic
dest.value.71=/reply/Topic/wildcard

dest.name.72=jmsapiservletsharedtopic
dest.type.72=javax.jms.Topic
dest.value.72=/jmsapi/servlet/sharedtopic

dest.name.73=sendTopic_DurableBMTUT
dest.type.73=javax.jms.Topic
dest.value.73=/send/Topic/DurableBMTUT

dest.name.74=replyTopic_DurableBMTUT
dest.type.74=javax.jms.Topic
dest.value.74=/reply/Topic/DurableBMTUT

dest.name.75=sendTopicMQTTText
dest.type.75=javax.jms.Topic
dest.value.75=/send/Topic/MQTT/Text

dest.name.76=sendTopicMQTTBytes
dest.type.76=javax.jms.Topic
dest.value.76=/send/Topic/MQTT/Bytes

# Some number of message-driven beans
# used for creating activation specifications and installing application
mdb.count=36

# CMT Beans

mdb.name.0=MDBTopicBean_ContainerNS
mdb.dest.0=/send/Topic/CMTNS
mdb.destJNDI.0=sendTopic_CMTNS
mdb.type.0=javax.jms.Topic
mdb.port.0=18490
mdb.secure.0=false

mdb.name.1=MDBQueueBean_ContainerNS
mdb.dest.1=send.Queue.CMTNS
mdb.destJNDI.1=sendQueue_CMTNS
mdb.type.1=javax.jms.Queue
mdb.port.1=18490
mdb.secure.1=false

mdb.name.2=MDBTopicBean_ContainerR
mdb.dest.2=/send/Topic/CMTR
mdb.destJNDI.2=sendTopic_CMTR
mdb.type.2=javax.jms.Topic
mdb.port.2=18490
mdb.secure.2=false

mdb.name.3=MDBQueueBean_ContainerR
mdb.dest.3=send.Queue.CMTR
mdb.destJNDI.3=sendQueue_CMTR
mdb.type.3=javax.jms.Queue
mdb.port.3=18490
mdb.secure.3=false

mdb.name.4=MDBTopicBean_Container
mdb.dest.4=/send/Topic/CMT
mdb.destJNDI.4=sendTopic_CMT
mdb.type.4=javax.jms.Topic
mdb.port.4=18490
mdb.secure.4=false

mdb.name.5=MDBQueueBean_Container
mdb.dest.5=send.Queue.CMT
mdb.destJNDI.5=sendQueue_CMT
mdb.type.5=javax.jms.Queue
mdb.port.5=18490
mdb.secure.5=false

# BMT Beans

mdb.name.6=MDBTopicBean_BMT
mdb.dest.6=/send/Topic/BMT
mdb.destJNDI.6=sendTopic_BMT
mdb.type.6=javax.jms.Topic
mdb.port.6=18490
mdb.secure.6=false

mdb.name.7=MDBQueueBean_BMT
mdb.dest.7=send.Queue.BMT
mdb.destJNDI.7=sendQueue_BMT
mdb.type.7=javax.jms.Queue
mdb.port.7=18490
mdb.secure.7=false

mdb.name.8=MDBTopicBean_BMTUT
mdb.dest.8=/send/Topic/BMTUT
mdb.destJNDI.8=sendTopic_BMTUT
mdb.type.8=javax.jms.Topic
mdb.port.8=18490
mdb.secure.8=false

mdb.name.9=MDBQueueBean_BMTUT
mdb.dest.9=send.Queue.BMTUT
mdb.destJNDI.9=sendQueue_BMTUT
mdb.type.9=javax.jms.Queue
mdb.port.9=18490
mdb.secure.9=false

# SSL MDB's

mdb.name.10=MDBSecureTopic
mdb.dest.10=/send/ssl/Topic
mdb.destJNDI.10=sendTopicSsl
mdb.type.10=javax.jms.Topic
mdb.port.10=18491
mdb.secure.10=true
mdb.securitySocketFactory.10=com.ibm.websphere.ssl.protocol.SSLSocketFactory
mdb.securityConfiguration.10=ClusterDefaultSSLConfig

mdb.name.11=MDBSecureQueue
mdb.dest.11=send.ssl.Queue
mdb.destJNDI.11=sendQueueSsl
mdb.type.11=javax.jms.Queue
mdb.port.11=18491
mdb.secure.11=true
mdb.securitySocketFactory.11=com.ibm.websphere.ssl.protocol.SSLSocketFactory
mdb.securityConfiguration.11=ClusterDefaultSSLConfig

# Default MDB's

mdb.name.12=MDBTopicBean_basic
mdb.dest.12=/send/Topic
mdb.destJNDI.12=sendTopic
mdb.type.12=javax.jms.Topic
mdb.port.12=18490
mdb.secure.12=false

mdb.name.13=MDBQueueBean_basic
mdb.dest.13=send.Queue
mdb.destJNDI.13=sendQueue
mdb.type.13=javax.jms.Queue
mdb.port.13=18490
mdb.secure.13=false

# Message Selector MDB

mdb.name.14=MDBTopicBean_selector
mdb.dest.14=/send/Topic/selector
mdb.destJNDI.14=sendTopicSelector
mdb.type.14=javax.jms.Topic
mdb.port.14=18490
mdb.secure.14=false
mdb.selector.14=TestProperty='Blue'

mdb.name.15=MDBQueueBean_selector
mdb.dest.15=send.Queue.selector
mdb.destJNDI.15=sendQueueSelector
mdb.type.15=javax.jms.Queue
mdb.port.15=18490
mdb.secure.15=false
mdb.selector.15=TestProperty='Blue'

# JNDI MDB

mdb.name.16=MDBTopicBean_jndi
mdb.destJNDI.16=sendTopicJndi
mdb.type.16=javax.jms.Topic
mdb.port.16=18490
mdb.secure.16=false

mdb.name.17=MDBQueueBean_jndi
mdb.destJNDI.17=sendQueueJndi
mdb.type.17=javax.jms.Queue
mdb.port.17=18490
mdb.secure.17=false

# User/Password MDB

mdb.name.18=MDBTopicBean_userauth
mdb.dest.18=/send/userauth/Topic
mdb.destJNDI.18=sendTopicUserAuth
mdb.type.18=javax.jms.Topic
mdb.port.18=18492
mdb.secure.18=true
mdb.securitySocketFactory.18=com.ibm.websphere.ssl.protocol.SSLSocketFactory
mdb.securityConfiguration.18=ClusterDefaultSSLConfig
mdb.user.18=JCAUser1
mdb.password.18=test

mdb.name.19=MDBQueueBean_userauth
mdb.dest.19=send.userauth.Queue
mdb.destJNDI.19=sendQueueUserAuth
mdb.type.19=javax.jms.Queue
mdb.port.19=18492
mdb.secure.19=true
mdb.securitySocketFactory.19=com.ibm.websphere.ssl.protocol.SSLSocketFactory
mdb.securityConfiguration.19=ClusterDefaultSSLConfig
mdb.user.19=JCAUser1
mdb.password.19=test

# ClientID MDB

mdb.name.20=MDBTopicBean_clientid
mdb.dest.20=/send/Topic/clientid
mdb.destJNDI.20=sendTopicClientid
mdb.type.20=javax.jms.Topic
mdb.port.20=18490
mdb.secure.20=false
mdb.clientid.20=JCAClientTopic

mdb.name.21=MDBQueueBean_clientid
mdb.dest.21=send.Queue.clientid
mdb.destJNDI.21=sendQueueClientid
mdb.type.21=javax.jms.Queue
mdb.port.21=18490
mdb.secure.21=false
mdb.clientid.21=JCAClientQueue

# Durable MDB

mdb.name.22=MDBTopicBean_durable
mdb.dest.22=/send/Topic/durable
mdb.destJNDI.22=sendTopicDurable
mdb.type.22=javax.jms.Topic
mdb.port.22=18490
mdb.secure.22=false
mdb.durable.22=Durable
mdb.subscriptionName.22=durableSub
mdb.clientid.22=durableSubClient

# nondurable shared without clientid
mdb.name.23=MDBSharedBean_nondurableglobal
mdb.dest.23=/send/shared/nondurableGlobal
mdb.destJNDI.23=sendSharedNondurableGlobal
mdb.type.23=javax.jms.Topic
mdb.port.23=18490
mdb.secure.23=false
mdb.durable.23=NonDurable
mdb.subscriptionName.23=nondurableSharedSubGlobal
mdb.shared.23=Shared

# durable shared with clientid
mdb.name.24=MDBSharedBean_durable
mdb.dest.24=/send/shared/durable
mdb.destJNDI.24=sendSharedDurable
mdb.type.24=javax.jms.Topic
mdb.port.24=18490
mdb.secure.24=false
mdb.concurrentConsumers.24=5
mdb.durable.24=Durable
mdb.subscriptionName.24=durableSharedSub
mdb.shared.24=Shared
mdb.clientid.24=durableSharedSubClient

# durable shared without clientid
mdb.name.25=MDBSharedBean_durableglobal
mdb.dest.25=/send/shared/durableGlobal
mdb.destJNDI.25=sendSharedDurableGlobal
mdb.type.25=javax.jms.Topic
mdb.port.25=18490
mdb.secure.25=false
mdb.durable.25=Durable
mdb.subscriptionName.25=durableSharedSubGlobal
mdb.shared.25=Shared

# nondurable shared with clientid
mdb.name.26=MDBSharedBean_nondurable
mdb.dest.26=/send/shared/nondurable
mdb.destJNDI.26=sendSharedNondurable
mdb.type.26=javax.jms.Topic
mdb.port.26=18490
mdb.secure.26=false
mdb.concurrentConsumers.26=5
mdb.durable.26=NonDurable
mdb.subscriptionName.26=nondurableSharedSub
mdb.shared.26=Shared
mdb.clientid.26=nonDurableSharedSubClient

# non-transacted enableRollback MDB
mdb.name.27=MDBTopicBean_enableRB
mdb.dest.27=/send/Topic/enableRB
mdb.destJNDI.27=sendTopic_enableRB
mdb.type.27=javax.jms.Topic
mdb.port.27=18490
mdb.secure.27=false
mdb.enableRollback.27=true

# CMT non-transacted enableRollback MDB
mdb.name.28=MDBTopicBean_CMTNSenableRB
mdb.dest.28=/send/Topic/CMTNSenableRB
mdb.destJNDI.28=sendTopic_CMTNSenableRB
mdb.type.28=javax.jms.Topic
mdb.port.28=18490
mdb.secure.28=false
mdb.enableRollback.28=true

# Pause MDB
mdb.name.29=MDBTopicBean_pause
mdb.dest.29=/send/Topic/Pause
mdb.destJNDI.29=sendTopic_pause
mdb.type.29=javax.jms.Topic
mdb.port.29=18490
mdb.secure.29=false
mdb.enableRollback.29=false
mdb.maxDeliveryFailures.29=5

mdb.name.30=MDBTopicBean_DurableCMTR
mdb.dest.30=/send/Topic/DurableCMTR
mdb.destJNDI.30=sendTopic_DurableCMTR
mdb.type.30=javax.jms.Topic
mdb.port.30=18490
mdb.secure.30=false
mdb.durable.30=Durable
mdb.subscriptionName.30=durableCMTRsub
mdb.shared.30=Shared

mdb.name.31=MDBClientIDConflict
mdb.dest.31=/send/Topic/clientidconflict
mdb.destJNDI.31=sendTopicClientIDConflict
mdb.type.31=javax.jms.Topic
mdb.port.31=18490
mdb.secure.31=false
mdb.clientid.31=clientIDConflict
mdb.ignoreFailuresOnStart.31=true
mdb.maxDeliveryFailures.31=5
mdb.subscriptionName.31=clientIDConflictsub
mdb.durable.31=Durable

mdb.name.32=MDBTopicBean_wildcard
mdb.dest.32=/send/Topic/wildcard/#
mdb.destJNDI.32=sendTopicWildcard
mdb.type.32=javax.jms.Topic
mdb.port.32=18490
mdb.secure.32=false

mdb.name.33=MDBTopicBean_DurableBMTUT
mdb.dest.33=/send/Topic/DurableBMTUT
mdb.destJNDI.33=sendTopic_DurableBMTUT
mdb.type.33=javax.jms.Topic
mdb.port.33=18490
mdb.secure.33=false
mdb.durable.33=Durable
mdb.subscriptionName.33=durableBMTUTsub
mdb.shared.33=Shared

mdb.name.34=MDBTopicBean_MQTTBytes
mdb.dest.34=/send/Topic/MQTT/Bytes
mdb.destJNDI.34=sendTopicMQTTBytes
mdb.type.34=javax.jms.Topic
mdb.port.34=18490
mdb.secure.34=false
mdb.convertMessageType.34=bytes

mdb.name.35=MDBTopicBean_MQTTText
mdb.dest.35=/send/Topic/MQTT/Text
mdb.destJNDI.35=sendTopicMQTTText
mdb.type.35=javax.jms.Topic
mdb.port.35=18490
mdb.secure.35=false
mdb.convertMessageType.35=text
