<h1>
	<span data-dojo-type="ism.widgets.ExternalString"
		  data-dojo-props="source: '${nlsAppl.adminEndpointPageTitle}'"></span>
</h1>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString"
	data-dojo-props="source: '${nlsAppl.adminEndpointPageTagline}'"></span>
<br /><br />
<div data-dojo-type="ism.controller.content.AdminSuperUser" 
     data-dojo-props='id: "adminSuperUser"'></div>
<br /><br />     
<div data-dojo-type="ism.controller.content.AdminEndpointConfig" 
     data-dojo-props='id: "adminEndpointConfig"'></div>
<br /><br />
<div data-dojo-type="ism.controller.content.ConfigurationPolicyList" 
     data-dojo-props='id: "configPolicyList"'></div>
     