<h1>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsMsg.messaging.users.title}'" />
</h1>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsMsg.messaging.users.tagline}'"></span>
<br /><br />

<h2>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsMsg.messaging.externldap.subTitle}'" />
</h2>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsMsg.messaging.externldap.tagline}'"></span>
<br /><br />

<div data-dojo-type="ism.controller.content.ExternalLDAP"
	data-dojo-props='id: "exldap",
						itemName: "${nls.messaging.externldap.itemName}",
						validChars: ".*",
						instruction: "${nls.messaging.externldap.addDialog.instruction}",						
						restURI: "rest/config/ldap/connections",
						certificatesURI: "rest/config/certificateProfiles",
						userGridID: "msgusers",
						groupGridID: "msggroups",
						addDialogTitle: "${nls.messaging.externldap.addDialog.title}",
						editDialogTitle: "${nls.messaging.externldap.editDialog.title}",
						removeDialogTitle: "${nls.messaging.externldap.removeDialog.title}"
					'></div>
					