<h1>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsAppl.appliance.systemControl.pageTitle}'" />
</h1>

<br />

<h2>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsAppl.appliance.systemControl.messagingServer.subTitle}'" />
</h2>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsAppl.appliance.systemControl.messagingServer.tagLine}'"></span>
<br /><br />
<div data-dojo-type="ism.controller.content.MessagingServerControl" data-dojo-props='id: "messagingServerControl", topic: "${Resources.pages.appliance.nav.systemControl.topic}"'></div>
<br /><br />

<h2>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsAppl.appliance.systemControl.mqconnectivity.subTitle}'" />
</h2>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsAppl.appliance.systemControl.mqconnectivity.tagLine}'"></span>
<br /><br />
<div data-dojo-type="ism.controller.content.MQConnectivityControl" data-dojo-props='id: "mqConnectivityControl", topic: "${Resources.pages.appliance.nav.systemControl.topic}"'></div>
<br /><br />

<h2>
    <span data-dojo-type="ism.widgets.ExternalString"
        data-dojo-props="source: '${nlsSnmp.title}'" />
</h2>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsSnmp.tagLine}'"></span>
<br /><br />
<div data-dojo-type="ism.controller.content.SNMPControl" data-dojo-props='id: "snmpControl", topic: "${Resources.pages.appliance.nav.systemControl.topic}"'></div>
<br /><br />

<h2>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsAppl.appliance.systemControl.logLevel.subTitle}'" />
</h2>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsAppl.remoteLogLevelTagLine}'"></span>
<br />
<span id="LogLevelWarnArea"></span>
<span id="MQLogLevelWarnArea"></span>
<br /><br />
<div data-dojo-type="ism.controller.content.LogLevelControl" data-dojo-props='id: "logLevelControl", logType: "LogLevel", topic: "${Resources.pages.appliance.nav.systemControl.topic}", process: "ism"'></div>
<div data-dojo-type="ism.controller.content.LogLevelControl" data-dojo-props='id: "connectionLogControl", logTooltipKey: "connectionTooltip", logKey: "connectionLog", logType: "ConnectionLog", topic: "${Resources.pages.appliance.nav.systemControl.topic}", process: "ism"'></div>
<div data-dojo-type="ism.controller.content.LogLevelControl" data-dojo-props='id: "securityLogControl", logTooltipKey: "securityTooltip", logKey: "securityLog", logType: "SecurityLog", topic: "${Resources.pages.appliance.nav.systemControl.topic}", process: "ism"'></div>
<div data-dojo-type="ism.controller.content.LogLevelControl" data-dojo-props='id: "adminLogControl", logTooltipKey: "adminTooltip", logKey: "adminLog", logType: "AdminLog", topic: "${Resources.pages.appliance.nav.systemControl.topic}", process: "ism"'></div>
<div data-dojo-type="ism.controller.content.LogLevelControl" data-dojo-props='id: "mqconnectivityLogControl", logTooltipKey: "mqconnectivityTooltip", logKey: "mqconnectivityLog", logType: "MQConnectivityLog", topic: "${Resources.pages.appliance.nav.systemControl.topic}", process: "mqconnectivity"'></div>

