<h1>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsAppl.appliance.securitySettings.title}'" />
</h1>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsAppl.appliance.securitySettings.tagline}'"></span>
<br /><br />
<h2>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsAppl.appliance.securitySettings.systemWideSubTitle}'" />
</h2>

<div data-dojo-type="ism.controller.content.SystemWideSecurity"
	data-dojo-props='restURI: "rest/config/appliance/fips"'></div>

<br /><br />

<h2>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsAppl.appliance.securitySettings.certificateProfilesSubTitle}'" />
</h2>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsAppl.appliance.securitySettings.certificateProfilesTagline}'"></span>
<br /><br />

<div data-dojo-type="ism.controller.content.CertificateProfiles"
	data-dojo-props='id: "certprofiles",
		certificatesURI: "rest/config/certificateProfiles",
		addDialogTitle: "${nls.appliance.certificateProfiles.addDialogTitle}",
		editDialogTitle: "${nls.appliance.certificateProfiles.editDialogTitle}",
		removeDialogTitle: "${nls.appliance.certificateProfiles.removeDialogTitle}"'></div>

<br /><br />

<h2>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsAppl.appliance.securitySettings.ltpaProfilesSubTitle}'" />
</h2>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsAppl.appliance.securitySettings.ltpaProfilesTagline}'"></span>
<br /><br />

<div data-dojo-type="ism.controller.content.LtpaProfiles"
	data-dojo-props='id: "ltpaprofiles",
		addDialogTitle: "${nls.appliance.ltpaProfiles.addDialogTitle}",
		editDialogTitle: "${nls.appliance.ltpaProfiles.editDialogTitle}",
		removeDialogTitle: "${nls.appliance.ltpaProfiles.removeDialogTitle}"'></div>

<br /><br />

<h2>
    <span data-dojo-type="ism.widgets.ExternalString"
        data-dojo-props="source: '${nlsAppl.appliance.securitySettings.oAuthProfilesSubTitle}'" />
</h2>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsAppl.appliance.securitySettings.oAuthProfilesTagline}'"></span>
<br /><br />

<div data-dojo-type="ism.controller.content.OAuthProfiles"
    data-dojo-props='id: "oAuthprofiles",
        addDialogTitle: "${nls.appliance.oAuthProfiles.addDialogTitle}",
        editDialogTitle: "${nls.appliance.oAuthProfiles.editDialogTitle}",
        removeDialogTitle: "${nls.appliance.oAuthProfiles.removeDialogTitle}"'></div>

<br /><br />

<h2>
	<span data-dojo-type="ism.widgets.ExternalString"
		data-dojo-props="source: '${nlsAppl.appliance.securitySettings.securityProfilesSubTitle}'"></span>
</h2>
<span class="tagline" data-dojo-type="ism.widgets.ExternalString" data-dojo-props="source: '${nlsAppl.appliance.securitySettings.securityProfilesTagline}'"></span>
<br /><br />

<div data-dojo-type="ism.controller.content.SecurityProfiles"
	data-dojo-props='id: "secprofiles",
		restURI: "rest/config/securityProfiles",
		addDialogTitle: "${nls.appliance.securityProfiles.addDialogTitle}",
		editDialogTitle: "${nls.appliance.securityProfiles.editDialogTitle}",
		removeDialogTitle: "${nls.appliance.securityProfiles.removeDialogTitle}"'></div>

<br /><br />
