/* Message menus
 * 
 * Styling consists of:
 *  - classes to mark menu items with the appropriate icons
 *  
 */

/* Styles for menu item icons for each message class */
.oneui .dijitMenuTable .oneuiMenuColumn tr:first-child .dijitMenuArrowCell,
.oneui .dijitMenuTable .oneuiMenuColumn tr:first-child .dijitMenuItemIconCell,
.oneui .dijitMenuTable .oneuiMenuColumn tr:first-child .dijitMenuItemLabel,
.oneui .dijitMenuTable .oneuiMenuColumn tr:first-child .oneuiMenuHeadingLabel{
		border-top: 1px solid white;
}

.oneuiErrorMenuItemIcon,
.oneuiWarningMenuItemIcon,
.oneuiConfirmationMenuItemIcon,
.oneuiSuccessMenuItemIcon,
.oneuiInformationMenuItemIcon,
.oneuiCriticalMenuItemIcon,
.oneuiAttentionMenuItemIcon,
.oneuiComplianceMenuItemIcon {
	display: inline-block;
	width: 16px;
	height: 16px; 
}

.oneuiErrorMenuItemIcon,
.oneuiWarningMenuItemIcon,
.oneuiConfirmationMenuItemIcon,
.oneuiSuccessMenuItemIcon,
.oneuiInformationMenuItemIcon{
	background-image: url('images/msgIcons_24bit.png');
}

.dj_ie6 .oneuiErrorMenuItemIcon,
.dj_ie6 .oneuiWarningMenuItemIcon,
.dj_ie6 .oneuiConfirmationMenuItemIcon,
.dj_ie6 .oneuiSuccessMenuItemIcon,
.dj_ie6 .oneuiInformationMenuItemIcon {
	background-image: url('images/msgIcons_8bit.png');
}

.oneuiErrorMenuItemIcon {
	background-position: -1px -1px;
}

.oneuiWarningMenuItemIcon {
	background-position: -19px -1px;
}

.oneuiConfirmationMenuItemIcon {
	background-position: -37px -1px;
}

.oneuiSuccessMenuItemIcon {
	background-position: -55px -1px;
}

.oneuiInformationMenuItemIcon {
	background-position: -73px -1px;
}

.oneuiErrorMenuItemIcon,
.oneuiAttentionMenuItemIcon,
.oneuiComplianceMenuItemIcon{
	background-image: url('images/alertIcons_24bit.png');
}

.dj_ie6 .oneuiErrorMenuItemIcon,
.dj_ie6 .oneuiAttentionMenuItemIcon,
.dj_ie6 .oneuiComplianceMenuItemIcon{
	background-image: url('images/alertIcons_8bit.png');
}

.oneuiCriticalMenuItemIcon {
	background-position: -1px 0;
}

.oneuiAttentionMenuItemIcon {
	background-position: -37px 0;
}

.oneuiComplianceMenuItemIcon {
	background-position: -55px 0;
}

/* Styles for menu items */

.oneui .oneuiMessageMenu .dijitMenuItem td,
.oneui .oneuiMessageMenu .oneuiMenuHeading td {
	padding: 10px 0;
	border-bottom: 1px solid #f0f0f0;
	border-top: 1px solid #ffffff;
}

.oneui .oneuiHeaderNavigationMenu .oneuiMessageMenu.dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.dijitMenuItemLabel,
.oneui .oneuiHeaderNavigationSubmenu .oneuiMessageMenu.dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.dijitMenuItemLabel,
.oneui .oneuiHeaderNavigationMenu .oneuiMessageMenu.dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.oneuiMenuHeadingLabel,
.oneui .oneuiHeaderNavigationSubmenu .oneuiMessageMenu.dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.oneuiMenuHeadingLabel,
.oneui .oneuiHeader2ndLevMenu .oneuiMessageMenu.dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.dijitMenuItemLabel,
.oneui .oneuiHeader2ndLevSubmenu .oneuiMessageMenu.dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.dijitMenuItemLabel,
.oneui .oneuiHeader2ndLevMenu .oneuiMessageMenu.dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.oneuiMenuHeadingLabel,
.oneui .oneuiHeader2ndLevSubmenu .oneuiMessageMenu.dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.oneuiMenuHeadingLabel,
.oneui .oneuiHeaderGlobalActionsMenu .oneuiMessageMenu.dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.dijitMenuItemLabel,
.oneui .oneuiHeaderGlobalActionsSubmenu .oneuiMessageMenu.dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.dijitMenuItemLabel,
.oneui .oneuiHeaderGlobalActionsMenu .oneuiMessageMenu.dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.oneuiMenuHeadingLabel,
.oneui .oneuiHeaderGlobalActionsSubmenu .oneuiMessageMenu.dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused td.oneuiMenuHeadingLabel {
	padding: 10px 0;
}

.oneui .oneuiMessageMenu.dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused>td.dijitMenuItemIconCell {
	padding-bottom: 10px;
}
.oneui .oneuiMessageMenu.dijitMenuTable tr.dijitMenuItem.dijitMenuItemFocused:first-child>td.dijitMenuItemIconCell{
	padding-bottom: 10px;
}

.oneui .oneuiMessageMenu td.dijitMenuItemIconCell {
	padding-left: 15px;
	padding-right: 8px;
}

.oneui .oneuiMessageMenu td.dijitMenuItemLabel,
.oneui .oneuiMessageMenu td.oneuiMenuHeadingLabel {
	
}

.oneui .oneuiMessageMenu .dijitMenuItemHover {
	background-color: #cce8f2;
}

.oneui .oneuiMessageMenu .messageMenuTimestamp {
	float: right;
	padding-left: 1.5em;
}

/**************************/
/* Styles for MenuHeading */
/**************************/

.oneui .dijitMenuBar .oneuiMenuHeading {
	padding: 6px 10px 7px 10px;
	margin: 0 3px 0 2px;
	color: #222222;
	margin-left: -1px;
}

.dj_ie6 .oneui .dijitMenuBar .oneuiMenuHeading{
	margin-top: -1px;
}

.oneui .oneuiMenuHeading td {
	padding: 1px;
	border-bottom: 1px solid white;
}

.dijit_a11y .oneuiMenuHeading td {
	border-bottom: none;
}

.oneui .dijitMenuTable tr:first-child .oneuiMenuHeadingLabel{
	border-top: 1px solid white;
}

.oneui td.oneuiMenuHeadingLabel {
	padding-top: 4px;
	padding-bottom: 3px;
}

/* RTL */
.oneui .dijitMenuBarRtl .oneuiMenuHeading{
	margin-right: -1px;
}

/* Styles for MenuHeading when in a select dropdown. */
.oneui .dijitMenuPopup .dijitSelectMenu .oneuiMenuHeadingLabel {
	margin: 1px 0 1px 0;
	padding: 3px 10px 4px 10px;
}
.oneui .dijitSelectMenu td.oneuiMenuHeadingLabel {
	/* line up menu text with text in select box (in LTR and RTL modes) */

	padding: 2px;
}

/* Styles for MenuHeading in a combo-box. */
.oneui .dijitComboBoxMenu .oneuiMenuHeading {
	margin: 1px 0 1px 0;
	padding: 3px 10px 4px 10px;
}

.oneui .dijitMenuTable .oneuiMenuHeading{
	border: 1px solid #ffffff;
}

.oneuiMenuHeadingLabel {
	position: static;
}

