/* Tree 
 * 
 * Styling Tree mostly means styling the TreeRow (dijitTreeRow)
 * There are 4 basic states to style:
 * 
 * Tree Row:
 * 1. tree row (default styling): 
 * 		.dijitTreeRow - styles for each row of the tree
 *
 * 2. hovered tree row (mouse hover on a tree row)
 * 		.dijitTreeRowHover - styles when mouse over on one row
 * 
 * 3. active tree row (mouse down on a tree row)
 * 		.dijitTreeRowActive - styles when mouse down on one row
 * 
 * 4. selected tree row
 * 		dijitTreeRowSelected - style when the row has been selected
 * 
 * Tree Expando:
 * 	    dijitTreeExpando - the expando at the left of the text of each tree row
 * 
 * Drag and Drop on TreeNodes: (insert line on dijitTreeContent node so it'll aligned w/ target element)
 * 		.dijitTreeNode .dojoDndItemBefore/.dojoDndItemAfter - use border style simulate a separate line
 */

/* base styling is inherited from Tree.css for the theme */

.oneui .dijitTree.idxNavTree .dijitTreeRow, 
.oneui .dijitTree.idxNavTree .dijitTreeNode .dojoDndItemBefore, 
.oneui .dijitTree.idxNavTree .dijitTreeNode .dojoDndItemAfter {
	padding-top: 5px;
}

.oneui .dijitTree.idxNavTree .dijitTreeLabel {
	margin-left: 2px;
}

.dijitRtl .oneui .dijitTree.idxNavTree .dijitTreeLabel {
	margin-left: 0px;
	margin-right: 2px;
}

.oneui .dijitTree.idxNavTree .dijitTreeRow.dijitTreeRowSelected {
	font-weight: bold;
	}

/** nav-tree-specific stuff */
.oneui .dijitTree.idxNavTree .dijitTreeExpando {
	width: 7px;
	background-position: -20px 0;
	margin-left: 5px;
}

.dijitRtl .oneui .dijitTree.idxNavTree .dijitTreeExpando {
    margin-right: 5px;
    margin-left: 0px;
}
	
.oneui .dijitTree.idxNavTree .dijitTreeExpandoClosed {
	background-position: -4px 0;
}

.oneui .dijitTree.idxNavTree.idxNavTreeNoHighlight .dijitTreeIcon {
	margin-left: 3px;
}
.dijitRtl .oneui .dijitTree.idxNavTree.idxNavTreeNoHighlight .dijitTreeIcon {
	margin-left: 0px;
	margin-right: 3px;
}

.oneui .dijitTree.idxNavTree.idxNavTreeHideIcons .dijitTreeIcon, 
.oneui .dijitTree.idxNavTree.idxNavTreeHideIcons .dijitTreeIcon.idxNavTreeHiddenIcon,
.oneui .dijitTree.idxNavTree.idxNavTreeHideIcons .dijitTreeIcon.idxNavTreeNoIcon {
	visibility: hidden;
	display: none;
}

.oneui .dijitTree.idxNavTree.idxNavTreeHideBadges .idxNavTreeNodeBadge {
	visibility: hidden;
	display: none;
}

.oneui .dijitTree.idxNavTree.idxNavTreeHiddenIcon,
.oneui .dijitTree.idxNavTree.idxNavTreeNoIcon {
	background-image: none;
	visibility: hidden;
	display: inline; /* maintain the spacing for even indentation if others have icons */
}

.oneui .dijitTree.idxNavTree .idxNavTreeNodeBadge .idxNavTreeNodeBadgeIcon {
	width: 16px;
	height: 16px;
	display: inline-block;
	visbility: visible;
	vertical-align: top;
	margin-top: -1px;
}

.oneui .dijitTree.idxNavTree .idxNavTreeNodeBadge.idxNavTreeNodeNoBadgeIcon .idxNavTreeNodeBadgeIcon,
.oneui .dijitTree.idxNavTree .idxNavTreeNodeNoBadgeIcon.idxNavTreeNodeBadge .idxNavTreeNodeBadgeIcon {
	width: 0px;
	height: 0px;
	background-image: none;
	visibility: hidden;
	display: none; /* completely hide the badge icon including its spacing */
}

.oneui .dijitTree.idxNavTree .idxNavTreeNodeBadge .idxNavTreeNodeBadgeLabel {
	position: absolute;  /* position off-screen unless no icon is present */
	width: 0px;
	height: 0px;
	top: -10000px;
	float: none;
}

.oneui .dijitTree.idxNavTree .idxNavTreeNodeBadge.idxNavTreeNodeNoBadgeIcon .idxNavTreeNodeBadgeLabel,
.oneui .dijitTree.idxNavTree .idxNavTreeNodeNoBadgeIcon.idxNavTreeNodeBadge .idxNavTreeNodeBadgeLabel {
	position: static;  /* show the label when no icon is present */
	width: auto;
	height: auto;
	top: 0px;
	font-size: 75%;
	font-weight: bold;
	background-color: #107bbb;
	color: #ffffff;
	padding: 2px 4px 1px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border: none;
	display: inline-block;
}

/* no badge label and no badge icon then hide badge completely */
.oneui .dijitTree.idxNavTree .idxNavTreeNodeBadge.idxNavTreeNodeNoBadgeLabel.idxNavTreeNodeNoBadgeIcon,
.oneui .dijitTree.idxNavTree .idxNavTreeNodeBadge.idxNavTreeNodeNoBadgeIcon.idxNavTreeNodeNoBadgeLabel  {
	visibility: hidden;
	display: none; /* completely hide the badge icon including its spacing */
}

.oneui .dijitTree.idxNavTree .idxNavTreeNodeBadge.idxNavTreeNodeNoBadgeLabel .idxNavTreeNodeBadgeLabel,
.oneui .dijitTree.idxNavTree .idxNavTreeNodeBadge.idxNavTreeNodeNoBadgeLabel.idxNavTreeNodeNoBadgeIcon .idxNavTreeNodeBadgeLabel,
.oneui .dijitTree.idxNavTree .idxNavTreeNodeBadge.idxNavTreeNodeNoBadgeIcon.idxNavTreeNodeNoBadgeLabel .idxNavTreeNodeBadgeLabel {
	display: none;		/* hide the label when none is present */
	visibility: hidden;
}

.oneui .dijitTree.idxNavTree .idxNavTreeNodeSelectMarker {
	width: 0px;
	height: 0px;
	display: none;
	visibility: hidden;
	vertial-align: middle;
}

.oneui .dijitTree.idxNavTree.idxNavTreeNoHighlight .idxNavTreeNodeSelectMarker {
	width: 6px;
	height: 6px;
	display: inline-block;
	visibility: hidden;
	bottom: 1px;
	position: relative;
	border: 0px none transparent;
	padding: 0px;
	margin: 0px 1px 0 0;
}

.oneui .dijitTree.idxNavTree.idxNavTreeNoHighlight .dijitTreeRowSelected .idxNavTreeNodeSelectMarker,
.oneui .dijitTree.idxNavTree.idxNavTreeNoHighlight .dijitTreeRowSelected.dijitTreeRowHover .idxNavTreeNodeSelectMarker {
	visibility: visible;
	background-color: #008abf;
	border: 0px none transparent;
	padding: 0px;
	margin: 0 1px 0 0;
}

.oneui .dijitTree.idxNavTree.idxNavTreeNoHighlight .dijitTreeRow.dijitTreeRowSelected {
	background-color: rgba(171, 214, 255, 0);
    background-position: 0 0;
    background-repeat: repeat-x;
    backgrond-image: none;
    color: #000000;
}

.oneui .dijitTree.idxNavTree.idxNavTreeNoHighlight .dijitTreeRow.dijitTreeRowSelected.dijitTreeRowHover {
	background-color: #cce8f2;
	}
