.oneui .idxSloshBucket {
	padding: 0;	
}

.oneui .idxSloshBucket .gridx .gridxRow .gridxCell {
	padding: 5px;
	word-wrap: break-word;
	min-width: auto !important;
	max-width: none !important;
}

.oneui .idxSloshBucket .gridx .gridxHeaderRow .gridxCell {
	padding: 7px 5px;
}

.oneui .idxSloshBucket.dijitSloshBucketDisabled .gridx .gridxRow .gridxCell {	
	color: #555555;
}

.oneui .idxSloshBucket .gridx .gridxRow .gridxRowTable,
.oneui .idxSloshBucket .gridx .gridxHeaderRowInner table {
	width: 100%;
}

.oneui .idxSloshBucket .idxSloshBucketMainBorder {
	width: 100%;
	height: 100%;
	position: relative;
}

.oneui .idxSloshBucket .idxSloshBucketMainBorder .idxSloshBucketLeftPane,
.oneui .idxSloshBucket .idxSloshBucketMainBorder .idxSloshBucketRightPane {
	width: 50%;
	height: 100%;
	position: absolute;
}
.oneui .idxSloshBucket .idxSloshBucketMainBorder .idxSloshBucketRightPane {
	right: 0;
	top: 0
}

.oneui .idxSloshBucket .idxSloshBucketValuesGridAndButtonsBorder,
.oneui .idxSloshBucket .idxSloshBucketAvailableGridAndButtonsBorder {
	position: relative;
	width: 96%;
	height: 100%;
}

.oneui .idxSloshBucket .idxSloshBucketValuesGridAndButtonsBorder .idxSloshBucketValuesContentPane,
.oneui .idxSloshBucket .idxSloshBucketAvailableGridAndButtonsBorder .idxSloshBucketAvailableContentPane {
	position: absolute;
	top: 0; 
	left: 0;
	right: 35px;
	bottom: 0;
}
.oneui .idxSloshBucket .idxSloshBucketValuesGridAndButtonsBorder .idxSloshBucketValuesContentPane.idxSloshBucketHideSortButtons {
	right: 0;
}

.oneui .idxSloshBucket .idxSloshBucketAvailableGridContainer,
.oneui .idxSloshBucket .idxSloshBucketValuesGridContainer {
	height: 100%;
	width: 100%;  
}		

.oneui .idxSloshBucket .idxSloshBucketAddRemoveButtonPane,
.oneui .idxSloshBucket .idxSloshBucketMoveUpDownButtons {
    width: 30px;
	padding-left: 5px;
	position: absolute;
	top: 50%;
	bottom: 0;
	right: 0px;
	margin-top: -31px;
	min-width: 0 !important;
}

.oneui .idxSloshBucket .dijitButton .dijitButtonNode {
	padding: 5px !important;
	min-width: 16px !important; 
}

.dijitRtl .oneui .idxSloshBucket .idxSloshBucketMainBorder .idxSloshBucketRightPane {
	left: 0;    
    right: inherit;    
}

.dijitRtl .oneui .idxSloshBucket .idxSloshBucketValuesGridAndButtonsBorder .idxSloshBucketValuesContentPane,
.dijitRtl .oneui .idxSloshBucket .idxSloshBucketAvailableGridAndButtonsBorder .idxSloshBucketAvailableContentPane {
	right: 0;
	left: 35px;
}

.dijitRtl .oneui .idxSloshBucket .idxSloshBucketAddRemoveButtonPane,
.dijitRtl .oneui .idxSloshBucket .idxSloshBucketMoveUpDownButtons {    
	padding-right: 5px;
	right: inherit;
    padding-left: inherit;
    left: 0;
    min-width: 0 !important;
}

.oneui .idxSloshBucket .idxSloshBucketMoveDownButton,
.oneui .idxSloshBucket .idxSloshBucketMoveUpButton,
.oneui .idxSloshBucket .idxSloshBucketAddButton,
.oneui .idxSloshBucket .idxSloshBucketRemoveButton {
	width: 16px;
	height: 16px;
	background: url(images/fullArrowsSprite.png) no-repeat;
}
	
.oneui .idxSloshBucket .dijitButtonDisabled .idxSloshBucketMoveDownButton,
.oneui .idxSloshBucket .dijitButtonDisabled .idxSloshBucketMoveUpButton,
.oneui .idxSloshBucket .dijitButtonDisabled .idxSloshBucketAddButton,
.oneui .idxSloshBucket .dijitButtonDisabled .idxSloshBucketRemoveButton {
	opacity: .2;
	filter:alpha(opacity=20); /* For IE 8 */
}

.oneui .idxSloshBucket .idxSloshBucketMoveDownButton {
	background-position: 0 0;
}
	
.oneui .idxSloshBucket .idxSloshBucketMoveUpButton {
	background-position: -50px 0;
}
	
.oneui .idxSloshBucket .idxSloshBucketAddButton,
.dijitRtl .oneui .idxSloshBucket .idxSloshBucketRemoveButton { 
	background-position: -100px 0;
}
	
.oneui .idxSloshBucket .idxSloshBucketRemoveButton,
.dijitRtl .oneui .idxSloshBucket .idxSloshBucketAddButton {
	background-position: -150px 0;
}