.oneui .idxTooltipDialogCloseIcon {
	background-image: url("images/popupClose.png");
	width: 28px;
	height: 28px;
	position: absolute;
	right: -13px;
	top: -13px;
	z-index: 10001;
	line-height: 0;
	cursor: pointer;
}

.oneui .idxTooltipDialogCloseIcon .idxTooltipDialogCloseText{
	display: none;
    position: absolute;
    right: 18px;
    top: 20px;
}

.dj_a11y .oneui .dijitTooltipDialog .idxTooltipDialogCloseIcon .idxTooltipDialogCloseText,
.dj_a11y.oneui .dijitTooltipDialog .idxTooltipDialogCloseIcon .idxTooltipDialogCloseText {
	display: block;
}

.oneui .dijitTooltipDialog.dijitTooltipRight .idxTooltipDialogCloseIcon {
	right: -8px;
	top: -8px;
}

.oneui .dijitTooltipDialog.dijitTooltipLeft .idxTooltipDialogCloseIcon {
	left: -8px;
	top: -8px;
}

.oneui .dijitTooltipDialog.dijitTooltipAbove .idxTooltipDialogCloseIcon {
	right: -8px;
	top: -8px;
}

.oneui .dijitTooltipDialog.dijitTooltipBelow .idxTooltipDialogCloseIcon {
	right: -8px;
	top: -4px;
}

.dijitRtl .oneui .dijitTooltipDialog.dijitTooltipRight .idxTooltipDialogCloseIcon {
	right: -8px; 
}
.dijitRtl .oneui .dijitTooltipDialog.dijitTooltipLeft .idxTooltipDialogCloseIcon {
	right: auto; 
	left: -8px; 
}
.dijitRtl .oneui .dijitTooltipDialog.dijitTooltipAbove .idxTooltipDialogCloseIcon {
	right: auto; 
	left: -18px;
}
.dijitRtl .oneui .dijitTooltipDialog.dijitTooltipBelow .idxTooltipDialogCloseIcon {
	right: auto; 
	left: -21px;
}
